pkgbase = powerpc64le-unknown-linux-gnu-pacman
	pkgdesc = Pacman configurations for powerpc64le-unknown-linux-gnu to install dependencies for cross-compilation
	pkgver = 2025.11
	pkgrel = 1
	url = https://archlinuxpower.org
	install = pacman.install
	arch = any
	depends = powerpc64le-unknown-linux-gnu-gcc
	depends = powerpc64le-unknown-linux-gnu-glibc
	backup = etc/pacman-powerpc64le.conf
	source = pacman-arch.sh
	source = pacman.conf
	source = fakebase.desc
	sha256sums = 5fd18c74198312560579d900af2b0e52b757b47fb70e4f78e995b29cf0b5ee7a
	sha256sums = 2fb7c0ecd3005b7657d5c0eeb72d98026acc83d91f52711406c22f0984bd6f66
	sha256sums = cad4db736b292ca966fb6dae40f65e602ecd87401e4899e62a67817ab6522791

pkgname = powerpc64le-unknown-linux-gnu-pacman
