pkgbase = umockdev
	pkgdesc = Record/mock hardware devices for bug reports and regression tests
	pkgver = 0.19.1
	pkgrel = 1
	url = https://github.com/martinpitt/umockdev/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL
	makedepends = meson
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = vala
	depends = systemd
	depends = libgudev
	depends = libpcap
	source = https://github.com/martinpitt/umockdev/releases/download/0.19.1/umockdev-0.19.1.tar.xz
	sha256sums = 2cece0e8e366b89b4070be74f3389c9f7fa21aca56d8a5357e96e30cd8d4f426

pkgname = umockdev
