pkgbase = iio-sensor-proxy
	pkgdesc = IIO accelerometer sensor to input device proxy
	pkgver = 3.9
	pkgrel = 1
	url = https://gitlab.freedesktop.org/hadess/iio-sensor-proxy/
	arch = x86_64
	license = GPL-3.0-only
	checkdepends = python-dbusmock
	checkdepends = python-gobject
	checkdepends = python-psutil
	checkdepends = umockdev
	makedepends = git
	makedepends = meson
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libgudev
	depends = libssc
	depends = polkit
	source = git+https://gitlab.freedesktop.org/hadess/iio-sensor-proxy#tag=3.9
	sha512sums = 6667d70fd01285f9b48fa2dfc829e3186773457c4430f8373a8e0b4e25b0f31ee2780a3766206a13bcfb2721ce10978713b8bf61c844da027c444a754f910473

pkgname = iio-sensor-proxy
