pkgbase = python-durationpy
	pkgdesc = Module for converting between datetime.timedelta and Go's time.Duration strings
	pkgver = 0.9
	pkgrel = 2
	url = https://github.com/icholy/durationpy
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = https://github.com/icholy/durationpy/archive/0.9/python-durationpy-0.9.tar.gz
	sha256sums = 0f932886b257a20c79a1fcebdcd115492b3bc07707fee8a939cf1b46e8674542

pkgname = python-durationpy
