pkgbase = txt2tags
	pkgdesc = A text formatting and conversion tool.
	pkgver = 3.9
	pkgrel = 4
	url = http://www.txt2tags.org
	arch = any
	license = GPL
	makedepends = python-setuptools
	depends = python
	source = https://files.pythonhosted.org/packages/27/17/c9cdebfc86e824e25592a20a8871225dad61b6b6c0101f4a2cb3434890dd/txt2tags-3.9.tar.gz
	sha256sums = 7e4244db6a63aaa58fc17fa4cdec62b6fb89cc41d3a00ba4edaffa37f27d6746

pkgname = txt2tags
