pkgbase = python-pypubsub
	pkgdesc = Python publish-subcribe library
	pkgver = 4.0.4
	pkgrel = 1
	url = https://github.com/schollii/pypubsub
	arch = any
	license = BSD-2-Clause
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/schollii/pypubsub.git#tag=v4.0.4
	sha512sums = 38895ea1ebe4fef25090adac3b1e72324242dff043606849cab0ac5de2c79671956c3a96f2be56e812036342d4eaddcb21a951e44cead17ea8a9a04771e4640a

pkgname = python-pypubsub
