pkgbase = tde-tdeio-locate
	pkgdesc = tdeio-slave for the locate command
	pkgver = 14.1.5
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/tdeio-locate
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = tde-complete
	license = GPL
	makedepends = tde-cmake-trinity
	depends = tde-tdelibs
	provides = tdeio-locate
	conflicts = trinity-kdeio-locate
	conflicts = kdemod3-kdeio-locate
	replaces = trinity-tdeio-locate
	options = staticlibs
	options = libtool
	options = !strip
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.5/main/applications/tdeio/tdeio-locate-trinity-14.1.5.tar.xz
	md5sums = afc9fa6e11ae349e54742252f86a13dc

pkgname = tde-tdeio-locate
