pkgbase = python-pyasn1-modules
	pkgdesc = A collection of ASN.1-based protocols modules
	pkgver = 0.4.2
	pkgrel = 2
	url = https://github.com/pyasn1/pyasn1-modules
	arch = any
	license = BSD-2-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-pyasn1
	source = https://github.com/pyasn1/pyasn1-modules/archive/v0.4.2/pyasn1-modules-0.4.2.tar.gz
	sha512sums = 7c4feab23a8c5ab72549387586894d1d53a3ad8b9d12cc5774b1d1f5192873f87da2e3525059fdda5b5884a52908ce79df274e3b75ee1f42af32e83ceb3f9167

pkgname = python-pyasn1-modules
