pkgbase = fltk
	pkgdesc = Graphical user interface toolkit for X
	pkgver = 1.4.4
	pkgrel = 3
	url = https://www.fltk.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL-2.0-only WITH FLTK-exception
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = doxygen
	makedepends = fontconfig
	makedepends = glu
	makedepends = libglvnd
	makedepends = libjpeg-turbo
	makedepends = libpng
	makedepends = libx11
	makedepends = libxcursor
	makedepends = libxfixes
	makedepends = libxft
	makedepends = libxinerama
	makedepends = libxrender
	makedepends = libxkbcommon
	makedepends = libdecor
	makedepends = pango
	makedepends = cairo
	makedepends = mesa
	makedepends = wayland-protocols
	source = https://github.com/fltk/fltk/archive/release-1.4.4/fltk-release-1.4.4.tar.gz
	sha512sums = 51ca9fd8d5903bbfb4d18145dd85a89f2e4281baf224d34d0a8b67591ff8b00b151cf1b353fd3871a1456d443848a7f69df8ecc6c959fbf6135d019d97099c28
	b2sums = 2028e00060a4c9016ce94c2a04e007b4de1ab4bfa051e65d381505e7815c82978540d86f07a1baaf8a398f28410ba20244ac51a31c521dd471701335b27dcfde

pkgname = fltk
	depends = fontconfig
	depends = libfontconfig.so
	depends = gcc-libs
	depends = glibc
	depends = glu
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libpng
	depends = libx11
	depends = libxcursor
	depends = libxext
	depends = libxfixes
	depends = libxft
	depends = libxinerama
	depends = libxrender
	depends = libxkbcommon
	depends = libdecor
	depends = pango
	depends = cairo
	depends = sh
	provides = libfltk_images.so
	provides = libfltk_gl.so
	provides = libfltk_forms.so
	provides = libfltk.so
	options = !docs
	options = staticlibs

pkgname = fltk-docs
	pkgdesc = Graphical user interface toolkit for X - documentation
