pkgbase = brltty
	pkgdesc = Braille display driver for Linux/Unix
	pkgver = 6.6
	pkgrel = 11
	url = https://brltty.app
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = alsa-lib
	makedepends = at-spi2-atk
	makedepends = at-spi2-core
	makedepends = atk
	makedepends = bluez-libs
	makedepends = cython
	makedepends = dbus
	makedepends = dracut
	makedepends = espeak-ng
	makedepends = expat
	makedepends = festival
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = glib2
	makedepends = gpm
	makedepends = icu
	makedepends = java-environment
	makedepends = libcap
	makedepends = liblouis
	makedepends = libspeechd
	makedepends = libxaw
	makedepends = ncurses
	makedepends = ocaml-ctypes
	makedepends = ocaml-findlib
	makedepends = pcre2
	makedepends = polkit
	makedepends = python-setuptools
	makedepends = speech-dispatcher
	makedepends = strip-nondeterminism
	makedepends = systemd-libs
	makedepends = tcl
	options = !emptydirs
	source = https://github.com/brltty/brltty/archive/refs/tags/BRLTTY-6.6.tar.gz
	source = brltty-6.2-systemd_sysusers_groups.patch
	source = brltty-6.4-x11_autostart.patch
	source = https://github.com/brltty/brltty/commit/e6707d5e.patch
	sha512sums = a2cdcebd1f527aefa6dbfebcb6ec86e74bc42faa3b50130efd151a37b4e508b0da5dd1283800bead06b4f5f1f1f5a606cb1a7385fad812e02c6431e0e2943c69
	sha512sums = 32ba91271e2247b4a330cd213ed75b591268cb99a79c2efd9ae675804faee027c6b2f782768cb2329a65fc914ca2400b2901f35ce1fc2522c6691b343799eb02
	sha512sums = 4871512affefbc178f4204a1b285fc2b5a05ea2d181163195d695b760e9729b3d2d00b5f052abd71379df609c3859d7cbd64128bdefd16e898bbc4368500a9a0
	sha512sums = a7419af607daf70dac2192cae5a3efa3af275024ec6b371f2d108c2c7a29b1df6864e9668b86e69e2a172eeb0e27acb3f4c3c0d56574d54f990694cadfe89252
	b2sums = 04db7239ee9b2e6318eb235bc7c6a6407fc9519042d37a95dbb9661bd4cb4c4c6e6261230d963402ffcb22189ee00777a62067fe5b2677b0724a7f06cd3a774d
	b2sums = 036e36d558594bb06af1eb41ff5fc9ae52ccf4bad54556c3f4f81a5e2f31f574039835e5e756455527c327a73d563a3db54a9f32e3478545a2a22c2725aaeee2
	b2sums = 4ebc07a725ef8362233a83118e93901e78943e8dae08f9358b668ff13ab88a65eb9e87c49d106a8c3d87eb62007b230e199107eacb01f92dc683335076c01309
	b2sums = ad794586a149587511a3e1fb47ecbb2b881a3c078ed10a37cf25007459773a2bafc4c3bb500d4db8ee62e9c5c908e82f5bce593b8cfd2563fcc553e0defb6980

pkgname = brltty
	install = brltty.install
	depends = alsa-lib
	depends = libasound.so
	depends = bluez-libs
	depends = dbus
	depends = libdbus-1.so
	depends = expat
	depends = libexpat.so
	depends = glib2
	depends = libgio-2.0.so
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = glibc
	depends = gpm
	depends = libgpm.so
	depends = icu
	depends = libicuuc.so
	depends = libcap
	depends = liblouis
	depends = libspeechd
	depends = ncurses
	depends = libncursesw.so
	depends = pcre2
	depends = polkit
	depends = systemd-libs
	depends = libsystemd.so
	optdepends = at-spi2-core: X11/GNOME Apps accessibility
	optdepends = atk: ATK bridge for X11/GNOME accessibility
	optdepends = brltty-udev-generic: for initializing brltty with generic USB devices
	optdepends = espeak-ng: espeak-ng driver
	optdepends = java-runtime: Java support
	optdepends = libxaw: X11 support
	optdepends = libxt: X11 support
	optdepends = libx11: for xbrlapi
	optdepends = libxfixes: for xbrlapi
	optdepends = libxtst: for xbrlapi
	optdepends = ocaml: OCaml support
	optdepends = python: Python support
	optdepends = speech-dispatcher: speech-dispatcher driver
	optdepends = tcl: tcl support
	provides = libbrlapi.so
	backup = etc/brltty.conf
	backup = etc/X11/xinit/xinitrc.d/90xbrlapi

pkgname = brltty-udev-generic
	pkgdesc = Generic udev rules for brltty
	depends = brltty
