pkgbase = plasma-disks
	pkgdesc = Monitors S.M.A.R.T. capable devices for imminent failure
	pkgver = 6.7.2
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = plasma
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	depends = glibc
	depends = kauth
	depends = kcmutils
	depends = kconfig
	depends = kcoreaddons
	depends = kdbusaddons
	depends = kdeclarative
	depends = ki18n
	depends = kinfocenter
	depends = kio
	depends = kirigami
	depends = knotifications
	depends = kservice
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = smartmontools
	depends = solid
	source = https://download.kde.org/stable/plasma/6.7.2/plasma-disks-6.7.2.tar.xz
	source = https://download.kde.org/stable/plasma/6.7.2/plasma-disks-6.7.2.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = b00cec03108fd2e9f4142f39c62fa8a6ab566c60c9a28755f41e3a8fd1c3a791
	sha256sums = SKIP

pkgname = plasma-disks
