pkgbase = ghostscript
	pkgdesc = An interpreter for the PostScript language
	pkgver = 10.06.0
	pkgrel = 1
	url = https://www.ghostscript.com/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = AGPL-3.0-or-later
	makedepends = gtk3
	makedepends = gnutls
	makedepends = glu
	makedepends = freeglut
	depends = libxt
	depends = libcups
	depends = fontconfig
	depends = zlib
	depends = libpng
	depends = libjpeg-turbo
	depends = jbig2dec
	depends = libtiff
	depends = lcms2
	depends = libpaper
	depends = ijs
	depends = openjpeg2
	depends = libidn
	depends = poppler-data
	depends = cairo
	depends = glibc
	depends = libx11
	depends = gdk-pixbuf2
	depends = glib2
	depends = sh
	optdepends = gtk3: needed for gsx
	conflicts = ghostpcl
	conflicts = ghostxps
	replaces = ghostpcl
	replaces = ghostxps
	source = https://github.com/ArtifexSoftware/ghostpdl-downloads/releases/download/gs10060/ghostscript-10.06.0.tar.xz
	source = 2010_add_build_timestamp_setting.patch
	source = gcc15.patch
	sha512sums = e9efa6a334cf34703f565f5043dd794452270415b34c2bea260e9dac6c72ebbcbedfa2e4cb9029841f8f582bbce91be8160e135a190081f3262bcf04417f80f1
	sha512sums = cd7794ee4f28b11177021b950196385200b610127ed6cb94a45e3202b690b721a0dfcc0276ff39448d4dab64c1b31a76e6c323696a8315aad9edc22077f18a3d
	sha512sums = 248ff8c61f8988286705aec0931b891287546db5d0e60564fa6878198490b0b7b8922d61ef9a1d059aade200e1a3c856b8d39cde04f9f67ec076a616d868aeac

pkgname = ghostscript
