pkgbase = gupnp-av
	pkgdesc = Library to ease handling and implementation of UPnP A/V profiles
	pkgver = 0.14.3
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/GUPnP
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = LGPL-2.1-or-later
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = vala
	depends = glib2
	depends = glibc
	depends = libxml2
	source = git+https://gitlab.gnome.org/GNOME/gupnp-av.git#tag=gupnp-av-0.14.3
	b2sums = 78d905d0d0c2c46be1fc9d8602894ec2f684fb3d137ff740b1cb06f8d02766654eba8815ae91ab6451e098af59b1ee7a247393926978b94ad4d2b2bd2d7a608f

pkgname = gupnp-av
	depends = glib2
	depends = glibc
	depends = libxml2
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	provides = libgupnp-av-1.0.so
