pkgbase = qt5-multimedia
	pkgdesc = Classes for audio, video, radio and camera functionality
	pkgver = 5.15.17+kde+r2
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = qt5-declarative
	makedepends = gst-plugins-bad
	makedepends = git
	depends = qt5-base
	depends = gst-plugins-base
	depends = libpulse
	depends = openal
	optdepends = qt5-declarative: QML bindings
	optdepends = gst-plugins-good: camera support, additional plugins
	optdepends = gst-plugins-bad: camera support, additional plugins
	optdepends = gst-plugins-ugly: additional plugins
	optdepends = gst-libav: ffmpeg plugin
	source = kde-qtmultimedia::git+https://invent.kde.org/qt/qt/qtmultimedia#commit=d342547886448dacf38d2933cd40322c7435ee86
	sha256sums = 2db3af11044bd1dad5682afc8126b667c754cd75370271175730714b8ee57925

pkgname = qt5-multimedia
