pkgbase = ruby-falcon
	pkgdesc = A fast, asynchronous, rack-compatible web server
	pkgver = 0.48.4
	pkgrel = 3
	url = https://github.com/socketry/falcon
	arch = any
	license = MIT
	checkdepends = ruby-async-process
	checkdepends = ruby-async-websocket
	checkdepends = ruby-bake
	checkdepends = ruby-bake-test
	checkdepends = ruby-bake-test-external
	checkdepends = ruby-covered
	checkdepends = ruby-decode
	checkdepends = ruby-puma
	checkdepends = ruby-rackup
	checkdepends = ruby-sus
	checkdepends = ruby-sus-fixtures-async
	checkdepends = ruby-sus-fixtures-async-http
	checkdepends = ruby-sus-fixtures-openssl
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-async
	depends = ruby-async-container
	depends = ruby-async-http
	depends = ruby-async-http-cache
	depends = ruby-async-service
	depends = ruby-bundler
	depends = ruby-localhost
	depends = ruby-process-metrics
	depends = ruby-protocol-http
	depends = ruby-protocol-rack
	depends = ruby-samovar
	options = !emptydirs
	source = https://github.com/socketry/falcon/archive/v0.48.4/ruby-falcon-0.48.4.tar.gz
	sha512sums = 3c020cc0255781fe524355391b3db792c5984b371379fe92294d395014e1677af19e4bfee9b0e3f8fdb4ddf0787e841ea34f166fc1dea83b75b526133d57f2f9
	b2sums = 6c8654949b331939ce1c2cecec920cd4852a2c0893348e4eab8d26b5b7e58e94dbbd7e3d94b20d441ffd8717911cc038297c0255f03e6823de67f42d0cfb13f8

pkgname = ruby-falcon
