pkgbase = scdoc
	pkgdesc = Tool for generating roff manual pages
	pkgver = 1.11.4
	pkgrel = 1
	url = https://git.sr.ht/~sircmpwn/scdoc/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	source = scdoc-1.11.4.tar.gz::https://git.sr.ht/~sircmpwn/scdoc/archive/1.11.4.tar.gz
	sha512sums = f8950bbef5213a89746185d5ed29fbee2502235632db883afaaac515dc87c60559bc1a39e2a3ea3bb019675e6039bd2d3b5c5d117a0ad022b61c958fb9407877

pkgname = scdoc
