pkgbase = python-pyparsing
	pkgdesc = General parsing module for Python
	pkgver = 3.2.2
	pkgrel = 1
	url = https://github.com/pyparsing/pyparsing/
	arch = any
	license = MIT
	checkdepends = python-jinja
	checkdepends = python-railroad-diagrams
	checkdepends = python-pytest
	checkdepends = python-matplotlib
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-flit-core
	depends = python
	optdepends = python-railroad-diagrams: for generating Railroad Diagrams
	optdepends = python-jinja: for generating Railroad Diagrams
	source = git+https://github.com/pyparsing/pyparsing.git#tag=3.2.2
	sha512sums = 5f8f123729b51b98138f0c8bd8faa67ec43489f0771a714f0297da7c46c64b816c9bca1aec9a1bbd44dd83b3b656c5e59420daeb597059d49afd24548fc93d78

pkgname = python-pyparsing
