pkgbase = qcoro
	pkgdesc = C++ Coroutines for Qt
	pkgver = 0.12.0
	pkgrel = 1
	url = https://github.com/danvratil/qcoro
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-websockets
	provides = qcoro-qt6
	conflicts = qcoro-qt6
	replaces = qcoro-qt6
	source = git+https://github.com/danvratil/qcoro#tag=v0.12.0
	sha256sums = ef4b5ee809ee03f25497fa17d3c73478c506876cb44f4a0bf311ac1705a5c500

pkgname = qcoro
