pkgbase = apache-orc
	pkgdesc = Columnar storage for Hadoop workloads.
	pkgver = 2.3.0
	pkgrel = 6
	url = https://orc.apache.org
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = Apache-2.0
	checkdepends = gtest
	makedepends = cmake
	makedepends = git
	depends = abseil-cpp
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = lz4
	depends = protobuf
	depends = snappy
	depends = zlib
	depends = zstd
	source = apache-orc::git+https://github.com/apache/orc.git#tag=v2.3.0
	source = fix-find-package-mode.patch
	validpgpkeys = F28C9C925C188C35E345614DEDA00CE834F0FC5C
	validpgpkeys = AA94E2A8F0A0B7167305C5232D9F6201DECDFA29
	sha256sums = 512b8f41f9bbdd789ec4d66d5f9331d93df9af90736ee4f77ea4c252d4967d8b
	sha256sums = 458ec83da45446442a32dd5bd21b8569a2f20c4cef07fd03ec0044f5604260ea

pkgname = apache-orc
