pkgbase = libdisplay-info
	pkgdesc = EDID and DisplayID library
	pkgver = 0.2.0
	pkgrel = 1
	url = https://gitlab.freedesktop.org/emersion/libdisplay-info
	arch = x86_64
	license = MIT
	makedepends = hwdata
	makedepends = meson
	makedepends = ninja
	makedepends = python
	depends = glibc
	provides = libdisplay-info.so
	source = https://gitlab.freedesktop.org/emersion/libdisplay-info/-/releases/0.2.0/downloads/libdisplay-info-0.2.0.tar.xz
	source = https://gitlab.freedesktop.org/emersion/libdisplay-info/-/releases/0.2.0/downloads/libdisplay-info-0.2.0.tar.xz.sig
	validpgpkeys = 34FF9526CFEF0E97A340E2E40FDE7BE0E88F5E48
	sha256sums = 5a2f002a16f42dd3540c8846f80a90b8f4bdcd067a94b9d2087bc2feae974176
	sha256sums = SKIP

pkgname = libdisplay-info
