pkgbase = microsoft-gsl
	pkgdesc = C++ Core Guidelines Support Library
	pkgver = 4.2.1
	pkgrel = 1
	url = https://github.com/Microsoft/GSL
	arch = any
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	source = microsoft-gsl-4.2.1.tar.gz::https://github.com/Microsoft/GSL/archive/v4.2.1.tar.gz
	sha256sums = d959f1cb8bbb9c94f033ae5db60eaf5f416be1baa744493c32585adca066fe1f

pkgname = microsoft-gsl
