pkgbase = perl-test-exception
	pkgdesc = Perl/CPAN Module Test::Exception : Functions for testing exceptionbased code
	pkgver = 0.43
	pkgrel = 12
	url = https://search.cpan.org/dist/Test-Exception/
	arch = any
	license = GPL
	license = PerlArtistic
	depends = perl-sub-uplevel
	source = https://search.cpan.org/CPAN/authors/id/E/EX/EXODIST/Test-Exception-0.43.tar.gz
	sha256sums = 156b13f07764f766d8b45a43728f2439af81a3512625438deab783b7883eb533

pkgname = perl-test-exception
