pkgbase = sox
	pkgdesc = The Swiss Army knife of sound processing tools
	pkgver = 14.7.0.6
	pkgrel = 1
	url = https://codeberg.org/sox_ng/sox_ng/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-only
	checkdepends = time
	makedepends = alsa-lib
	makedepends = flac
	makedepends = fftw
	makedepends = git
	makedepends = lame
	makedepends = libpulse
	makedepends = libsndfile
	makedepends = libvorbis
	makedepends = libogg
	makedepends = opencore-amr
	makedepends = speexdsp
	depends = glibc
	depends = ffmpeg
	depends = file
	depends = gcc-libs
	depends = gsm
	depends = libao
	depends = libid3tag
	depends = libltdl
	depends = libmad
	depends = libpng
	depends = opusfile
	depends = twolame
	depends = wavpack
	depends = zlib
	optdepends = alsa-lib: alsa plugin
	optdepends = flac: flac plugin
	optdepends = fftw: fftw support
	optdepends = lame: mp3 plugin
	optdepends = libpulse: pulse plugin
	optdepends = libsndfile: caf, fap, mat4, mat5, paf, pvf, sd2, sndfile, w64 and xi plugins
	optdepends = libvorbis: vorbis plugin
	optdepends = libogg: ogg plugin
	optdepends = opencore-amr: amr_nb and amr_wb plugins
	optdepends = speexdsp: speexdsp plugin/effect
	provides = libsox.so
	provides = libsox_ng.so
	source = sox::git+https://codeberg.org/sox_ng/sox_ng.git#tag=sox_ng-14.7.0.6
	sha512sums = b6890ada8c145c84d078d5f2de11285c05bdc1de6c8d10dea37b85d17ea848164fdfe5f9afbe4fbc2ff5a86453a15bbf251b70aca4a912d6ec80fc4bdc8870c4
	b2sums = 15b67967d295b1b30271b784d8c2a7c2b2860857d15a01cfc9ba7f4d0d97f0332ad646db07befea8ee4bf7a388e233ee373cd913af5ee1e1613db5901f0262ec

pkgname = sox
