pkgbase = sox
	pkgdesc = The Swiss Army knife of sound processing tools
	pkgver = 14.7.1.2
	pkgrel = 1
	url = https://codeberg.org/sox_ng/sox_ng/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-only
	checkdepends = time
	makedepends = alsa-lib
	makedepends = flac
	makedepends = fftw
	makedepends = git
	makedepends = lame
	makedepends = libpulse
	makedepends = libsndfile
	makedepends = libvorbis
	makedepends = libogg
	makedepends = opencore-amr
	makedepends = speexdsp
	depends = glibc
	depends = ffmpeg
	depends = file
	depends = gsm
	depends = libao
	depends = libid3tag
	depends = libltdl
	depends = libmad
	depends = libgcc
	depends = libgomp
	depends = libpng
	depends = opusfile
	depends = twolame
	depends = wavpack
	depends = zlib
	optdepends = alsa-lib: alsa plugin
	optdepends = flac: flac plugin
	optdepends = fftw: fftw support
	optdepends = lame: mp3 plugin
	optdepends = libpulse: pulse plugin
	optdepends = libsndfile: caf, fap, mat4, mat5, paf, pvf, sd2, sndfile, w64 and xi plugins
	optdepends = libvorbis: vorbis plugin
	optdepends = libogg: ogg plugin
	optdepends = opencore-amr: amr_nb and amr_wb plugins
	optdepends = speexdsp: speexdsp plugin/effect
	provides = libsox.so
	provides = libsox_ng.so
	source = sox::git+https://codeberg.org/sox_ng/sox_ng.git#tag=sox_ng-14.7.1.2
	sha512sums = 798ac3f75c4330c7489528bed2ada87856948b1fde0502ecfa9d3a046471f9c12e9a7a5df5a92a5395bf6a1df595e76bd308a252cfa3368ed4db37e88c78f7d8
	b2sums = 9d05a01eed65b227898d54b6998c907f2a7046f02791ffb644c50beb3ba31b4c76060ad20832f0697023e776c20118515d3e1306627f8e37a2a0c14abbb3906a

pkgname = sox
