pkgbase = python-platformdirs
	pkgdesc = A library to determine platform-specific system directories
	pkgver = 4.5.0
	pkgrel = 1
	url = https://github.com/tox-dev/platformdirs
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-appdirs
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	source = python-platformdirs::git+https://github.com/tox-dev/platformdirs#tag=4.5.0
	sha512sums = 91232917f6b9e84d7eabb9b378802a1a717711dfdebddc7b0bbd1d6b10ac89c84a32552f3bda6cb5b1c1043af4f40f4192e9d397cac24c9d359abead424cc942
	b2sums = f8d4326506e5dd7f987fe6a190295e60d10a9a014a9d0b10eaff5f5c4f6cf820e700c07867921e9eab249b47e535b71fe0508b6773819c0c1c8c4e59f5a99416

pkgname = python-platformdirs
