pkgbase = python-platformdirs
	pkgdesc = A library to determine platform-specific system directories
	pkgver = 4.4.0
	pkgrel = 1
	url = https://github.com/tox-dev/platformdirs
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-appdirs
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	source = python-platformdirs::git+https://github.com/tox-dev/platformdirs#tag=4.4.0
	sha512sums = 87e41fc098280ebd13a8a3dfbf7789432db0d83e219e0a203d40f22706312b9e967be5b01ca02d9c21d7a519c095e8f52c789339b4a0b54f6f9d0839d2661a56
	b2sums = d516066d8ce36e5984649db7ad360e8dd6c13df1fd30c7271ca513d752dace6a6192a7ac2bc7738fe31e6923bfa65a991bf315e777596205460b3887f9170ac6

pkgname = python-platformdirs
