pkgbase = linux-lts
	pkgdesc = LTS Linux
	pkgver = 6.6.54
	pkgrel = 1
	url = https://www.kernel.org/
	arch = powerpc64le
	arch = powerpc
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = gettext
	makedepends = xmlto
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.54.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.54.tar.sign
	source = config
	source = config.ppc32
	source = linux-powerpc-binutils-2.38.patch
	source = ppc32-cpu-hotplug.patch
	source = ppc-vas-on-4k.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 5fae869d6a24055c16ffc2d92669e3fb2b258e34d36c850bb8cf9def417ecfa0
	sha256sums = SKIP
	sha256sums = ac3e0920c98047a34b1170ad5c64b76d84cd4d3c88ae4f3fb585e8fec5bd115a
	sha256sums = 2dc28f07ba40dfea82847a78886facba78da17a9d5b57c7ef9d85e87fe18560c
	sha256sums = d8b441038c901e31af7db6eee4de1ebd4d2cf2b98fa4701a93d02d3eaf3b5142
	sha256sums = f12714da37052b0a8816c259a0d488c73da0dc21bb66cf271c2c8580785e6143
	sha256sums = 816f3fdac5bd1266d057cca546f620510fe137f956f523d565202cede0ebbd74

pkgname = linux-lts
	pkgdesc = The LTS Linux kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	replaces = wireguard-lts

pkgname = linux-lts-headers
	pkgdesc = Headers and scripts for building modules for the LTS Linux kernel
	depends = pahole
