pkgbase = qt6-5compat
	pkgdesc = Module that contains unsupported Qt 5 APIs
	pkgver = 6.9.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	groups = qt6
	license = GPL-3.0-only
	license = LGPL-3.0-only
	license = LicenseRef-Qt-Commercial
	license = Qt-GPL-exception-1.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = qt6-declarative
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = qt6-base
	depends = qt6-shadertools
	optdepends = qt6-declarative: for QtGraphicalEffects
	source = git+https://code.qt.io/qt/qt5compat#tag=v6.9.0
	sha256sums = 3e2856d2ecec04854b0d52aa2c07e31e23f41f09d6e992010ddd1be411cd33c5

pkgname = qt6-5compat
