pkgbase = python-cheroot
	pkgdesc = Highly-optimized, pure-python HTTP server
	pkgver = 11.1.2
	pkgrel = 2
	url = https://github.com/cherrypy/cheroot
	arch = any
	license = BSD-3-Clause
	checkdepends = python-chardet
	checkdepends = python-colorama
	checkdepends = python-jaraco.context
	checkdepends = python-portend
	checkdepends = python-pyopenssl
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-rerunfailures
	checkdepends = python-pytest-sugar
	checkdepends = python-pytest-xdist
	checkdepends = python-requests-toolbelt
	checkdepends = python-requests-unixsocket
	checkdepends = python-trustme
	checkdepends = python-urllib3
	checkdepends = python-watchdog
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-jaraco.functools
	depends = python-more-itertools
	optdepends = python-pyopenssl: for SSL and certificate handling within cheroot
	source = https://github.com/cherrypy/cheroot/archive/v11.1.2/python-cheroot-11.1.2.tar.gz
	sha512sums = d5dc548c756f660cb0d7383c10b0650158f11a1bf2303aba9dfe1cbaee7ce683c68760036e8921305ad64bcc326e60ec2eead7e33898673304fb2d622ffb42e2
	b2sums = cb3ee2ec15db1b36c08b4829693bebe68077a1a96e1052eb6638376e62a3b469a1c6f0a89a126479bd55ae572eda936be13f673204c4a70b076fc3d9edea3c29

pkgname = python-cheroot
