pkgbase = ruby-ronn-ng
	pkgdesc = Manual page formatter that generates man pages from markdown
	pkgver = 0.10.1
	pkgrel = 6
	url = https://github.com/apjanke/ronn-ng
	arch = any
	license = MIT
	checkdepends = ruby-bundler
	checkdepends = ruby-rack
	checkdepends = ruby-rake
	checkdepends = ruby-sinatra
	checkdepends = ruby-test-unit
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-rdiscount
	depends = ruby-mustache
	depends = ruby-kramdown
	depends = ruby-kramdown-parser-gfm
	depends = ruby-nokogiri
	depends = ruby-erb
	provides = ruby-ronn
	conflicts = ruby-ronn
	replaces = ruby-ronn
	options = !emptydirs
	source = https://github.com/apjanke/ronn-ng/archive/v0.10.1/ruby-ronn-ng-0.10.1.tar.gz
	sha512sums = 3f6ee5355c7a19d5cb04c1b677028dd13ad2ff620acdb2e83d9b6f154a7b1e7b5a77ea0bcfbcef4bbb46a60b1c0fbc52fda079ff860c83a71f89b8fed0b83665
	b2sums = 1e56b90c5919e0a1af317da78161b34124268521fbc379fbba09ff9cb344073665460abc53fd961e4773ee444f33fba7e72ae3f6af84f8a170cfb1e89e557922

pkgname = ruby-ronn-ng
