pkgbase = catch2
	pkgdesc = Modern, C++-native, header-only, test framework for unit-tests, TDD and BDD
	pkgver = 3.11.0
	pkgrel = 1
	url = https://github.com/catchorg/catch2
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = BSL-1.0
	makedepends = git
	makedepends = cmake
	makedepends = python
	conflicts = catch2-v2
	options = !lto
	source = catch2::git+https://github.com/catchorg/Catch2#tag=v3.11.0?signed
	validpgpkeys = FC5D2FD9051354DBF834F9FD56FB686C9DFC8E2C
	validpgpkeys = E29C46F3B8A7502860793B7DECC9C20E314B2360
	sha512sums = bb9aad274de23c688562b90d50513c49beb486ea5c19096c8a8b6a87148d9aca95758ed785dc2a8ae9476193444fb0b8e77b21c8df1bc2b60bfbe1d45d3d1118

pkgname = catch2
