pkgbase = catch2
	pkgdesc = Modern, C++-native, header-only, test framework for unit-tests, TDD and BDD
	pkgver = 3.7.1
	pkgrel = 1
	url = https://github.com/catchorg/catch2
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = BSL-1.0
	makedepends = git
	makedepends = cmake
	makedepends = python
	conflicts = catch2-v2
	source = catch2::git+https://github.com/catchorg/Catch2#tag=v3.7.1?signed
	validpgpkeys = E29C46F3B8A7502860793B7DECC9C20E314B2360
	validpgpkeys = 81E70B717FFB27AFDB45F52090BBFF120F9C087B
	sha512sums = 6a4efdade1cedc540449bf0936fa122542a556a59ab59bfc33b1cbafafae666df3b21332925bc17b1f1c5f9e6333fda93cea123ea576c0b953ddbd1166f59017

pkgname = catch2
