pkgbase = kcontacts
	pkgdesc = Address book API for KDE
	pkgver = 6.17.0
	pkgrel = 1
	epoch = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = kf6
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = qt6-declarative
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = kcodecs
	depends = kconfig
	depends = kcoreaddons
	depends = ki18n
	depends = qt6-base
	optdepends = qt6-declarative: QML bindings
	source = https://download.kde.org/stable/frameworks/6.17/kcontacts-6.17.0.tar.xz
	source = https://download.kde.org/stable/frameworks/6.17/kcontacts-6.17.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 90A968ACA84537CC27B99EAF2C8DF587A6D4AAC1
	sha256sums = 198db25bdc7e7fee11766effed13ad4438f6a211be8a16a1cd1e815e3ebcf21a
	sha256sums = SKIP

pkgname = kcontacts
