pkgbase = tde-yakuake
	pkgdesc = A Quake-style terminal emulator based on TDE Konsole technology
	pkgver = 14.1.3
	pkgrel = 2
	url = https://scm.trinitydesktop.org/scm/git/yakuake
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	groups = tde-complete
	license = GPL
	makedepends = tde-cmake-trinity
	depends = tde-tdelibs
	provides = yakuake
	conflicts = trinity-yakuake
	conflicts = kdemod3-yakuake
	replaces = trinity-yakuake
	options = staticlibs
	options = libtool
	options = !emptydirs
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.3/main/applications/system/yakuake-trinity-14.1.3.tar.xz
	md5sums = d79438fe3ca3c2d8544bcde8ebf54e40

pkgname = tde-yakuake
