pkgbase = tde-yakuake
	pkgdesc = A Quake-style terminal emulator based on TDE Konsole technology
	pkgver = 14.1.6
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/yakuake
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = tde-complete
	license = GPL
	makedepends = tde-cmake-trinity
	depends = tde-tdelibs
	provides = yakuake
	conflicts = trinity-yakuake
	conflicts = kdemod3-yakuake
	replaces = trinity-yakuake
	options = staticlibs
	options = libtool
	options = !strip
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.6/main/applications/system/yakuake-trinity-14.1.6.tar.xz
	md5sums = 74700677cd2f41332585e6b6f15459ab

pkgname = tde-yakuake
