pkgbase = perl-ref-util
	pkgdesc = Utility functions for checking references
	pkgver = 0.204
	pkgrel = 5
	url = https://metacpan.org/release/Ref-Util
	arch = any
	license = PerlArtistic
	checkdepends = perl-ref-util-xs
	checkdepends = perl-readonly
	depends = perl
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/A/AR/ARC/Ref-Util-0.204.tar.gz
	sha512sums = 12834e13de5578232e40ba308e97786c60fcec4da9dc0b2922506d42645e8b3c3234663cf3b9c1dc374772107de953ed49ba8b52a2bac79183e3860338c0b288

pkgname = perl-ref-util
