pkgbase = m4
	pkgdesc = The GNU macro processor
	pkgver = 1.4.20
	pkgrel = 1
	url = https://www.gnu.org/software/m4
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL3
	depends = glibc
	depends = bash
	source = https://ftp.gnu.org/gnu/m4/m4-1.4.20.tar.xz
	source = https://ftp.gnu.org/gnu/m4/m4-1.4.20.tar.xz.sig
	validpgpkeys = 71C2CC22B1C4602927D2F3AAA7A16B4A2527436A
	sha256sums = e236ea3a1ccf5f6c270b1c4bb60726f371fa49459a8eaaebc90b216b328daf2b
	sha256sums = SKIP

pkgname = m4
