pkgbase = python-trove-classifiers
	pkgdesc = Canonical source for classifiers on PyPI (pypi.org)
	pkgver = 2025.4.11.15
	pkgrel = 1
	url = https://github.com/pypa/trove-classifiers
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-calver
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-build
	makedepends = python-installer
	depends = python
	source = git+https://github.com/pypa/trove-classifiers.git#tag=2025.4.11.15
	sha512sums = 35c50365d565e35d7b5d7a6b0280de4bd2f6d7944bfd1cb06ae45f7b3e29fd854713ad99e38f2bdb2589f65d631a0a3fc16c3140f18eabd72590ffc1c9ca9680

pkgname = python-trove-classifiers
