pkgbase = python-trove-classifiers
	pkgdesc = Canonical source for classifiers on PyPI (pypi.org)
	pkgver = 2025.8.26.11
	pkgrel = 1
	url = https://github.com/pypa/trove-classifiers
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-calver
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-build
	makedepends = python-installer
	depends = python
	source = git+https://github.com/pypa/trove-classifiers.git#tag=2025.8.26.11
	sha512sums = 22b8a91ea7d265a70ae25c8ef19d84ea44070f81c45e58aab40e371097a86b45e30434fc7487051fdd2717501acf1ffbb81ef8ce3954a2639a8967446aa9fde0

pkgname = python-trove-classifiers
