pkgbase = patch
	pkgdesc = A utility to apply patch files to original sources
	pkgver = 2.8
	pkgrel = 1
	url = https://www.gnu.org/software/patch/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	license = GPL
	makedepends = ed
	makedepends = git
	makedepends = python
	depends = glibc
	depends = attr
	optdepends = ed: for patch -e functionality
	source = git+https://git.savannah.gnu.org/git/patch.git#tag=v2.8?signed
	source = git+https://git.savannah.gnu.org/git/gnulib.git
	validpgpkeys = 259B3792B3D6D319212CC4DCD5BF9FEB0313653A
	sha256sums = e5dc0235f8ecdf22002dd3a22e80238502968e5be960e63a47dcd9a1c55ec6b3
	sha256sums = SKIP

pkgname = patch
