pkgbase = qpdf
	pkgdesc = QPDF: A Content-Preserving PDF Transformation System
	pkgver = 11.9.1
	pkgrel = 1
	url = https://github.com/qpdf/qpdf
	arch = x86_64
	license = Apache-2.0
	license = Artistic-2.0
	makedepends = libjpeg-turbo
	makedepends = zlib
	makedepends = gnutls
	makedepends = cmake
	makedepends = texlive-bin
	makedepends = texlive-binextra
	makedepends = texlive-fontsrecommended
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = texlive-latexextra
	source = https://github.com/qpdf/qpdf/releases/download/v11.9.1/qpdf-11.9.1.tar.gz
	source = https://github.com/qpdf/qpdf/releases/download/v11.9.1/qpdf-11.9.1.tar.gz.asc
	validpgpkeys = C2C96B10011FE009E6D1DF828A75D10998012C7E
	sha256sums = 2ba4d248f9567a27c146b9772ef5dc93bd9622317978455ffe91b259340d13d1
	sha256sums = SKIP

pkgname = qpdf
	depends = libjpeg-turbo
	depends = zlib
	depends = gnutls
	depends = openssl
	depends = glibc
	depends = gcc-libs

pkgname = qpdf-docs
	pkgdesc = QPDF: A Content-Preserving PDF Transformation System (documentation)
