pkgbase = lksctp-tools
	pkgdesc = An implementation of the SCTP protocol
	pkgver = 1.0.21
	pkgrel = 1
	url = https://github.com/sctp/lksctp-tools
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	license = GPL-2.0-or-later
	license = LGPL-2.1-only
	makedepends = git
	depends = glibc
	depends = bash
	source = git+https://github.com/sctp/lksctp-tools.git#tag=v1.0.21
	sha256sums = 54aa6fa636190c03f69821c08ff2e72b358e9df790ef1dbe3ee1c45e3cc29a3e

pkgname = lksctp-tools
