pkgbase = python-pytest-rerunfailures
	pkgdesc = A plugin for py.test that re-runs failed tests to eliminate intermittent failures
	pkgver = 15.0
	pkgrel = 1
	url = https://github.com/pytest-dev/pytest-rerunfailures/
	arch = any
	license = MPL-2.0
	checkdepends = python-pytest-xdist
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-packaging
	depends = python-pytest
	optdepends = python-pytest-xdist: for recovering from crashes
	source = pytest-rerunfailures-15.0.tar.gz::https://github.com/pytest-dev/pytest-rerunfailures//archive/refs/tags/15.0.tar.gz
	sha512sums = 3f759a044d761aabfc47d2797c917fedff0767e8699d9c58fb0ff2b4de77c7bb9252c48911e3dc3e93daafb93be76683b4cf546a7b0b7c73bcd14342c0bacc7d
	b2sums = d6d8f367f2fd5adbe1a3032e418363513173970d9efe4cda9568d43f2f1bcd5c722720591cb6902f4d9964eeaaee68a6e8408cf09bb1569a85f4bd433668a610

pkgname = python-pytest-rerunfailures
