pkgbase = qt6-scxml
	pkgdesc = Static and runtime integration of SCXML models into Qt6 code
	pkgver = 6.10.2
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = qt6
	license = GPL-3.0-only
	license = LGPL-3.0-only
	license = LicenseRef-Qt-Commercial
	license = Qt-GPL-exception-1.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = qt6-declarative
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	optdepends = qt6-declarative: QML bindings
	source = git+https://code.qt.io/qt/qtscxml#tag=v6.10.2
	sha256sums = f98b99f36310c5dce09a71e998f5a15aba63af5bbaf913b8ced06a7b38695a42

pkgname = qt6-scxml
