pkgbase = dbus-glib
	pkgdesc = GLib bindings for D-Bus (deprecated)
	pkgver = 0.112
	pkgrel = 4
	url = https://www.freedesktop.org/wiki/Software/dbus/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = AFL-2.1 OR GPL-2.0-or-later
	makedepends = git
	makedepends = glib2-devel
	makedepends = gtk-doc
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	source = git+https://gitlab.freedesktop.org/dbus/dbus-glib.git?signed#tag=dbus-glib-0.112
	source = dbus-glib-bash-completion.patch
	validpgpkeys = DA98F25C0871C49A59EAFF2C4DE8FF2A63C7CC90
	sha256sums = 00d56564489516f1cb4a9d0cbaff88e38321fae6c08ecc8858cefe012e312d41
	sha256sums = edbdd4fb5fce358b427da1a1c68347ce09ca444da6ac67ff1fcd6cc67fc92f99

pkgname = dbus-glib
