pkgbase = python-wand
	pkgdesc = Ctypes-based simple MagickWand API binding for Python
	pkgver = 0.7.2
	pkgrel = 1
	url = https://github.com/emcconville/wand
	arch = any
	license = MIT
	checkdepends = libjpeg-turbo
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = imagemagick
	depends = python
	source = git+https://github.com/emcconville/wand.git#tag=0.7.2
	sha512sums = acf7adfb6104f90d3e56b0e22bbcc6d9c09c40e0c95b62dee3e9dba4633b24d66cd655716f0641bbafbd394a8ab8fb35027c69a713ec4c0e5d3231da9aa222a9

pkgname = python-wand
