pkgbase = python-zope-component
	pkgdesc = Represents the core of the Zope Component Architecture
	pkgver = 7.1
	pkgrel = 1
	url = https://github.com/zopefoundation/zope.component
	arch = any
	license = ZPL-2.1
	checkdepends = python-persistent
	checkdepends = python-pytest
	checkdepends = python-zope-configuration
	checkdepends = python-zope-i18nmessageid
	checkdepends = python-zope-location
	checkdepends = python-zope-proxy
	checkdepends = python-zope-security
	checkdepends = python-zope-testrunner
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-setuptools
	depends = python-zope-event
	depends = python-zope-hookable
	depends = python-zope-interface
	optdepends = python-persistent: for persistent registry
	optdepends = python-zope-configuration: for zcml
	optdepends = python-zope-i18nmessageid: for zcml
	optdepends = python-zope-location: for security
	optdepends = python-zope-proxy: for security
	optdepends = python-zope-security: for security
	source = https://github.com/zopefoundation/zope.component/archive/7.1/python-zope-component-7.1.tar.gz
	sha512sums = 1e2c26a6aa2fefec1b93aff7f3d1f437cd4c5ada11b8f87c13e0714ab8aa952face8dddaa0b37ef0f0093156f199f600f6a3fb6e447ad1f74db8d035fcd4fa26
	b2sums = 34eea0fa1ae6b1c1d3fffca0c6943197da62dc5d00a497b487b871363c529f02de929d1f1c3a4d4c81db0b6e930c1a8a692a20a26cadd0c3dbf5b5f6a438ca9f

pkgname = python-zope-component
