pkgbase = perl-tidy
	pkgdesc = Parses and beautifies perl source
	pkgver = 20260826
	pkgrel = 1
	url = https://search.cpan.org/dist/Perl-Tidy
	arch = any
	license = GPL
	license = PerlArtistic
	depends = perl>=5.10.0
	options = !emptydirs
	source = https://www.cpan.org/authors/id/S/SH/SHANCOCK/Perl-Tidy-20260826.tar.gz
	sha256sums = 104e3e5ee5c84524d5e50324d664c7859b1ac422ab97a3e7a248985a4b4f7f64

pkgname = perl-tidy
