pkgbase = python-pyqt6-sip
	pkgdesc = The sip module support for PyQt6
	pkgver = 13.6.0
	pkgrel = 1
	url = https://riverbankcomputing.com/software/pyqt/intro
	arch = x86_64
	license = GPL
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	source = https://pypi.python.org/packages/source/P/PyQt6-sip/PyQt6_sip-13.6.0.tar.gz
	sha256sums = 2486e1588071943d4f6657ba09096dc9fffd2322ad2c30041e78ea3f037b5778

pkgname = python-pyqt6-sip
