pkgbase = aws-c-http
	pkgdesc = C99 implementation of the HTTP/1.1 and HTTP/2 specifications
	pkgver = 0.9.4
	pkgrel = 1
	url = https://github.com/awslabs/aws-c-http
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = Apache-2.0
	makedepends = cmake
	depends = aws-c-cal
	depends = aws-c-common
	depends = aws-c-compression
	depends = aws-c-io
	depends = glibc
	source = aws-c-http-0.9.4.tar.gz::https://github.com/awslabs/aws-c-http/archive/v0.9.4.tar.gz
	sha256sums = 2282067c4eb0bd07f632facb52c98bb6380f74410bc8640256e9490b66a2d582

pkgname = aws-c-http
