pkgbase = lldb
	pkgdesc = Next generation, high-performance debugger
	pkgver = 19.1.7
	pkgrel = 1
	url = https://lldb.llvm.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = riscv64
	license = Apache-2.0 WITH LLVM-exception
	makedepends = llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = swig
	makedepends = python-sphinx
	depends = llvm-libs
	depends = clang
	depends = gcc-libs
	depends = zlib
	depends = xz
	depends = libedit
	depends = ncurses
	depends = libxml2
	depends = python
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.7/lldb-19.1.7.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.7/lldb-19.1.7.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.7/llvm-19.1.7.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.7/llvm-19.1.7.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.7/cmake-19.1.7.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.7/cmake-19.1.7.src.tar.xz.sig
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	validpgpkeys = D574BD5D1D0E98895E3BF90044F2485E45D59042
	sha256sums = 376d583c781f83384135ad415d0ccd2b31fe3031711fbc75ed751c65f04c3094
	sha256sums = SKIP
	sha256sums = 96f833c6ad99a3e8e1d9aca5f439b8fd2c7efdcf83b664e0af1c0712c5315910
	sha256sums = SKIP
	sha256sums = 11c5a28f90053b0c43d0dec3d0ad579347fc277199c005206b963c19aae514e3
	sha256sums = SKIP

pkgname = lldb
