pkgbase = flatbuffers
	pkgdesc = An efficient cross platform serialization library for C++, with support for Java, C# and Go
	pkgver = 25.2.10
	pkgrel = 1
	url = https://google.github.io/flatbuffers/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = Apache
	makedepends = cmake
	makedepends = python-setuptools
	makedepends = python-numpy
	depends = gcc-libs
	source = https://github.com/google/flatbuffers/archive/v25.2.10/flatbuffers-25.2.10.tar.gz
	source = flatbuffers-numpy2.patch::https://github.com/google/flatbuffers/pull/8346.patch
	sha256sums = b9c2df49707c57a48fc0923d52b8c73beb72d675f9d44b2211e4569be40a7421
	sha256sums = 2a33fba91f2b131384af1fd57bb0efe6e706121f681cda9392414f9b2b80f6c6

pkgname = flatbuffers

pkgname = python-flatbuffers
	pkgdesc = An efficient cross platform serialization library for Python
	depends = python
	optdepends = python-numpy: support for Numpy arrays
