pkgbase = qt6-location
	pkgdesc = Helps you create viable mapping solutions using the data available from some of the popular location services
	pkgver = 6.8.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-positioning
	source = git+https://code.qt.io/qt/qtlocation#tag=v6.8.0
	sha256sums = fd62836fc47a25d35f5d9ecdb82b4d79c980968ae62f901624cad770aef979a4

pkgname = qt6-location
