pkgbase = okteta
	pkgdesc = KDE hex editor for viewing and editing the raw data of files
	pkgver = 0.26.19
	pkgrel = 1
	epoch = 1
	url = https://apps.kde.org/okteta/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = LGPL-2.1-only
	license = LGPL-3.0-only
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = qt5-tools
	depends = gcc-libs
	depends = glibc
	depends = kcmutils5
	depends = kcodecs5
	depends = kcompletion5
	depends = kconfig5
	depends = kconfigwidgets5
	depends = kcoreaddons5
	depends = kcrash5
	depends = kdbusaddons5
	depends = ki18n5
	depends = kiconthemes5
	depends = kio5
	depends = kjobwidgets5
	depends = knewstuff5
	depends = kparts5
	depends = kservice5
	depends = kwidgetsaddons5
	depends = kxmlgui5
	depends = qca-qt5
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-script
	optdepends = konsolepart5: terminal plugin
	source = https://download.kde.org/stable/okteta/0.26.19/src/okteta-0.26.19.tar.xz
	source = https://download.kde.org/stable/okteta/0.26.19/src/okteta-0.26.19.tar.xz.sig
	validpgpkeys = E191FD5BE6F46870F09E82B2024E7FB43D015474
	validpgpkeys = 0A48BC961075B4BA8523E3790A345FB086E797D9
	validpgpkeys = E6EBD6EB0518FE5BCCA5F6A76AACDD263C2CEFD4
	sha256sums = b2154b459ab1146b2d2a6aad048513fff933f162e8b3ebb8b3a7ed957828b293
	sha256sums = SKIP

pkgname = okteta
