pkgbase = python-pydantic-settings
	pkgdesc = Settings management using pydantic
	pkgver = 2.9.1
	pkgrel = 1
	url = https://github.com/pydantic/pydantic-settings
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-examples
	checkdepends = python-pytest-mock
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-dotenv
	depends = python-pydantic
	depends = python-pydantic-core
	depends = python-typing_extensions
	optdepends = python-pyyaml: for YAML support
	source = pydantic-settings-2.9.1.tar.gz::https://github.com/pydantic/pydantic-settings/archive/refs/tags/v2.9.1.tar.gz
	sha512sums = 51e2ca06da7afab1bb0609945890c0ea8635d83d76ce0b84ab5937a93d8c4c62dae8ea830fccbbf48887c0aee409dbe4ababf55464c82cd71906bdba31c0dc13
	b2sums = 3404a62313f9e177d0f187ea832fedb8e90e7b4d94b7d67cc8a9285df0470027d067540b8989475a98066d3dca063dd530ddb35f0d2a4f6f4ec565956dc8169f

pkgname = python-pydantic-settings
