pkgbase = minisign
	pkgdesc = A dead-simple tool to sign files and verify digital signatures
	pkgver = 0.12
	pkgrel = 2
	url = https://github.com/jedisct1/minisign
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = custom:ISC
	makedepends = cmake
	makedepends = git
	depends = libsodium
	source = git+https://github.com/jedisct1/minisign.git?signed#tag=0.12
	validpgpkeys = 54A2B8892CC3D6A597B92B6C210627AABA709FE1
	sha512sums = cd14bab2bdf384f410012b6f3a9149554fb367eafae187f11d02f4dd66b301a065e47215f95cd29150dce9b59a04d319b3b84c70bb555b60c8ebf6dd8bf25e55

pkgname = minisign
