pkgbase = python-comm
	pkgdesc = Python Comm implementation for the Jupyter kernel protocol
	pkgver = 0.2.2
	pkgrel = 3
	url = https://pypi.org/project/comm/
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-traitlets
	source = git+https://github.com/ipython/comm#tag=v0.2.2
	sha256sums = 9eec12102a5b647a0d4285ebd297f88e226a6d3c7876b7e4061a739c74793b61

pkgname = python-comm
