pkgbase = diffstat
	pkgdesc = Display a histogram of diff changes
	pkgver = 1.68
	pkgrel = 1
	url = https://invisible-island.net/diffstat
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	makedepends = git
	depends = glibc
	source = diffstat::git+https://github.com/ThomasDickey/diffstat-snapshots.git?signed#tag=v1_68
	validpgpkeys = 19882D92DDA4C400C22C0D56CC2AF4472167BE03
	sha256sums = af53d5e0c54020ad6670ea61462ab819ee40626dd3a03f18fb777ea25b69e655

pkgname = diffstat
