pkgbase = cairo
	pkgdesc = 2D graphics library with support for multiple output devices
	pkgver = 1.18.2
	pkgrel = 2
	url = https://cairographics.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = LGPL-2.1-only OR MPL-1.1
	makedepends = git
	makedepends = gtk-doc
	makedepends = meson
	makedepends = valgrind
	depends = bash
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = glibc
	depends = libpng
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxrender
	depends = lzo
	depends = pixman
	depends = zlib
	source = git+https://gitlab.freedesktop.org/cairo/cairo.git#tag=1.18.2
	b2sums = ff661ec100a24a457c91b928ad537e783e59ffc56812aa1d1da09bfe425390f8e6df0191a7993aeb56e9b064403a389d252e64f557f09ea6f773f821a021c9ca

pkgname = cairo
	provides = libcairo-gobject.so
	provides = libcairo-script-interpreter.so
	provides = libcairo.so
	options = !emptydirs

pkgname = cairo-docs
	pkgdesc = 2D graphics library with support for multiple output devices (documentation)
	depends = 
