pkgbase = python-zope-i18nmessageid
	pkgdesc = Message Identifiers for internationalization
	pkgver = 8.2
	pkgrel = 2
	url = https://github.com/zopefoundation/zope.i18nmessageid
	arch = x86_64
	license = ZPL-2.1
	checkdepends = python-zope-testrunner
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	source = python-zope-i18nmessageid-8.2.tar.gz::https://github.com/zopefoundation/zope.i18nmessageid/archive/8.2.tar.gz
	sha512sums = 7e53f91129d41288b21af4cb34ee23a73a41f5afb1ff5becefae2bb854c25a6a37ca98817420c4ac6f84fb9b299016820587d594c676c41a654370287678b376

pkgname = python-zope-i18nmessageid
