pkgbase = level-zero
	pkgdesc = API for accessing low level interfaces in oneAPI platform devices
	pkgver = 1.17.42
	pkgrel = 1
	url = https://spec.oneapi.com/versions/latest/elements/l0/source/index.html
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = MIT
	makedepends = git
	makedepends = cmake
	makedepends = fmt
	makedepends = opencl-headers
	makedepends = spdlog
	source = https://github.com/oneapi-src/level-zero/archive/v1.17.42/level-zero-1.17.42.tar.gz
	sha256sums = 16ba86e9fee6699c5300bb0ef09cb0852cd261e2ddd9960f88df93d4d04a4829

pkgname = level-zero-headers
	pkgdesc = API for accessing low level interfaces in oneAPI platform devices (headers)

pkgname = level-zero-loader
	pkgdesc = API for accessing low level interfaces in oneAPI platform devices (loader)
	depends = fmt
	depends = spdlog
