pkgbase = python-keyring
	pkgdesc = Store and access your passwords safely
	pkgver = 25.5.0
	pkgrel = 3
	url = https://github.com/jaraco/keyring
	arch = any
	license = PSF-2.0
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pyfakefs
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-jaraco.classes
	depends = python-secretstorage
	depends = python-jaraco.functools
	depends = python-jaraco.context
	optdepends = python-keyrings-alt: Alternative backends
	optdepends = python-dbus: kwallet backend
	optdepends = libsecret: libsecret backend
	optdepends = python-gobject: libsecret backend
	source = https://files.pythonhosted.org/packages/source/k/keyring/keyring-25.5.0.tar.gz
	sha512sums = bd8b792781bde9bb5d609acd9516b66486bd785231b81239bf9add483aefaa864ebe541d30c9977216c7a635e3f9161a55da15ba1070d8aab06bb86769fca476
	b2sums = 9499adbc756a94761acadf121ff22f55186481788477b17dcdb206200ab8041c9b68fba64139f823d1155e0c679f028281fc0093e1038b3cfd740c7c3e38fb7b

pkgname = python-keyring
