pkgbase = tde-tdeedu
	pkgdesc = Educational utilities for the TDE Desktop
	pkgver = 14.1.5
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/tdeedu
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = tde-extra
	license = GPL
	makedepends = tde-cmake-trinity
	makedepends = boost
	makedepends = boost-libs
	makedepends = doxygen
	makedepends = python3
	makedepends = texlive-bin
	depends = tde-tdelibs
	provides = tdeedu
	conflicts = trinity-tdeedu
	replaces = trinity-tdeedu
	options = staticlibs
	options = libtool
	options = !emptydirs
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.5/main/core/tdeedu-trinity-14.1.5.tar.xz
	md5sums = e93a592e0e1ea74bc8f14741745c41c9

pkgname = tde-tdeedu
