pkgbase = kidletime
	pkgdesc = Monitoring user activity
	pkgver = 6.21.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = kf6
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = libxss
	makedepends = plasma-wayland-protocols
	makedepends = qt6-tools
	makedepends = wayland-protocols
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	optdepends = libx11: XCB plugin
	optdepends = libxcb: XCB plugin
	optdepends = libxext: XCB plugin
	optdepends = libxss: XCB plugin
	optdepends = wayland: Wayland plugin
	source = https://download.kde.org/stable/frameworks/6.21/kidletime-6.21.0.tar.xz
	source = https://download.kde.org/stable/frameworks/6.21/kidletime-6.21.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 90A968ACA84537CC27B99EAF2C8DF587A6D4AAC1
	sha256sums = f83a945e27c413771d20103f6631783a3a0d8e3f25bf3a6d1817c4b7c766c23e
	sha256sums = SKIP

pkgname = kidletime
