pkgbase = python-google-auth-httplib2
	pkgdesc = Google Authentication Library: httplib2 transport
	pkgver = 0.2.0
	pkgrel = 4
	url = https://github.com/googleapis/google-auth-library-python-httplib2
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-flask
	checkdepends = python-pytest-localserver
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-google-auth
	depends = python-httplib2
	source = https://pypi.io/packages/source/g/google-auth-httplib2/google-auth-httplib2-0.2.0.tar.gz
	sha512sums = 82ffe87172056cd6d15e3d5f12c155ff9e09fdea9d8e6385fd3ddc2db374df41a74dcfb3aff3df1d046d2b537f0a98ee9b5c7dd7818d2274af9462df48e7bdf8

pkgname = python-google-auth-httplib2
