pkgbase = ruby-webrick
	pkgdesc = An HTTP server toolkit that can be configured as an HTTPS server
	pkgver = 1.8.2
	pkgrel = 1
	url = https://github.com/ruby/webrick
	arch = any
	license = BSD-2-Clause
	checkdepends = ruby-bundler
	checkdepends = ruby-rake
	checkdepends = ruby-test-unit
	checkdepends = ruby-test-unit-ruby-core
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-erb
	options = !emptydirs
	source = https://github.com/ruby/webrick/archive/v1.8.2/ruby-webrick-1.8.2.tar.gz
	sha512sums = aedc6588478c02d17274a2df178be39a418885728a0d684758505bad0abdc35111e3d7134f02ee1d18c4ca8983028568db5d2b386b885a393fbd8fba1a540cd3
	b2sums = e31a61bebfe93273f6515286e3cb4b94704d335528240addaf69121a5734a512c413701e6ba58f2a74382a58dc11f56604ad2527acb6584d23c1d773c8a6b4da

pkgname = ruby-webrick
