pkgbase = perl-perl-critic
	pkgdesc = Critique Perl source code for best-practices
	pkgver = 1.152
	pkgrel = 1
	url = https://metacpan.org/release/Perl-Critic
	arch = any
	license = PerlArtistic
	checkdepends = perl-test-memory-cycle
	depends = perl-b-keywords
	depends = perl-config-tiny
	depends = perl-exception-class
	depends = perl-file-homedir
	depends = perl-file-which
	depends = perl-list-someutils
	depends = perl-module-build
	depends = perl-module-pluggable
	depends = perl-ppi
	depends = perl-ppix-quotelike
	depends = perl-ppix-regexp
	depends = perl-ppix-utils
	depends = perl-pod-spell
	depends = perl-tidy
	depends = perl-readonly
	depends = perl-string-format
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/P/PE/PETDANCE/Perl-Critic-1.152.tar.gz
	sha512sums = 273aeb46617cf614b044c76c4307faf80c8ee4702f115f4baa7d23306164a70e70394fd64e3d89e43650a7314a3bd21ab96ee6daba28f1a12d9d32bd5032779c

pkgname = perl-perl-critic
