pkgbase = python-kiwisolver
	pkgdesc = A fast implementation of the Cassowary constraint solver
	pkgver = 1.4.6
	pkgrel = 1
	url = https://github.com/nucleic/kiwi
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = Artistic-1.0-Perl
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-cppy
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = python-build
	makedepends = python-installer
	depends = python
	source = git+https://github.com/nucleic/kiwi.git#tag=1.4.6
	sha512sums = 9b57f5661112a592b818328e511be664a757fe2f683cbad8d23a04aba87ef5fcd1249baf285e5480ba36761bf8c185ceb619bfd1a0bd17068fdde1b993fe10f1

pkgname = python-kiwisolver
