pkgbase = btop
	pkgdesc = A monitor of system resources, bpytop ported to C++
	pkgver = 1.4.7
	pkgrel = 1
	url = https://github.com/aristocratos/btop
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = Apache-2.0
	makedepends = lowdown
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libstdc++
	source = https://github.com/aristocratos/btop/archive/v1.4.7/btop-1.4.7.tar.gz
	sha256sums = 933de2e4d1b2211a638be463eb6e8616891bfba73aef5d38060bd8319baeefc6
	optdepends_x86_64 = rocm-smi-lib: AMD GPU support
	makedepends_x86_64 = rocm-smi-lib

pkgname = btop
