pkgbase = libosinfo
	pkgdesc = GObject based library API for managing information about operating systems, hypervisors and the (virtual) hardware devices they can support
	pkgver = 1.12.0
	pkgrel = 1
	url = https://libosinfo.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = GPL-2.0-or-later AND LGPL-2.1-or-later
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = vala
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = hwdata
	depends = libsoup3
	depends = libxml2
	depends = libxslt
	depends = osinfo-db
	source = git+https://gitlab.com/libosinfo/libosinfo.git?signed#tag=v1.12.0
	validpgpkeys = DAF3A6FDB26B62912D0E8E3FBE86EBB415104FDF
	validpgpkeys = 09B9C8FF223EF113AFA06A39EE926C2BDACC177B
	validpgpkeys = 206D3B352F566F3B0E6572E997D9123DE37A484F
	b2sums = 7603532c78acad31d1096467eea64b6eaff29120109af9dd6bce05c8e6330df1dcf2460ffdb53c81e38a70711089106a4c383e18b31b2cd198445cf93f904b3c

pkgname = libosinfo
