pkgbase = python-pylev
	pkgdesc = A pure Python Levenshtein implementation
	pkgver = 1.4.0
	pkgrel = 10
	url = https://github.com/toastdriven/pylev
	arch = any
	license = BSD
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	source = https://github.com/toastdriven/pylev/archive/v1.4.0/pylev-1.4.0.tar.gz
	sha256sums = f7bf8fb939af1457b301a0f16b3e8c3979031e36a852b7f58fa353a33b930780
	b2sums = d49e153d308165dcdc06bad94013afa4ccc6d2a6ecff943a2718a8f9ab71bbacb9c0cf8b604dbf0c77322a8d0cbeba5ffaed13531a31210507f144f716f8e740

pkgname = python-pylev
