pkgbase = socat
	pkgdesc = Multipurpose relay
	pkgver = 1.8.0.1
	pkgrel = 1
	url = http://www.dest-unreach.org/socat/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = GPL-2.0-only
	checkdepends = bash
	checkdepends = net-tools
	checkdepends = procps-ng
	depends = glibc
	depends = openssl
	depends = libssl.so
	depends = readline
	depends = libreadline.so
	source = http://www.dest-unreach.org/socat/download/socat-1.8.0.1.tar.gz
	sha256sums = dc350411e03da657269e529c4d49fe23ba7b4610b0b225c020df4cf9b46e6982
	b2sums = a91977494f6d6a30a2b025b9b9d1f47232638b235603e9cab8ed4b559becbc9ebace582ec0280f246a655a2c23b588200a0aab5cf680a5b571e9e8fa2222a6d0

pkgname = socat
