pkgbase = libspnav
	pkgdesc = Alternative to the proprietary 3Dconnexion device driver and SDK for their 3D input devices
	pkgver = 1.2
	pkgrel = 1
	url = https://spacenav.sourceforge.net/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	license = BSD-3-Clause
	makedepends = git
	depends = glibc
	depends = libx11
	source = git+https://github.com/FreeSpacenav/libspnav#tag=v1.2
	sha256sums = 4fd8adb81a1e119b65e9eb2a1d5163dbc8fd30feb5c346c9a26ff87d0da3d743

pkgname = libspnav
