pkgbase = python-pydata-sphinx-theme
	pkgdesc = Clean, Bootstrap-based Sphinx theme by and for the PyData community.
	pkgver = 0.16.1
	pkgrel = 2
	url = https://pydata-sphinx-theme.readthedocs.io
	arch = any
	license = BSD-3-Clause
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-sphinx-theme-builder
	depends = python
	depends = python-accessible-pygments
	depends = python-babel
	depends = python-beautifulsoup4
	depends = python-docutils
	depends = python-jinja
	depends = python-pygments
	depends = python-requests
	depends = python-sphinx
	depends = python-typing_extensions
	source = git+https://github.com/pydata/pydata-sphinx-theme.git#tag=v0.16.1
	b2sums = 539321405ca0204e2dbb654fbc17cdefe51cd9209d080f7231db97fa9db4920b5d2a01c4c24ac2fbb1dfabf9f51213f49799e8260ec7cc923a94fb4ce4df0ca5

pkgname = python-pydata-sphinx-theme
