pkgbase = python-pillow
	pkgdesc = Python Imaging Library (PIL) fork
	pkgver = 12.1.0
	pkgrel = 2
	url = https://pillow.readthedocs.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT-CMU
	checkdepends = python-pytest
	checkdepends = python-pytest-timeout
	makedepends = git
	makedepends = pybind11
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = libwebp
	makedepends = tk
	depends = glibc
	depends = python
	depends = python-packaging
	depends = freetype2
	depends = lcms2
	depends = libavif
	depends = libraqm
	depends = libtiff
	depends = openjpeg2
	depends = libjpeg-turbo
	depends = libimagequant
	depends = libxcb
	depends = zlib
	optdepends = libwebp: for webp images
	optdepends = tk: for the ImageTK module
	optdepends = python-olefile: OLE2 file support
	optdepends = python-pyqt6: for the ImageQt module
	optdepends = python-defusedxml: for reading XMP tags
	source = python-pillow::git+https://github.com/python-pillow/Pillow#tag=12.1.0
	sha512sums = dd279ecf9f5647d6ee0b08836b5a0f31d3a7dd8324bc56decae8fbbbbb652ef5a8378ee9be9d0073441dbf003cf223431a932d472611ea3a670b53f27f571327
	b2sums = 19a7bce306f9b9a0945720b2402e6754d8c9a2be5fbee011a765dcfa26959812ea7390189df44ffdccb087ae9a846bbf1476fd5e61b562e4cc26147736bed305

pkgname = python-pillow
