pkgbase = python-pillow
	pkgdesc = Python Imaging Library (PIL) fork
	pkgver = 11.1.0
	pkgrel = 1
	url = https://pillow.readthedocs.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = MIT-CMU
	checkdepends = python-pytest
	checkdepends = python-pytest-timeout
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = libwebp
	makedepends = tk
	depends = glibc
	depends = python
	depends = python-packaging
	depends = freetype2
	depends = lcms2
	depends = libraqm
	depends = libtiff
	depends = openjpeg2
	depends = libjpeg-turbo
	depends = libimagequant
	depends = libxcb
	depends = zlib
	optdepends = libwebp: for webp images
	optdepends = tk: for the ImageTK module
	optdepends = python-olefile: OLE2 file support
	optdepends = python-pyqt6: for the ImageQt module
	optdepends = python-defusedxml: for reading XMP tags
	source = python-pillow::git+https://github.com/python-pillow/Pillow#tag=11.1.0
	source = ftbfs-trove-classifiers.patch
	sha512sums = c921a65702e54344057b0c63592cde03d095f7eecab1e703e1f9f55a9f2618d83baadf772fd427a6cc651181a121af0a3267fde942f6139f5a7666b3fc040f65
	sha512sums = 5ac423ac371b8303d6273382af3586943bd4c68cb9b03445754fde551c8bab1ce58670443c30c51698284e532996795d81414cb1d39b3a438b285228e2fbb047
	b2sums = f9273ed4201bbc9771568a3c93c9ab0e95669a92f605f58025f99f69827eaea5bfcf44f9c0b8a1eb9104d5140e12a337b1cc8bde124404bda9295c8d867a2ca4
	b2sums = c429863610bf2a0ee389addc99e60c8ec76ec4b703d8e822afdb2ea2277c6ef3ccc055ed84af720d651373942944feaa85048692b5daf044180abf5dcaf3215d

pkgname = python-pillow
