pkgbase = catimg
	pkgdesc = Print images in a terminal with 256 colors support
	pkgver = 2.7.0
	pkgrel = 1.1
	url = https://github.com/posva/catimg
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	depends = glibc
	source = catimg-2.7.0.tar.gz::https://github.com/posva/catimg/archive/2.7.0.tar.gz
	sha512sums = 85b19183a2dc666aeb5655d6b66a40d325160d6ac8b5d38c00bad14ee79d69f2277ba0378af6ea84570a0d41c10d52950d658c0872dc1007e7ae17da7b6abdec

pkgname = catimg
