pkgbase = python-google-api-python-client
	pkgdesc = Google API Client Library for Python
	pkgver = 2.140.0
	pkgrel = 3
	url = https://github.com/google/google-api-python-client
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python-google-auth-httplib2
	depends = python-uritemplate
	depends = python-google-api-core
	optdepends = python-oauth2client: optional backend
	source = google-api-python-client-2.140.0.tar.gz::https://github.com/google/google-api-python-client/archive/v2.140.0.tar.gz
	sha256sums = eb1658d1a8df9067949f7841abe8bc111698b3cbe0aa150fa9d1028760163853

pkgname = python-google-api-python-client
