pkgbase = tde-tdesdk
	pkgdesc = Trinity Desktop Development Tools
	pkgver = 14.1.4
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/tdesdk
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	groups = tde-devel
	license = GPL
	makedepends = tde-cmake-trinity
	makedepends = flex
	makedepends = subversion
	depends = tde-tdelibs
	provides = tdesdk
	conflicts = trinity-tdesdk
	conflicts = trinity-kdesdk
	replaces = trinity-tdesdk
	options = staticlibs
	options = libtool
	options = !emptydirs
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.4/main/core/tdesdk-trinity-14.1.4.tar.xz
	md5sums = e781731322657c249c992a77cccbe224

pkgname = tde-tdesdk
