pkgbase = lapack
	pkgdesc = Linear Algebra PACKage
	pkgver = 3.12.1
	pkgrel = 2
	url = https://www.netlib.org/lapack
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = custom
	makedepends = cmake
	makedepends = git
	makedepends = doxygen
	makedepends = gcc-fortran
	makedepends = python
	source = git+https://github.com/Reference-LAPACK/lapack#tag=v3.12.1
	sha256sums = becc909c9de915016625746eead3024ac77d462d8fde26d0c18db2ca57146067

pkgname = blas
	pkgdesc = Basic Linear Algebra Subprograms
	depends = gcc-libs
	depends = glibc

pkgname = cblas
	pkgdesc = C interface to BLAS
	depends = blas
	depends = glibc

pkgname = lapack
	depends = blas
	depends = gcc-libs
	depends = glibc

pkgname = lapacke
	pkgdesc = C interface to LAPACK
	depends = glibc
	depends = lapack

pkgname = blas64
	pkgdesc = Basic Linear Algebra Subprograms (64-bit integers)
	depends = gcc-libs
	depends = glibc

pkgname = cblas64
	pkgdesc = C interface to BLAS (64-bit integers)
	depends = blas64
	depends = glibc
	optdepends = cblas: development headers

pkgname = lapack64
	pkgdesc = Linear Algebra PACKage (64-bit integers)
	depends = blas64
	depends = gcc-libs
	depends = glibc

pkgname = lapacke64
	pkgdesc = C interface to LAPACK (64-bit integers)
	depends = glibc
	depends = lapack64
	optdepends = lapacke: development headers

pkgname = lapack-doc
	pkgdesc = Man pages for BLAS/LAPACK
