pkgbase = mmtf-cpp
	pkgdesc = The pure C++ implementation of the MMTF API, decoder and encoder
	pkgver = 1.1.0
	pkgrel = 2
	url = http://mmtf.rcsb.org/
	arch = any
	license = MIT
	makedepends = cmake
	makedepends = git
	depends = msgpack-cxx
	source = git+https://github.com/rcsb/mmtf-cpp#tag=v1.1.0
	sha256sums = da7160c3015f1aae4ec3062e53e5c0bddbda993f58944a6c010fff9336ec16b7

pkgname = mmtf-cpp
