pkgbase = python-redis
	pkgdesc = The Python interface to the Redis key-value store
	pkgver = 5.2.0
	pkgrel = 1
	url = https://github.com/redis/redis-py
	arch = any
	license = MIT
	checkdepends = python-coverage
	checkdepends = python-cryptography
	checkdepends = python-hiredis
	checkdepends = python-numpy
	checkdepends = python-pyopenssl
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-requests
	checkdepends = redis
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-async-timeout
	optdepends = python-cryptography: OCSP certificate validation
	optdepends = python-hiredis: faster performance via hiredis
	optdepends = python-pyopenssl: OCSP certificate validation
	optdepends = python-requests: OCSP certificate validation
	source = python-redis::git+https://github.com/redis/redis-py#tag=v5.2.0
	b2sums = 2a7cd4348c11814cdd7076e26dad94970c0106e0a6d207350d7fac19a32ab5e6e4f28860a12fdf4bb83a7f3438d6753c1989f195a4cd5b87ceaaa0cc02e26a24

pkgname = python-redis
