pkgbase = python-redis
	pkgdesc = The Python interface to the Redis key-value store
	pkgver = 6.4.0
	pkgrel = 1
	url = https://github.com/redis/redis-py
	arch = any
	license = MIT
	checkdepends = python-coverage
	checkdepends = python-cryptography
	checkdepends = python-hiredis
	checkdepends = python-numpy
	checkdepends = python-pyopenssl
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-requests
	checkdepends = valkey
	makedepends = git
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	optdepends = python-cryptography: OCSP certificate validation
	optdepends = python-hiredis: faster performance via hiredis
	optdepends = python-pyopenssl: OCSP certificate validation
	optdepends = python-requests: OCSP certificate validation
	source = python-redis::git+https://github.com/redis/redis-py#tag=v6.4.0
	b2sums = 80aed79a0a883995e39a2d4ca4bf9e459a6fae9c5bfc4e823bd887de37e31fcb9dc015aaa44c034a3e26e614c44a2303a2f65c0be2d9536cd258bd25c8f3a35f

pkgname = python-redis
