pkgbase = python-joblib
	pkgdesc = Set of tools to provide lightweight pipelining in Python
	pkgver = 1.5.3
	pkgrel = 1
	url = https://joblib.readthedocs.io/
	arch = any
	license = BSD-3-Clause
	checkdepends = procps-ng
	checkdepends = python-distributed
	checkdepends = python-lz4
	checkdepends = python-numpy
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-threadpoolctl
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-distributed: for dask parallel backend
	optdepends = python-lz4: for compressed serialization
	optdepends = python-numpy: for array manipulation
	optdepends = python-psutil: to mitigate memory leaks in worker processes
	source = https://github.com/joblib/joblib/archive/1.5.3/python-joblib-1.5.3.tar.gz
	b2sums = b1ef74668dfa55c93285af5e827eb47c8a70c14aa910469df651d72493e02340d8bbb8b7391fa7a991d5475a2a3c1d72da79a3b89fef0a9b7a7baa5e4370384f

pkgname = python-joblib
