pkgbase = kwave
	pkgdesc = A sound editor
	pkgver = 25.04.1
	pkgrel = 1
	url = https://apps.kde.org/kwave/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = kde-applications
	groups = kde-multimedia
	license = GPL-2.0-or-later
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = librsvg
	makedepends = opus
	depends = alsa-lib
	depends = audiofile
	depends = flac
	depends = fftw
	depends = gcc-libs
	depends = glibc
	depends = id3lib
	depends = karchive
	depends = kcompletion
	depends = kconfig
	depends = kconfigwidgets
	depends = kcoreaddons
	depends = kcrash
	depends = kdbusaddons
	depends = ki18n
	depends = kiconthemes
	depends = kio
	depends = ktextwidgets
	depends = kwidgetsaddons
	depends = kxmlgui
	depends = libmad
	depends = libogg
	depends = libpulse
	depends = libsamplerate
	depends = libvorbis
	depends = qt6-base
	depends = qt6-multimedia
	optdepends = opus: OGG plugin
	source = https://download.kde.org/stable/release-service/25.04.1/src/kwave-25.04.1.tar.xz
	source = https://download.kde.org/stable/release-service/25.04.1/src/kwave-25.04.1.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 1e9074f814006a7c183febf56a40423a7e8e834635194279cdde0d0b47b89333
	sha256sums = SKIP

pkgname = kwave
