pkgbase = kde-cli-tools
	pkgdesc = Tools based on KDE Frameworks 5 to better interact with the system
	pkgver = 6.1.2
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = gcc-libs
	depends = glibc
	depends = kcmutils
	depends = kcompletion
	depends = kconfig
	depends = kcoreaddons
	depends = kdesu
	depends = ki18n
	depends = kiconthemes
	depends = kio
	depends = kparts
	depends = kservice
	depends = kwidgetsaddons
	depends = kwindowsystem
	depends = qt6-base
	depends = qt6-svg
	depends = sh
	source = https://download.kde.org/stable/plasma/6.1.2/kde-cli-tools-6.1.2.tar.xz
	source = https://download.kde.org/stable/plasma/6.1.2/kde-cli-tools-6.1.2.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 718172c066da955991921fe8be038a97382739ec653eb5d04ab2b5cc81d1751b
	sha256sums = SKIP

pkgname = kde-cli-tools
