pkgbase = kde-cli-tools
	pkgdesc = Tools based on KDE Frameworks to better interact with the system
	pkgver = 6.3.3
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	groups = plasma
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = gcc-libs
	depends = glibc
	depends = kcmutils
	depends = kcompletion
	depends = kconfig
	depends = kcoreaddons
	depends = kdesu
	depends = ki18n
	depends = kiconthemes
	depends = kio
	depends = kparts
	depends = kservice
	depends = kwidgetsaddons
	depends = kwindowsystem
	depends = qt6-base
	depends = qt6-svg
	depends = sh
	source = https://download.kde.org/stable/plasma/6.3.3/kde-cli-tools-6.3.3.tar.xz
	source = https://download.kde.org/stable/plasma/6.3.3/kde-cli-tools-6.3.3.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 65ee64a1a6180bad00f3f001ebc8d170526eb12501f5b2cb4e28a1f3bcf26644
	sha256sums = SKIP

pkgname = kde-cli-tools
