pkgbase = python-identify
	pkgdesc = File identification library for Python
	pkgver = 2.6.16
	pkgrel = 1
	url = https://github.com/pre-commit/identify
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-ukkonen
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-ukkonen: for returning license identifiers
	source = identify-2.6.16.tar.gz::https://github.com/pre-commit/identify/archive/refs/tags/v2.6.16.tar.gz
	sha512sums = 66346ff957648ed74eeb4c9d111bc70e114435ed3c6b2b87d1485c346f5d634e4afdccfc7328e2e08e0745b5c86d1062954aecaba3238eacab6d84ac0ce49b50
	b2sums = 598f57211c8be4174d7208b7cb11b375adaac7eb1ed5187b43d533392e53606ee14aa1adc049f17d956cd16c2bea94eae3a32765d22428f3bcafdb0768c6aae4

pkgname = python-identify
