pkgbase = tde-twin-style-crystal
	pkgdesc = TDE TWin Style Crystal
	pkgver = 14.1.4
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/twin-style-crystal
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	groups = tde-extra
	license = GPL
	makedepends = tde-cmake-trinity
	depends = tde-tdebase
	provides = twin-style-crystal
	conflicts = trinity-twin-style-crystal
	conflicts = kdemod3-twin-style-crystal
	replaces = trinity-twin-style-crystal
	options = staticlibs
	options = libtool
	options = !emptydirs
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.4/main/applications/themes/twin-style-crystal-trinity-14.1.4.tar.xz
	md5sums = b5e312c4142f8ac592c52a795150facb

pkgname = tde-twin-style-crystal
