pkgbase = nano
	pkgdesc = Pico editor clone with enhancements
	pkgver = 8.1
	pkgrel = 1
	url = https://www.nano-editor.org
	arch = x86_64
	license = GPL-3.0-or-later
	depends = ncurses
	depends = file
	depends = glibc
	backup = etc/nanorc
	source = https://www.nano-editor.org/dist/v8/nano-8.1.tar.xz
	source = https://www.nano-editor.org/dist/v8/nano-8.1.tar.xz.asc
	validpgpkeys = 168E6F4297BFD7A79AFD4496514BBE2EB8E1961F
	sha256sums = 93b3e3e9155ae389fe9ccf9cb7ab380eac29602835ba3077b22f64d0f0cbe8cb
	sha256sums = SKIP

pkgname = nano
