pkgbase = libxcrypt
	pkgdesc = Modern library for one-way hashing of passwords
	pkgver = 4.5.0
	pkgrel = 1
	url = https://github.com/besser82/libxcrypt/
	install = libxcrypt.install
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL
	depends = glibc
	provides = libcrypt.so
	source = https://github.com/besser82/libxcrypt//releases/download/v4.5.0/libxcrypt-4.5.0.tar.xz
	source = https://github.com/besser82/libxcrypt//releases/download/v4.5.0/libxcrypt-4.5.0.tar.xz.asc
	validpgpkeys = 678CE3FEE430311596DB8C16F52E98007594C21D
	sha256sums = 825e764e4ff2e6304adb814cda297074b222d54a04edbd8ebc7cf58fc3af857d
	sha256sums = SKIP

pkgname = libxcrypt

pkgname = libxcrypt-compat
	pkgdesc = Modern library for one-way hashing of passwords - legacy API functions
	depends = libxcrypt
