pkgbase = libmysofa
	pkgdesc = C library to read HRTFs if they are stored in the AES69-2015 SOFA format
	pkgver = 1.3.4
	pkgrel = 1
	url = https://github.com/hoene/libmysofa/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = cunit
	makedepends = git
	depends = glibc
	depends = zlib
	provides = libmysofa.so
	source = git+https://github.com/hoene/libmysofa.git#tag=v1.3.4
	sha256sums = 1697cd0aaf75fb5fd8134a9cc783555bbf7fa1e07930763cbdcb9275f260b31e
	checkdepends_x86_64 = nodejs
	checkdepends_powerpc64le = nodejs
	checkdepends_powerpc64 = nodejs

pkgname = libmysofa
