pkgbase = libaccounts-qt
	pkgdesc = Qt-based client library for accessing the online accounts database
	pkgver = 1.17
	pkgrel = 1
	url = https://gitlab.com/accounts-sso/libaccounts-qt
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL
	makedepends = doxygen
	makedepends = git
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libaccounts-glib
	depends = qt6-base
	source = git+https://gitlab.com/accounts-sso/libaccounts-qt#commit=c8fdd05f1a1ff5886f4649d24f2ba8c5f61cfa3a
	sha256sums = 70e93f8a7ae0c55c54c2ed39969f8e6c1d5c2f5f9a79b0ab2977b29c1b144f6c

pkgname = libaccounts-qt
