pkgbase = libidn2
	pkgdesc = Free software implementation of IDNA2008, Punycode and TR46
	pkgver = 2.3.7
	pkgrel = 1.1
	url = https://www.gnu.org/software/libidn/#libidn2
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	arch = riscv64
	license = GPL2
	license = LGPL3
	makedepends = ruby-ronn-ng
	depends = libunistring
	provides = libidn2.so
	source = https://ftp.gnu.org/gnu/libidn/libidn2-2.3.7.tar.gz
	source = https://ftp.gnu.org/gnu/libidn/libidn2-2.3.7.tar.gz.sig
	validpgpkeys = B1D2BD1375BECB784CF4F8C4D73CF638C53C06BE
	sha256sums = 4c21a791b610b9519b9d0e12b8097bf2f359b12f8dd92647611a929e6bfd7d64
	sha256sums = SKIP

pkgname = libidn2
	depends = libunistring
	depends = libunistring.so
