pkgbase = adwaita-icon-theme
	pkgdesc = GNOME standard icons
	pkgver = 47.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/adwaita-icon-theme
	arch = any
	license = CC-BY-SA-3.0 OR LGPL-3.0-only
	makedepends = git
	makedepends = gtk-update-icon-cache
	makedepends = meson
	depends = adwaita-icon-theme-legacy
	depends = hicolor-icon-theme
	source = git+https://gitlab.gnome.org/GNOME/adwaita-icon-theme.git#tag=47.0
	b2sums = 2dd7b268eaab5835c0d2c7ee81cb388638b9037dfb6748669a4dcbf155338f1bbc9fb8e5d8e5d2acafa4e9f88f1d2c137de922c3d19c65dcb384933982c21ffa

pkgname = adwaita-icon-theme
	depends = adwaita-icon-theme-legacy
	depends = hicolor-icon-theme
	depends = adwaita-cursors

pkgname = adwaita-cursors
	pkgdesc = GNOME standard cursors
	depends = 
