pkgbase = adwaita-icon-theme
	pkgdesc = GNOME standard icons
	pkgver = 48.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/adwaita-icon-theme
	arch = any
	license = CC-BY-SA-3.0 OR LGPL-3.0-only
	makedepends = git
	makedepends = gtk-update-icon-cache
	makedepends = meson
	depends = adwaita-icon-theme-legacy
	depends = hicolor-icon-theme
	source = git+https://gitlab.gnome.org/GNOME/adwaita-icon-theme.git#tag=48.0
	b2sums = b73fd9141c28be6de85656ee5afa481d5fefc04c9afbcf616f0a56d7d14e694aba064726c15492240425a270d1b59bc8dbcef8aa51c933ed8fd3ecaf5fbecd2f

pkgname = adwaita-icon-theme
	depends = adwaita-icon-theme-legacy
	depends = hicolor-icon-theme
	depends = adwaita-cursors

pkgname = adwaita-cursors
	pkgdesc = GNOME standard cursors
	depends = 
