pkgbase = liborcus
	pkgdesc = File import filter library for spreadsheet documents.
	pkgver = 0.19.2
	pkgrel = 5
	url = https://gitlab.com/orcus/orcus/blob/master/README.md
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = MPL-2.0
	makedepends = boost
	makedepends = mdds
	depends = libixion
	depends = glibc
	depends = boost-libs
	depends = gcc-libs
	depends = zlib
	depends = python
	optdepends = python-requests: in tool bugzilla
	source = https://kohei.us/files/orcus/src/liborcus-0.19.2.tar.xz
	sha256sums = 69ed26a00d4aaa7688e62a6e003cbc81928521a45e96605e53365aa499719e39

pkgname = liborcus
