pkgbase = libcaca
	pkgdesc = Color ASCII art library
	pkgver = 0.99.beta20
	pkgrel = 4.1
	url = http://caca.zoy.org/wiki/libcaca
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = WTFPL
	makedepends = doxygen
	makedepends = pango
	makedepends = python
	depends = freeglut
	depends = gcc-libs
	depends = glibc
	depends = glu
	depends = imlib2
	depends = libglvnd
	depends = libx11
	depends = ncurses
	depends = slang
	depends = zlib
	optdepends = python: Python bindings
	options = !lto
	source = https://github.com/cacalabs/libcaca/releases/download/v0.99.beta20/libcaca-0.99.beta20.tar.bz2
	source = libcaca-0.99.beta20-CVE-2022-0856.patch
	sha256sums = ff9aa641af180a59acedc7fc9e663543fb397ff758b5122093158fd628125ac1
	sha256sums = 242308d530e20f018c1a275a90c0697b107bf2bfd28e928610bbbe80707bdeef

pkgname = libcaca
