pkgbase = wasi-libc
	pkgdesc = WASI libc implementation for WebAssembly
	pkgver = 0+410+574b88da
	pkgrel = 2
	epoch = 1
	url = https://github.com/WebAssembly/wasi-libc
	arch = any
	license = Apache-2.0 WITH LLVM-exception AND Apache-2.0 AND MIT
	makedepends = clang
	makedepends = git
	makedepends = llvm
	options = staticlibs
	source = git+https://github.com/WebAssembly/wasi-libc.git#commit=574b88da481569b65a237cb80daf9a2d5aeaf82d
	b2sums = a90b2fdbc5f5c3de1ef9438a857a54bd39bda7c01a7b22e087960ddd030d62748fd26eb8ebb94383481e47ec952162797b03d9b510878243ca1a481af2875fa3

pkgname = wasi-libc
