pkgbase = wasi-libc
	pkgdesc = WASI libc implementation for WebAssembly
	pkgver = 0+503+ac020b86
	pkgrel = 1
	epoch = 1
	url = https://github.com/WebAssembly/wasi-libc
	arch = any
	license = Apache-2.0 WITH LLVM-exception AND Apache-2.0 AND MIT
	makedepends = clang
	makedepends = git
	makedepends = llvm
	options = staticlibs
	source = git+https://github.com/WebAssembly/wasi-libc.git#commit=ac020b86fd44bafe60aa4fa12f407d16e3731329
	b2sums = 5c4f370377368c9139fed92c57735dbfac56804c778c9c043785b3f0dc36ec5992d15ddb96cfe7e6e9b67f1b0e16d641cae924f4eab818768c62d1d958aafd0e

pkgname = wasi-libc
