pkgbase = wasi-libc
	pkgdesc = WASI libc implementation for WebAssembly
	pkgver = 0+571+2fc32bc8
	pkgrel = 1
	epoch = 1
	url = https://github.com/WebAssembly/wasi-libc
	arch = any
	license = Apache-2.0 WITH LLVM-exception AND Apache-2.0 AND MIT
	makedepends = clang
	makedepends = cmake
	makedepends = git
	makedepends = llvm
	makedepends = ninja
	makedepends = wasi-compiler-rt
	makedepends = wasm-tools
	makedepends = wasm-component-ld
	makedepends = wasm-pkg-tools
	makedepends = wit-bindgen
	options = !buildflags
	options = staticlibs
	source = git+https://github.com/WebAssembly/wasi-libc.git#commit=2fc32bc81b9f07f8d9525edea59bfbaf760c06d6
	b2sums = c6006678c2481039a9487cae9aaa738b048a40c53c836ef26e5cd91b8b962b831c12c63a07acf0d46401c071a2a91ecc6c8508375a3bb674775211e9878e60d1

pkgname = wasi-libc
