pkgbase = python-incremental
	pkgdesc = A small library that versions your Python projects
	pkgver = 22.10.0
	pkgrel = 7
	url = https://github.com/hawkowl/incremental
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-click
	depends = python-setuptools
	depends = python-twisted
	source = https://github.com/hawkowl/incremental/archive/incremental-22.10.0.tar.gz
	sha512sums = fbc0b123038341a788789aa513c93dfa08592881ea89aafebdd5b21917a9888f7a7d54d7765c105eb362559391ef45f15d8ef98278b0e75c84fce7d83febf5f0

pkgname = python-incremental
