pkgbase = python-poetry-core
	pkgdesc = Poetry PEP 517 Build Backend & Core Utilities
	pkgver = 1.9.1
	pkgrel = 2
	url = https://github.com/python-poetry/poetry-core
	arch = any
	groups = python-build-backend
	license = MIT
	checkdepends = git
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-setuptools
	checkdepends = python-tomli-w
	checkdepends = python-virtualenv
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = python-fastjsonschema
	depends = python-lark-parser
	depends = python-packaging
	source = https://github.com/python-poetry/poetry-core/archive/1.9.1/poetry-core-1.9.1.tar.gz
	source = python-poetry-core-1.9.0-devendor.patch
	sha256sums = ca398d26f666e09162847ddd7f8d6ff6b9fb07003c6d43dd68e80d0a78331aa7
	sha256sums = b6136544236192c80f3c34f266023fb285b753321679c29e61b69b26913c66d2

pkgname = python-poetry-core
