pkgbase = gsettings-desktop-schemas
	pkgdesc = GSettings schemas for GNOME
	pkgver = 49.1
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gsettings-desktop-schemas
	arch = any
	license = LGPL-2.1-or-later
	makedepends = adwaita-fonts
	makedepends = dconf
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	source = git+https://gitlab.gnome.org/GNOME/gsettings-desktop-schemas.git#tag=49.1
	b2sums = 4a148abe1f19ba462a773fa69189e4ce7418b7286f6ee7da9edc1fb75858dfcc6b12c1d5df605c86ff9d816aa7245283af85b54ecabead4a713ce998eca79f3c

pkgname = gsettings-desktop-schemas
	pkgdesc = GSettings schemas for GNOME desktop components
	depends = gsettings-system-schemas=49.1-1
	depends = adwaita-fonts
	depends = dconf

pkgname = gsettings-system-schemas
	pkgdesc = GSettings schemas for GNOME system components
	depends = dconf
