pkgbase = libopenmpt
	pkgdesc = A library to render tracker music to a PCM audio stream
	pkgver = 0.7.11
	pkgrel = 1
	url = https://lib.openmpt.org/libopenmpt/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = BSD-3-Clause
	makedepends = autoconf-archive
	makedepends = doxygen
	makedepends = help2man
	depends = flac
	depends = gcc-libs
	depends = glibc
	depends = libogg
	depends = libpulse
	depends = libsndfile
	depends = libvorbis
	depends = mpg123
	depends = portaudio
	depends = zlib
	provides = libopenmpt.so
	source = libopenmpt-0.7.11.tar.gz::https://lib.openmpt.org/files/libopenmpt/src/libopenmpt-0.7.11+release.autotools.tar.gz
	sha512sums = f155f2c6f1d6a449ae0153976cd549b29ce1808f2655f6c9798f9fb0b7ad682ce8aa2fd54098817113519ec28ffeb3b531cca0901e5a897e45da14e639d5fe72
	b2sums = c2c38c11637558f474aeeb482705e826310cae52b486e271dfe98a324387e20c0bb5c178bdb981f927bcc6c3f3d0e1d79bb5597dc8af1bf9ec20d73ffae6ef84

pkgname = libopenmpt
