pkgbase = coin-or-cgl
	pkgdesc = COIN-OR Cut Generation Library
	pkgver = 0.60.9
	pkgrel = 1
	url = https://github.com/coin-or/Cgl
	arch = x86_64
	arch = powerpc64le
	arch = powerpc
	arch = riscv64
	groups = coin-or
	license = EPL-2.0
	makedepends = git
	depends = coin-or-clp
	depends = coin-or-coinutils
	depends = coin-or-osi
	depends = gcc-libs
	depends = glibc
	source = git+https://github.com/coin-or/Cgl#tag=releases/0.60.9
	sha256sums = b24a06071a18fd10bbda07b90aeb55a88863bd4c145240950869d527cc614097

pkgname = coin-or-cgl
