pkgbase = dolphin-emu
	pkgdesc = A Gamecube and Wii emulator
	pkgver = 2412
	pkgrel = 3
	epoch = 1
	url = https://dolphin-emu.org
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = GPL-2.0-or-later
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = git
	makedepends = libevdev
	makedepends = libminiupnpc.so
	makedepends = libpulse
	makedepends = libudev.so
	makedepends = ninja
	makedepends = python
	makedepends = qt6-base
	makedepends = qt6-svg
	depends = bluez-libs
	depends = bzip2
	depends = enet
	depends = gcc-libs
	depends = glibc
	depends = hidapi
	depends = libavcodec.so
	depends = libavformat.so
	depends = libavutil.so
	depends = libcurl.so
	depends = libfmt.so
	depends = libgl
	depends = libspng.so
	depends = libswscale.so
	depends = libusb-1.0.so
	depends = libx11
	depends = libxi
	depends = libxrandr
	depends = lz4
	depends = lzo
	depends = mbedtls2
	depends = pugixml
	depends = sdl2
	depends = speexdsp
	depends = xxhash
	depends = xz
	depends = zstd
	optdepends = pulseaudio: PulseAudio backend
	options = !emptydirs
	options = !lto
	source = dolphin-emu::git+https://github.com/dolphin-emu/dolphin.git#tag=992b4ea9309899ebc7ca576ebea711a70523098a
	source = git+https://github.com/mozilla/cubeb.git
	source = git+https://github.com/epezent/implot.git
	source = git+https://github.com/mgba-emu/mgba.git
	source = git+https://github.com/zlib-ng/minizip-ng.git
	source = git+https://github.com/RetroAchievements/rcheevos.git
	source = git+https://github.com/arsenm/sanitizers-cmake.git
	source = git+https://github.com/KhronosGroup/SPIRV-Cross.git
	source = git+https://github.com/syoyo/tinygltf.git
	source = git+https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	source = git+https://github.com/zlib-ng/zlib-ng.git
	b2sums = 09e0e0dedac6bc7f91990f7a2002736a0f5a6ab303c8ee31a5d6f936e7611e762ccd8362d85536a1bb645af11e8d1b421ef175cff8d161cbadf3d11d37b86401
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = dolphin-emu
	depends = bluez-libs
	depends = bzip2
	depends = enet
	depends = gcc-libs
	depends = glibc
	depends = hidapi
	depends = libavcodec.so
	depends = libavformat.so
	depends = libavutil.so
	depends = libcurl.so
	depends = libfmt.so
	depends = libgl
	depends = libspng.so
	depends = libswscale.so
	depends = libusb-1.0.so
	depends = libx11
	depends = libxi
	depends = libxrandr
	depends = lz4
	depends = lzo
	depends = mbedtls2
	depends = pugixml
	depends = sdl2
	depends = speexdsp
	depends = xxhash
	depends = xz
	depends = zstd
	depends = alsa-lib
	depends = hicolor-icon-theme
	depends = libevdev
	depends = libminiupnpc.so
	depends = libpulse
	depends = libudev.so
	depends = qt6-base
	depends = qt6-svg

pkgname = dolphin-emu-tool
