pkgbase = python-hpack
	pkgdesc = Pure-Python HPACK header compression
	pkgver = 4.0.0
	pkgrel = 6
	url = https://hyper.rtfd.org/
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-hypothesis
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = https://github.com/python-hyper/hpack/archive/v4.0.0/python-hpack-4.0.0.tar.gz
	sha512sums = f482d086d7a82649393e3cfea55c98966ce57055cb1826bc4dec1ea334661c02708e7903f2e8e588ee1c30df41373e1de9fb960c2e7bbc18d0ace0b8f97b195b

pkgname = python-hpack
