pkgbase = kxmlgui5
	pkgdesc = User configurable main windows
	pkgver = 5.116.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kglobalaccel5
	depends = kiconthemes5
	depends = kitemviews5
	conflicts = kxmlgui<5.111
	replaces = kxmlgui<5.111
	source = https://download.kde.org/stable/frameworks/5.116/kxmlgui-5.116.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.116/kxmlgui-5.116.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 636566a2530db0011c09de7f98ba83a53591e6cbdc43a2bb63ff125b991c7a40
	sha256sums = SKIP

pkgname = kxmlgui5
