pkgbase = inotify-tools
	pkgdesc = inotify-tools is a C library and a set of command-line programs for Linux providing a simple interface to inotify.
	pkgver = 4.23.9.0
	pkgrel = 2
	url = https://github.com/inotify-tools/inotify-tools
	arch = x86_64
	license = GPL
	makedepends = gcc
	makedepends = make
	makedepends = doxygen
	options = docs
	source = inotify-tools-4.23.9.0.tar.gz::https://github.com/inotify-tools/inotify-tools/archive/refs/tags/4.23.9.0.tar.gz
	sha256sums = 1dfa33f80b6797ce2f6c01f454fd486d30be4dca1b0c5c2ea9ba3c30a5c39855

pkgname = inotify-tools
