pkgbase = obconf-qt
	pkgdesc = Openbox configuration tool. Qt port of ObConf
	pkgver = 0.16.4
	pkgrel = 1
	url = https://github.com/lxqt/obconf-qt
	arch = x86_64
	groups = lxqt
	license = GPL-2.0-or-later
	makedepends = lxqt-build-tools
	depends = hicolor-icon-theme
	depends = openbox
	depends = qt5-x11extras
	source = https://github.com/lxqt/obconf-qt/releases/download/0.16.4/obconf-qt-0.16.4.tar.xz
	source = https://github.com/lxqt/obconf-qt/releases/download/0.16.4/obconf-qt-0.16.4.tar.xz.asc
	validpgpkeys = 169704C6FB490C6892C7F23C37E0AF1FDA48F373
	validpgpkeys = 7C733BA5F585AAD669E4D23A42C9C8D3AF5EA5E3
	validpgpkeys = 19DFDF3A579BD509DBB572D8BE793007AD22DF7E
	sha512sums = 4f75a5275e14cd7e8f0abc1bfcd40b4d860d613bc37c06c0e68d6f622ed126dce2fea98b5dd8e629b5de472ab5e668a5b0af7f6621d09fcb0b2287a11b0fb662
	sha512sums = SKIP

pkgname = obconf-qt
