pkgbase = python-aiohappyeyeballs
	pkgdesc = Happy Eyeballs for asyncio
	pkgver = 2.4.4
	pkgrel = 1
	url = https://github.com/aio-libs/aiohappyeyeballs
	arch = any
	license = PSF-2.0.1
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python
	source = git+https://github.com/aio-libs/aiohappyeyeballs.git#tag=v2.4.4
	b2sums = 0a7e07ea905348f582b58b3fabbab53d07e3e465a2bdb890129c1d706cd7df96d42fad113089b121a88682f893ab2dc45096334dac23131821eb37386b94fc3b

pkgname = python-aiohappyeyeballs
