pkgbase = python-flit-core
	pkgdesc = A PEP 517 build backend for packages using Flit
	pkgver = 3.10.1
	pkgrel = 3
	url = https://github.com/pypa/flit/tree/main/flit_core
	arch = any
	groups = python-build-backend
	license = BSD-3-Clause
	checkdepends = python-pytest
	checkdepends = python-testpath
	makedepends = python-build
	makedepends = python-installer
	depends = python
	source = flit-3.10.1.tar.gz::https://github.com/pypa/flit/archive/refs/tags/3.10.1.tar.gz
	sha512sums = 51f797f480102fe89cd69f3fbd91c614b2390a37659c589622f2c7938cc64bc223f710e07365766159b6833d7afdafef4461a92667b6e3ae786df5137a877ee1
	b2sums = c69769b27da424c361a419a69ed21587bc11b8c256450f4546dd49015894995286edb7bfd18105de15af1ce1cc8d427746bd258aa08f3b64a2192ae3a1863ee0

pkgname = python-flit-core
