pkgbase = libnvme
	pkgdesc = C Library for NVM Express on Linux
	pkgver = 1.12
	pkgrel = 2
	url = https://github.com/linux-nvme/libnvme
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	license = LGPL-2.1-only
	makedepends = systemd
	makedepends = meson
	makedepends = asciidoc
	makedepends = python
	makedepends = swig
	depends = json-c
	depends = openssl
	depends = keyutils
	depends = dbus
	depends = liburing
	source = libnvme-1.12.tar.gz::https://github.com/linux-nvme/libnvme/archive/v1.12.tar.gz
	sha256sums = 53791f2e75773ba95449fc98a3b8b444d984624322ec6980049fd4eb289123d5

pkgname = libnvme
