pkgbase = python-blosc2
	pkgdesc = Wrapper for the blosc2 compressor
	pkgver = 4.9.1
	pkgrel = 1
	url = https://github.com/Blosc/python-blosc2
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = cython
	makedepends = git
	makedepends = ninja
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-scikit-build-core
	makedepends = python-setuptools
	depends = blosc2
	depends = glibc
	depends = python
	depends = python-msgpack
	depends = python-ndindex
	depends = python-numexpr
	depends = python-numpy
	depends = python-httpx
	depends = python-h2
	depends = python-pydantic
	depends = python-rich
	depends = python-threadpoolctl
	source = python-blosc2::git+https://github.com/Blosc/python-blosc2#tag=v4.9.1
	sha512sums = 39af225cc2054e2e10895082baf7366e23c8e93e2294a400944a50f01ffea57c911cae627c171a1bf159fc1fba0cbc01570df338617f6344a7d30400744b9fd3
	b2sums = f63c146bf44064d998d2abb114b0fbfb05b9062c1dd988e7e41993b1d69920b6dc6457b3d7b05f4cb46793b2e3550d25edc1c33464178d70c05c32960047d73e

pkgname = python-blosc2
