pkgbase = kldap
	pkgdesc = LDAP access API for KDE
	pkgver = 24.05.2
	pkgrel = 1
	url = https://kontact.kde.org
	arch = x86_64
	license = LGPL-2.0-or-later
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = qt6-doc
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = kconfig
	depends = kcoreaddons
	depends = ki18n
	depends = kio
	depends = kwidgetsaddons
	depends = libldap
	depends = libsasl
	depends = qt6-base
	depends = qtkeychain-qt6
	source = https://download.kde.org/stable/release-service/24.05.2/src/kldap-24.05.2.tar.xz
	source = https://download.kde.org/stable/release-service/24.05.2/src/kldap-24.05.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = df5796950e68a06166fbf3001f8f45fcece3a7c7aa3c294d0a151377200a19da
	sha256sums = SKIP

pkgname = kldap
