pkgbase = python-dill
	pkgdesc = serialize all of Python
	pkgver = 0.3.8
	pkgrel = 3
	url = https://github.com/uqfoundation/dill
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-objgraph: graph support
	source = python-dill::git+https://github.com/uqfoundation/dill#tag=0.3.8
	sha512sums = 6e469c9c462dea705e3a6e41597972e29888e1fe1bbbb7fbc6af346a76336a047ace4ba0b0a3f12cde01d0fbd6ffee9539f55a5d95351baf351382b93e485d5f
	b2sums = 38158726a59d123cd63e414897a0445e709c0b10e4c72a463e3aa1bbe8e5c2afc3295e2f0de9d96b568c154fd0ba60b26b334a939744e2eabc4707079ec4c8cf

pkgname = python-dill
