pkgbase = python-importlib-metadata
	pkgdesc = Read metadata from Python packages
	pkgver = 8.6.1
	pkgrel = 1
	url = https://importlib-metadata.readthedocs.io
	arch = any
	license = Apache-2.0
	checkdepends = python-jaraco.test
	checkdepends = python-pytest
	checkdepends = python-pyfakefs
	checkdepends = python-pip
	checkdepends = python-tests
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-zipp
	source = git+https://github.com/python/importlib_metadata.git#tag=v8.6.1?signed
	validpgpkeys = CE380CF3044959B8F377DA03708E6CB181B4C47E
	sha512sums = c569fad7cca85d5a97023f9c940ae74a2f69acdaec8ca05c2eb578181b40b5ab7dc157afbcd2015fbafdd4735505fd58c03ac588badded98ddc2d396087abfaa

pkgname = python-importlib-metadata
