pkgbase = bazelisk
	pkgdesc = A user-friendly launcher for Bazel.
	pkgver = 1.25.0
	pkgrel = 5
	url = https://github.com/bazelbuild/bazelisk
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = Apache-2.0
	makedepends = go
	makedepends = git
	depends = glibc
	provides = bazel
	conflicts = bazel
	options = !lto
	source = git+https://github.com/bazelbuild/bazelisk#tag=v1.25.0
	sha256sums = f0244c0b001e8eb629af90e33057c62e65157928a3d7f56cfbbcf4cecb675283
	makedepends_x86_64 = go
	makedepends_powerpc64le = go
	makedepends_powerpc64 = gcc-go
	makedepends_powerpc = gcc-go
	makedepends_riscv64 = go

pkgname = bazelisk
