pkgbase = alsa-plugins
	pkgdesc = Additional ALSA plugins
	pkgver = 1.2.12
	pkgrel = 5
	epoch = 1
	url = https://www.alsa-project.org
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	makedepends = alsa-lib
	makedepends = dbus
	makedepends = ffmpeg
	makedepends = jack
	makedepends = libavtp
	makedepends = libpulse
	makedepends = libsamplerate
	makedepends = speexdsp
	source = https://www.alsa-project.org/files/pub/plugins/alsa-plugins-1.2.12.tar.bz2
	source = https://www.alsa-project.org/files/pub/plugins/alsa-plugins-1.2.12.tar.bz2.sig
	source = pulse-sysdefault.diff
	validpgpkeys = F04DF50737AC1A884C4B3D718380596DA6E59C91
	sha512sums = b2064eb32662662f422f6e7c71f503d82c68d7a7059c8197bdd61ee08735b3ee104c6a5f9e3451e81124634514b91fc89d05d33041d9c2bb0f55b3c2ac3271b1
	sha512sums = SKIP
	sha512sums = b8c8e55f4da0ae87cc44d75a906d00b4f1e2304e6bc10419c6e0913c8f7d29599a3f3d41733decbe412a4669ea0d5af2a57f85b1655fba3625fbbd33c956f3f9
	b2sums = ee9514d7cd73881840b17d86d52d3557936ce666ae5027b423903f2dedc74b112a8592d66dd2514744057e4bcebaf5c689f39fcc9027e05106cc0a0090470f34
	b2sums = SKIP
	b2sums = 83c16b77c1737b2b59b60302be22b63e53026a366799fd97fe3c03b86756063d1b9689d5ffc7c793b40db55bdb79a5b6d72a17e0c8aa32364d6e639cf7ad3ce0

pkgname = alsa-plugins
	depends = alsa-lib
	depends = libasound.so
	depends = glibc
	optdepends = dbus: for maemo plugin
	optdepends = ffmpeg: for pcm_a52 plugin
	optdepends = jack: for pcm_jack plugin
	optdepends = libavtp: for pcm_aaf plugin
	optdepends = libsamplerate: for rate_samplerate plugin
	optdepends = libpulse: for conf_pulse, ctl_pulse and pcm_pulse plugins
	optdepends = speexdsp: for pcm_speex and rate_speexrate plugins

pkgname = pulseaudio-alsa
	pkgdesc = ALSA Configuration for PulseAudio
	depends = alsa-plugins>=1.2.2-2
	depends = libpulse
