pkgbase = ruby-localhost
	pkgdesc = Manage a local certificate authority for self-signed localhost development servers
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/socketry/localhost
	arch = any
	license = MIT
	checkdepends = ruby-bake
	checkdepends = ruby-bake-test
	checkdepends = ruby-bake-test-external
	checkdepends = ruby-bundler
	checkdepends = ruby-covered
	checkdepends = ruby-decode
	checkdepends = ruby-io-endpoint
	checkdepends = ruby-sus
	checkdepends = ruby-sus-fixtures-async
	checkdepends = ruby-sus-fixtures-async-http
	makedepends = git
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = git+https://github.com/socketry/localhost.git#tag=v1.5.0
	sha512sums = c20f6caa401ccb7b69bcf51241124e2537c291d9e34db6998ea15a722368851615ebe18a2ebf694d351839bee0f0f4edd8614eb3b6b82b3470f3b6787b311913
	b2sums = 254372c748dde22001fac3aae64de86d613471a72b6e0a9e9e123e07435fa140cae58e3ab2f182c68b31d9b3749aead39290328fed4bf7c098242859728dee8b

pkgname = ruby-localhost
