pkgbase = modemmanager
	pkgdesc = Mobile broadband modem management service
	pkgver = 1.24.2
	pkgrel = 1
	url = https://www.freedesktop.org/wiki/Software/ModemManager/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	checkdepends = python-dbus
	checkdepends = python-gobject
	makedepends = bash-completion
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = systemd
	makedepends = vala
	depends = bash
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgudev
	depends = libmbim
	depends = libqmi
	depends = libqrtr-glib
	depends = mobile-broadband-provider-info
	depends = polkit
	depends = ppp
	depends = systemd-libs
	source = git+https://gitlab.freedesktop.org/mobile-broadband/ModemManager.git?signed#tag=1.24.2
	validpgpkeys = A814D09B9C5BC01945A64308AECE0239C6606AD5
	validpgpkeys = 3A948E16E8860C68CD68441D734614319E26A433
	b2sums = fbf202dc30af2201ba2a675183bdf8b12d0f8665e4a73454c7d7bca8cc7acf4ee93c42c291f9ddfa84c696b7c05a1b68e4211f7e75707aea0000f77bff6cc72b

pkgname = modemmanager
	license = GPL-2.0-or-later
	depends = bash
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgudev
	depends = libmbim
	depends = libqmi
	depends = libqrtr-glib
	depends = mobile-broadband-provider-info
	depends = polkit
	depends = ppp
	depends = systemd-libs
	depends = libmm-glib=1.24.2-1
	depends = libmm-glib.so
	depends = libgudev-1.0.so
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = libgmodule-2.0.so
	depends = libmbim-glib.so
	depends = libqmi-glib.so
	depends = libsystemd.so
	optdepends = usb_modeswitch: install if your modem shows up as a storage drive

pkgname = libmm-glib
	pkgdesc = ModemManager library
	license = LGPL-2.1-or-later
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = glibc
	provides = libmm-glib.so

pkgname = modemmanager-docs
	pkgdesc = Mobile broadband modem management service (documentation)
	depends = 
