pkgbase = python-yarl
	pkgdesc = Yet another URL library
	pkgver = 1.12.0
	pkgrel = 1
	url = https://github.com/aio-libs/yarl/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = Apache-2.0
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	makedepends = cython
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-expandvars
	depends = glibc
	depends = python
	depends = python-multidict
	depends = python-idna
	source = https://github.com/aio-libs/yarl/archive/v1.12.0/python-yarl-1.12.0.tar.gz
	sha512sums = d2028e44741bc1b47669ec9dfa2264a190d5f16d223d132fe8247011e54f41b3640e53387ae93256f82f186c2abd61718f81a45ae180e96eabedb050e83bda9e
	b2sums = 3814505c8ca9176f737b204bab92df24c63adf054ed7625ec7bacb83697fa5d3098ad16681b3729c45fd3205e04238ed5663e18dc1f25a24e31ba30cfb5c1962

pkgname = python-yarl
