pkgbase = python-mergedeep
	pkgdesc = A deep merge function for Python
	pkgver = 1.3.4
	pkgrel = 4
	url = https://github.com/clarketm/mergedeep
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-setuptools
	depends = python
	source = git+https://github.com/clarketm/mergedeep.git#tag=ab871aff9eccb5e1bf0ea237c3cff8f6787ebc56
	b2sums = 82cceebc42d8a7f429f281b197c90a58f2a95f11590f21e833be0e09d43ebac03b4b4670576c5194afa2c0cd682640a0c4c99784631ba9ed4432256524cf6978

pkgname = python-mergedeep
