pkgbase = python-mistune
	pkgdesc = A fast yet powerful Python Markdown parser with renderers and plugins
	pkgver = 3.2.0
	pkgrel = 1
	epoch = 1
	url = https://mistune.lepture.com
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = https://github.com/lepture/mistune/archive/v3.2.0/python-mistune-3.2.0.tar.gz
	sha512sums = dc4ab1536b71a5710127cdc6c623ff3cef3452bf843908eebf514213edb6ad29b475e08dabc9b88902d873d01dc9033ff3253a6a413aa90a04dfedf2f6598144
	b2sums = f92ea0cb2799c2a80a3812815d9f6b5284492b76ad0cb4883706173754b7d54439705c356129918cd470596a9a9ab60c7fd2c4cfcf0667eafa233bde92d78fd8

pkgname = python-mistune
