pkgbase = wpebackend-fdo
	pkgdesc = Freedesktop.org backend for WPE WebKit
	pkgver = 1.14.2
	pkgrel = 2
	url = https://wpewebkit.org
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = mesa
	makedepends = meson
	makedepends = wayland-protocols
	depends = glib2
	depends = libegl
	depends = libepoxy
	depends = libwpe
	depends = wayland
	source = git+https://github.com/Igalia/WPEBackend-fdo#commit=f121a8e93736b099906b7848797f89c9b689892b
	validpgpkeys = 5AA3BC334FD7E3369E7C77B291C559DBE4C9123B
	b2sums = SKIP

pkgname = wpebackend-fdo
	depends = glib2
	depends = libegl
	depends = libepoxy
	depends = libwpe
	depends = wayland
	depends = libwpe-1.0.so
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	provides = libWPEBackend-fdo-1.0.so
