pkgbase = python-sphinxcontrib-htmlhelp
	pkgdesc = Sphinx extension which renders HTML help files
	pkgver = 2.1.0
	pkgrel = 5
	url = https://github.com/sphinx-doc/sphinxcontrib-htmlhelp
	arch = any
	license = BSD-2-Clause
	checkdepends = python-html5lib
	checkdepends = python-pytest
	checkdepends = python-sphinx
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	source = git+https://github.com/sphinx-doc/sphinxcontrib-htmlhelp.git#tag=2.1.0
	b2sums = 219ea3c0fa4884e17af74fad70cf5a6c303a93684101fbd3216c1d07801887ed087add45c93223330eb27da5cf3a9ec659fee72b6e83bb2ce0789cc9c6cc33ed

pkgname = python-sphinxcontrib-htmlhelp
