pkgbase = ruby-io-event
	pkgdesc = An event loop
	pkgver = 1.14.2
	pkgrel = 1
	url = https://github.com/socketry/io-event
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	checkdepends = ruby-async
	checkdepends = ruby-bake
	checkdepends = ruby-bake-test
	checkdepends = ruby-bake-test-external
	checkdepends = ruby-bundler
	checkdepends = ruby-covered
	checkdepends = ruby-decode
	checkdepends = ruby-sus
	depends = ruby
	options = !emptydirs
	source = https://github.com/socketry/io-event/archive/v1.14.2/ruby-io-event-1.14.2.tar.gz
	sha512sums = 02a9e9b959ab4a9ce36431276d62d6185c890bf18065e12d3acdba25a4b249cf57887bfb5c6f7c8e472fef6a9d5e11a0ef08a9d35b41bcd355a647c0371f635c
	b2sums = 981b137c3f1a879d1b9872919652e5e0d424171204d7a663afbef39aff1a250424d4ecf3eb330648f8f1901df28ebcf1981d62979122ff38a2f3850db6082c5c

pkgname = ruby-io-event
