pkgbase = kirigami-addons
	pkgdesc = Add-ons for the Kirigami framework
	pkgver = 1.8.1
	pkgrel = 1
	url = https://invent.kde.org/libraries/kirigami-addons
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = kconfig
	depends = kcoreaddons
	depends = kglobalaccel
	depends = kguiaddons
	depends = ki18n
	depends = kirigami
	depends = kitemmodels
	depends = ksvg
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = sonnet
	source = https://download.kde.org/stable/kirigami-addons/kirigami-addons-1.8.1.tar.xz
	source = https://download.kde.org/stable/kirigami-addons/kirigami-addons-1.8.1.tar.xz.sig
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = 39FFA93CAE9C6AFC212AD00202325448204E452A
	sha256sums = 00028ae4df99e250518345ea28d9cdf49d700e9acac482734bb51384da11f945
	sha256sums = SKIP

pkgname = kirigami-addons
