pkgbase = kirigami-addons
	pkgdesc = Add-ons for the Kirigami framework
	pkgver = 1.12.1
	pkgrel = 1
	url = https://invent.kde.org/libraries/kirigami-addons
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	makedepends = extra-cmake-modules
	depends = glibc
	depends = kcolorscheme
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = kglobalaccel
	depends = kguiaddons
	depends = ki18n
	depends = kiconthemes
	depends = kirigami
	depends = kitemmodels
	depends = ksvg
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = sonnet
	source = https://download.kde.org/stable/kirigami-addons/kirigami-addons-1.12.1.tar.xz
	source = https://download.kde.org/stable/kirigami-addons/kirigami-addons-1.12.1.tar.xz.sig
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = 39FFA93CAE9C6AFC212AD00202325448204E452A
	sha256sums = c543a493ce5875f405fb1c9ff6d531060ed082cc6d710e56d46ac42d164207bb
	sha256sums = SKIP

pkgname = kirigami-addons
