pkgbase = uriparser
	pkgdesc = uriparser is a strictly RFC 3986 compliant URI parsing library. uriparser is cross-platform, fast, supports Unicode
	pkgver = 0.9.9
	pkgrel = 1
	url = https://github.com/uriparser/uriparser
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = custom
	makedepends = cmake
	source = https://github.com/uriparser/uriparser/releases/download/uriparser-0.9.9/uriparser-0.9.9.tar.xz
	sha256sums = 85645df1bb220a3867c42f8adeba4f6a4b2fdc1563e91ad7d9f92d14d3dd377d

pkgname = uriparser
