pkgbase = qt6-quick3d
	pkgdesc = Qt module and API for defining 3D content in Qt Quick
	pkgver = 6.8.2
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	groups = qt6
	license = GPL-3.0-only
	license = LGPL-3.0-only
	license = LicenseRef-Qt-Commercial
	license = Qt-GPL-exception-1.0
	makedepends = assimp
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = openxr
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-quicktimeline
	depends = qt6-shadertools
	depends = zlib
	optdepends = assimp: assimp import plugin
	source = git+https://code.qt.io/qt/qtquick3d#tag=v6.8.2
	sha256sums = 7c46c9d2170b4faf4542c725ff2093768c8e736bd58dd6232b8d0ed6cf22b95e

pkgname = qt6-quick3d
