pkgbase = tde-gwenview-i18n
	pkgdesc = Internationalization (i18n) for Gwenview, an image viewer for TDE
	pkgver = 14.1.5
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/gwenview-i18n
	arch = any
	groups = tde-complete
	license = GPL
	makedepends = tde-cmake-trinity
	makedepends = pkgconfig
	depends = tde-tdelibs
	provides = gwenview-i18n
	conflicts = trinity-gwenview-i18n
	conflicts = kdemod3-gwenview-i18n
	replaces = trinity-gwenview-i18n
	options = staticlibs
	options = libtool
	options = !strip
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.5/main/applications/graphics/gwenview-i18n-trinity-14.1.5.tar.xz
	md5sums = b0f7dbb1a2882ee2ddfc77186ef0191c

pkgname = tde-gwenview-i18n
