pkgbase = python-aiofiles
	pkgdesc = File support for asyncio
	pkgver = 24.1.0
	pkgrel = 2
	url = https://github.com/Tinche/aiofiles
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	source = git+https://github.com/Tinche/aiofiles.git#tag=a637d6ba623c10877ac5969a2ea4d900b8c34945
	b2sums = 206ba2dd8762d5a7d9f74955172a824e81498439002bca4c088f37948b3ea382ba8e50885737a5247f35552abcf85026651a060212b27b8c62bd53c02b3e0df9

pkgname = python-aiofiles
