pkgbase = pdal
	pkgdesc = A C++ library for translating and manipulating point cloud data
	pkgver = 2.7.2
	pkgrel = 1
	url = http://www.pdal.io
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = python
	makedepends = python-numpy
	makedepends = ninja
	makedepends = postgresql-libs
	depends = gdal
	depends = libgeotiff
	depends = jsoncpp
	optdepends = python-numpy: for the Python plugin
	optdepends = sqlite: for the sqlite plugin
	optdepends = postgresql-libs: for the postgresql plugin
	provides = pdal
	source = https://github.com/PDAL/PDAL/releases/download/2.7.2/PDAL-2.7.2-src.tar.bz2
	sha512sums = 81e4d4b136e292f5a2e4145f730e00375a26a6a2aa52af679bea6d9d371b55c92641475ea332fc8301fe35d237415b70ea311da3fc1bc4ff69013a7448f66896

pkgname = pdal
