pkgbase = svt-av1
	pkgdesc = Scalable Video Technology AV1 encoder and decoder
	pkgver = 3.1.2
	pkgrel = 1
	url = https://gitlab.com/AOMediaCodec/SVT-AV1
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = BSD
	license = custom: Alliance for Open Media Patent License 1.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = glibc
	source = git+https://gitlab.com/AOMediaCodec/SVT-AV1.git#tag=b33dcc56cc64fcb3b3569094af8ab1d0d81ab4c1
	b2sums = 11a0233d45624a476e829e2b8fc5e0dac00b4ff77a4c6284abc38590258022684cbd6e4eb139050a20b688ed801205e0017f269a58794b4ed06a7079fd022c98
	makedepends_x86_64 = nasm

pkgname = svt-av1
