pkgbase = rocrand
	pkgdesc = Pseudo-random and quasi-random number generator on ROCm
	pkgver = 6.3.2
	pkgrel = 1
	url = https://rocm.docs.amd.com/projects/rocRAND/en/latest/index.html
	arch = x86_64
	arch = powerpc64le
	arch = powerpc
	arch = riscv64
	license = MIT
	makedepends = rocm-cmake
	makedepends = gcc-fortran
	makedepends = python
	makedepends = git
	depends = rocm-core
	depends = hip-runtime-amd
	depends = glibc
	depends = gcc-libs
	optdepends = gcc-fortran: Use Fortran wrapper
	options = !lto
	source = rocrand-6.3.2.tar.gz::https://github.com/ROCmSoftwarePlatform/rocRAND/archive/rocm-6.3.2.tar.gz
	sha256sums = 57f364806369ddb80761ce44187920075cf446de527dd1fbc6adbb4b4b3e9bb8

pkgname = rocrand
