pkgbase = python-ansi2html
	pkgdesc = Convert text with ANSI color codes to HTML
	pkgver = 1.9.2
	pkgrel = 3
	url = https://github.com/pycontribs/ansi2html
	arch = any
	license = LGPL-3.0-or-later
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	depends = python
	source = python-ansi2html-1.9.2.tar.gz::https://github.com/pycontribs/ansi2html/archive/refs/tags/v1.9.2.tar.gz
	validpgpkeys = 94504C3AE11DD197920058ABA90ED7DE971095FF
	sha256sums = d4a12e0d0ed06af467882bcc24fad34ddcf7d4d61f237125ce7713f7f1341c3f
	b2sums = a43f25a47af819a4302217fcfbe39081b40b2a94bb8a186f2ae3b52aceac9ab1a789e5c8848da2de00ec817cc8e182b36aec69d2a5d042838db100a2e6d693ee

pkgname = python-ansi2html
