pkgbase = python-responses
	pkgdesc = A utility library for mocking out the `requests` Python library.
	pkgver = 0.25.5
	pkgrel = 1
	url = https://github.com/getsentry/responses
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-httpserver
	checkdepends = python-tomli-w
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = python-requests
	depends = python-urllib3
	depends = python-yaml
	source = git+https://github.com/getsentry/responses.git#tag=0.25.5
	sha512sums = 2a6bf1cb62d3f99261ec945d89833ef3006e926782f6350c1757e3fe9fbe5a878876eb9b55b8eba5547bebc6997f9e5467efe92b1979b4ec88bd3923b7d89aad

pkgname = python-responses
