pkgbase = python-responses
	pkgdesc = A utility library for mocking out the `requests` Python library.
	pkgver = 0.25.2
	pkgrel = 1
	url = https://github.com/getsentry/responses
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-httpserver
	checkdepends = python-tomli-w
	makedepends = git
	makedepends = python-setuptools
	depends = python-requests
	depends = python-urllib3
	depends = python-yaml
	source = git+https://github.com/getsentry/responses.git#tag=0.25.2
	sha512sums = d1d39a7a51534a9642aa6723aa2acfb10197cbdc05b53b6c65f3e2864fd93ceb98b3f82b1ead988aa0f8be8bca8e1af10e15751395615a11e9e4dccab6da4b45

pkgname = python-responses
