pkgbase = suitesparse
	pkgdesc = A collection of sparse matrix libraries
	pkgver = 7.10.2
	pkgrel = 1
	url = http://faculty.cse.tamu.edu/davis/suitesparse.html
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	license = GPL
	makedepends = cmake
	makedepends = gcc-fortran
	makedepends = git
	depends = blas
	depends = gcc-libs
	depends = glibc
	depends = gmp
	depends = lapack
	depends = mpfr
	replaces = suitesparse64<7.1.0
	source = git+https://github.com/DrTimothyAldenDavis/SuiteSparse#tag=v7.10.2
	sha256sums = 8a8c5569af07b0678703ac380bf83482d6e3e952a17b30189365a8eaaaf2386e

pkgname = suitesparse

pkgname = suitesparse-graphblas
	pkgdesc = Graph algorithms in the language of linear algebra
	depends = gcc-libs
	depends = glibc
