pkgbase = freerdp
	pkgdesc = Free implementation of the Remote Desktop Protocol (RDP)
	pkgver = 3.9.0
	pkgrel = 4
	epoch = 2
	url = https://www.freerdp.com/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = Apache-2.0
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = e2fsprogs
	makedepends = ffmpeg
	makedepends = icu
	makedepends = json-c
	makedepends = krb5
	makedepends = libjpeg-turbo
	makedepends = libp11
	makedepends = libpng
	makedepends = libpulse
	makedepends = libusb
	makedepends = libwebp
	makedepends = openssl
	makedepends = pam
	makedepends = pkcs11-helper
	makedepends = xorgproto
	makedepends = zlib
	depends = fuse3
	depends = gcc-libs
	depends = glibc
	depends = libcups
	depends = libx11
	depends = libxcursor
	depends = libxext
	depends = libxdamage
	depends = libxfixes
	depends = libxkbcommon
	depends = libxi
	depends = libxinerama
	depends = libxkbfile
	depends = libxrandr
	depends = libxrender
	depends = libxtst
	depends = sdl2
	depends = sdl2_ttf
	depends = wayland
	provides = libfreerdp-client3.so
	provides = libfreerdp-server-proxy3.so
	provides = libfreerdp-server3
	provides = libfreerdp-shadow-subsystem3.so
	provides = libfreerdp-shadow3.so
	provides = libfreerdp3.so
	provides = libwinpr-tools3.so
	provides = libwinpr3.so
	source = https://github.com/freerdp/freerdp/archive/3.9.0/freerdp-3.9.0.tar.gz
	source = freerdp-3.9.0-fix-overlapping-check.patch::https://github.com/FreeRDP/FreeRDP/commit/d8dc2956e5df589ca0766d88797f1cd4dbb10882.patch
	sha512sums = c73428975dbe5763cdd7c3334d3482c49f0bc091cab6e9e52b708d132435baa4f60b0a29ced4ace5cd72fc99daa60bd43e33d271d0516b7c05b69d04f348ae52
	sha512sums = 3980f3eff7a2b9754b9af83b1cad56683b982acd3a0ece96d57d3f602aef412d731233f517c080f13837d5c3ec6bb8d7829a06cd5534f4c00ae46f9de576bb3e
	b2sums = 2e20c141a9e9892a748fc6e825c33351d38e73d1e8058dd2c54103b94c69a04783d563d1555ec73c3214851fe915609f4e69b3c6e63f478bd3548ec61d976d67
	b2sums = ea0149f7e15f227a62feb1aad5bdf84d43edc09dc5ce709525d5a88d614c7c3a08eb58afc3c27801f3e16961a5a2fccc2ac27f82fc7886a829747398129cc055

pkgname = freerdp
	depends = fuse3
	depends = gcc-libs
	depends = glibc
	depends = libcups
	depends = libx11
	depends = libxcursor
	depends = libxext
	depends = libxdamage
	depends = libxfixes
	depends = libxkbcommon
	depends = libxi
	depends = libxinerama
	depends = libxkbfile
	depends = libxrandr
	depends = libxrender
	depends = libxtst
	depends = sdl2
	depends = sdl2_ttf
	depends = wayland
	depends = alsa-lib
	depends = libasound.so
	depends = e2fsprogs
	depends = libcom_err.so
	depends = ffmpeg
	depends = libavcodec.so
	depends = libavutil.so
	depends = libswresample.so
	depends = libswscale.so
	depends = icu
	depends = libicuuc.so
	depends = json-c
	depends = libjson-c.so
	depends = krb5
	depends = libk5crypto.so
	depends = libkrb5.so
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = libpng
	depends = libpng16.so
	depends = libpulse
	depends = libpulse.so
	depends = libusb
	depends = libusb-1.0.so
	depends = libwebp
	depends = libwebp.so
	depends = openssl
	depends = libcrypto.so
	depends = libssl.so
	depends = pam
	depends = libpam.so
	depends = zlib
	depends = libz.so
