pkgbase = python-astroid
	pkgdesc = A common base representation of python source code
	pkgver = 4.1.2
	pkgrel = 1
	url = https://github.com/pylint-dev/astroid
	arch = any
	license = LGPL-2.1-or-later
	checkdepends = mypy
	checkdepends = python-attrs
	checkdepends = python-dateutil
	checkdepends = python-pyqt6
	checkdepends = python-regex
	checkdepends = python-urllib3
	checkdepends = python-pip
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	conflicts = python-logilab-astng
	replaces = python-logilab-astng
	source = https://github.com/pylint-dev/astroid/archive/v4.1.2/astroid-4.1.2.tar.gz
	sha256sums = 0562aea26e89c142d71b06704889600e690552fd981f95927a76f822dc90200c

pkgname = python-astroid
