pkgbase = mgard
	pkgdesc = MultiGrid Adaptive Reduction of Data
	pkgver = 1.6.0
	pkgrel = 3
	url = https://github.com/CODARcode/MGARD
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = Apache-2.0
	makedepends = catch2
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	depends = abseil-cpp
	depends = gcc-libs
	depends = glibc
	depends = protobuf
	depends = libprotobuf.so
	depends = zlib
	depends = libz.so
	depends = zstd
	depends = libzstd.so
	source = https://github.com/CODARcode/MGARD/archive/1.6.0/mgard-1.6.0.tar.gz
	b2sums = ca88641cfe2f1b1f72c8bbb35078925a96c426ff2918f7b564c0ad5c7bb49e68a145cec74cf269b3ee208ef5bd41f0c4ab7ce1376c5ff4a1f8ce7b2a268a1ca2

pkgname = mgard
