pkgbase = ruby-rdoc
	pkgdesc = Command-line documentation generator for Ruby projects
	pkgver = 6.10.0
	pkgrel = 57
	url = https://ruby.github.io/rdoc/
	arch = any
	license = Ruby
	checkdepends = ruby-test-unit
	checkdepends = ruby-test-unit-ruby-core
	makedepends = ruby-bundler
	makedepends = ruby-kpeg
	makedepends = ruby-racc
	makedepends = ruby-rake
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-erb
	depends = ruby-psych
	options = !emptydirs
	source = https://github.com/ruby/rdoc/archive/v6.10.0/ruby-rdoc-6.10.0.tar.gz
	sha512sums = 670295bf8dceb59100fcf6cef46942414d5b1367ff604be3623b5264955c879e37f0bbe382af48a22113f7702d6e3d6e2ed122b6649466779ae4bca1cb0c128b
	b2sums = f73029ea1d4984510a2ffe30ca608f609b218948b34ea9966e0ea0482b20946b90b753fe905109a042819677a291442fadc9e66961648db4f1bc442fc817600b

pkgname = ruby-rdoc
