pkgbase = fakeroot
	pkgdesc = Tool for simulating superuser privileges
	pkgver = 1.37
	pkgrel = 1
	url = https://tracker.debian.org/pkg/fakeroot
	install = fakeroot.install
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = GPL-3.0-or-later
	checkdepends = sharutils
	makedepends = git
	makedepends = systemd
	makedepends = po4a
	depends = glibc
	depends = filesystem
	depends = sed
	depends = util-linux
	depends = sh
	source = git+https://salsa.debian.org/clint/fakeroot.git#tag=upstream/1.37
	sha256sums = f2aec35f5338538a7367ec1222c5067ec3bf91f64ebeb791eb664ba6003dc3d9

pkgname = fakeroot
