# SPDX-FileCopyrightText: 2021 Claudio Cambra <claudio.cambra@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Calendar Reminders
Name[ar]=تذكير التقويم
Name[az]=Təqvim xatırlatmaları
Name[bg]=Напомняния на Календар
Name[ca]=Recordatoris del calendari
Name[ca@valencia]=Recordatoris del calendari
Name[cs]=Upomínky kalendáře
Name[de]=Kalender-Erinnerungen
Name[el]=Υπενθυμίσεις μερολογίου
Name[en_GB]=Calendar Reminders
Name[eo]=Kalendaraj Memorigoj
Name[es]=Recordatorios de calendarios
Name[eu]=Egutegiko oroigarriak
Name[fi]=Kalenterimuistutukset
Name[fr]=Rappels d'agenda
Name[gl]=Lembranzas de calendario
Name[he]=תזכורות לוח שנה
Name[hu]=Naptári emlékeztetők
Name[ia]=Mementos de calendario
Name[id]=Pengingat Kalender
Name[is]=Dagatalsáminningar
Name[it]=Promemoria del calendario
Name[ka]=კალენდარის შემხსენებლები
Name[ko]=캘린더 알림
Name[nl]=Agendaherinneringen
Name[pl]=Przypomnienia kalendarza
Name[pt]=Chamadas de Atenção do Calendário
Name[pt_BR]=Lembretes de calendário
Name[ru]=Уведомления о событиях календаря
Name[sk]=Pripomienky kalendára
Name[sl]=Opomniki koledarja
Name[sv]=Kalenderpåminnelser
Name[tr]=Takvim Anımsatıcıları
Name[uk]=Нагадування календаря
Name[x-test]=xxCalendar Remindersxx
Name[zh_CN]=日历提醒
Name[zh_TW]=行事曆提醒
Exec=kalendarac
Icon=appointment-reminder
Type=Application
Categories=Qt;KDE;
GenericName=Reminder Daemon Client
GenericName[ar]=عميل خدمة تذكير
GenericName[az]=Xatırlatma xidməti müştərisi
GenericName[bg]=Клиент за демона за напомняне
GenericName[ca]=Client del dimoni de recordatoris
GenericName[ca@valencia]=Client del dimoni de recordatoris
GenericName[cs]=Klient démona upomínek
GenericName[de]=Dienst für das Erinnerungsprogramm
GenericName[el]=Εφαρμογή δαίμονα υπενθύμισης
GenericName[en_GB]=Reminder Daemon Client
GenericName[eo]=Memorigdemona Kliento
GenericName[es]=Cliente del demonio de recordatorios
GenericName[eu]=Oroigarri-daimonaren bezeroa
GenericName[fi]=Muistutuspalveluasiakas
GenericName[fr]=Client de démon pour les rappels
GenericName[gl]=Cliente do servizo de lembranzas
GenericName[he]=לקוח סוכן תזכורות
GenericName[hu]=Emlékeztető szolgáltatás kliense
GenericName[ia]=Cliente Daemon pro rememoration 
GenericName[id]=Klien Daemon Pengingat
GenericName[is]=Áminningarbiðlari
GenericName[it]=Client del demone dei promemoria
GenericName[ka]=KOrganizer შემხსენებელის დემონის კლიენტი
GenericName[ko]=알림 데몬 클라이언트
GenericName[nl]=Client voor daemon voor herinneringen
GenericName[pl]=Usługa przypominania
GenericName[pt]=Cliente do Serviço de Chamadas de Atenção
GenericName[pt_BR]=Daemon do cliente de lembrete
GenericName[ru]=Клиент службы уведомлений
GenericName[sk]=Klient démona pripomienok
GenericName[sl]=Odjemalec prikritega procesa opomnikov
GenericName[sv]=Påminnelsedemonklient
GenericName[tr]=Anımsatıcı Ardalan Süreci İstemcisi
GenericName[uk]=Клієнт фонової служби нагадувань
GenericName[x-test]=xxReminder Daemon Clientxx
GenericName[zh_CN]=提醒守护程序客户端
GenericName[zh_TW]=提醒伺服程式用戶端
X-KDE-autostart-phase=2
X-KDE-autostart-condition=kalendaracrc:General:Autostart:true
X-DBUS-StartupType=Unique

