pkgbase = python-ipykernel
	pkgdesc = The ipython kernel for Jupyter
	pkgver = 6.30.1
	pkgrel = 1
	url = https://pypi.org/project/ipykernel/
	arch = any
	license = BSD-3-Clause
	checkdepends = python-flaky
	checkdepends = python-ipyparallel
	checkdepends = python-matplotlib
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-timeout
	makedepends = git
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = ipython
	depends = python
	depends = python-comm
	depends = python-jupyter-client
	depends = python-jupyter-core
	depends = python-nest-asyncio
	depends = python-packaging
	depends = python-psutil
	depends = python-pyzmq
	depends = python-tornado
	depends = python-traitlets
	optdepends = python-debugpy: debugger support
	source = git+https://github.com/ipython/ipykernel#tag=v6.30.1
	sha256sums = 7e649edc5cc1ba9acee4bfd3b1334f3fa9232e465c1c75a89e017e20b62c5833

pkgname = python-ipykernel
