pkgbase = python-sphinxcontrib-towncrier
	pkgdesc = A RST directive for injecting a Towncrier-generated changelog draft containing fragments for the unreleased (next) project version
	pkgver = 0.5.0a0
	pkgrel = 2
	url = https://github.com/sphinx-contrib/sphinxcontrib-towncrier
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-sphinx
	depends = towncrier
	source = python-sphinxcontrib-towncrier::git+https://github.com/sphinx-contrib/sphinxcontrib-towncrier#tag=v0.5.0a0
	source = ab800bc.patch
	sha512sums = 3fad2bd259155fd2c2051ca12bf1c84322bb2186063b544e9e784b3162061971af573a726d25f88db82b95f3a1434f44b54698a28406217dbba3dddc27216d6c
	sha512sums = ed261c115382c84cefcbf29d327eb62fe49417021bebfa171b6d8d1255de5ed423342a6aa2e2729fcab8bd54b132408d179cc32d10a30b63762109aa59dae813
	b2sums = 2cd0596a51e12281b8750f5eacff6d86d8d70383efa3c372d63d0c17dd144ce5bf6ac3186ab7897bffe7485d22160e1175a3b56db2beb76b8f9f63a4ca30a341
	b2sums = b0cfecbbfd5e7d1d040e81a5b973d043637bbf49299f3be83fda8f81afab337775d0d83dd375d239fc69fd1b8f8dd956c019078d974b204e54644394f5d9978a

pkgname = python-sphinxcontrib-towncrier
