pkgbase = python-hypothesis
	pkgdesc = Advanced Quickcheck style testing library for Python
	pkgver = 6.131.3
	pkgrel = 1
	url = https://hypothesis.readthedocs.org
	arch = any
	license = MPL-2.0
	checkdepends = python-black
	checkdepends = python-django
	checkdepends = python-dpcontracts
	checkdepends = python-faker
	checkdepends = python-fakeredis
	checkdepends = python-flaky
	checkdepends = python-lark-parser
	checkdepends = python-libcst
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-pexpect
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = python-pytz
	checkdepends = python-watchdog
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-attrs
	depends = python-sortedcontainers
	optdepends = python-black: for CLI and ghostwriter
	optdepends = python-click: for CLI
	optdepends = python-dateutil: for date support
	optdepends = python-django: for django module
	optdepends = python-dpcontracts: for contracts support
	optdepends = python-faker: for fakefactory and django module
	optdepends = python-lark-parser: for lark module
	optdepends = python-libcst: for codemods module
	optdepends = python-numpy: for numpy module
	optdepends = python-pandas: for pandas support
	optdepends = python-pytest: for pytest module
	optdepends = python-pytz: for datetime and django module
	optdepends = python-redis: for redis support
	optdepends = python-rich: for CLI
	optdepends = python-watchdog: for tracking file system events
	source = python-hypothesis::git+https://github.com/HypothesisWorks/hypothesis#tag=hypothesis-python-6.131.3
	sha512sums = 5b3334ac7f93607cebd6279e2b53f393840e68502de87016d5fd23a1a9980802583e18399cb134ac18849dc6c070171a7c7654de062823b1e518f1901a5fa71b
	b2sums = cd8313fafc35332074fd6c6ff7dad507038068726b81122c5e3e1397c9a7458a8667168fef028678da22f6ab9c6ac9d359496f467ec991234c8b160de02c4969

pkgname = python-hypothesis
