pkgbase = python-hypothesis
	pkgdesc = Advanced Quickcheck style testing library for Python
	pkgver = 6.155.7
	pkgrel = 1
	url = https://hypothesis.readthedocs.org
	arch = any
	license = MPL-2.0
	checkdepends = python-black
	checkdepends = python-django
	checkdepends = python-dpcontracts
	checkdepends = python-faker
	checkdepends = python-fakeredis
	checkdepends = python-flaky
	checkdepends = python-lark-parser
	checkdepends = python-libcst
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-pexpect
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = python-pytz
	checkdepends = python-scipy
	checkdepends = python-syrupy
	checkdepends = python-watchdog
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-attrs
	depends = python-sortedcontainers
	optdepends = python-black: for CLI and ghostwriter
	optdepends = python-click: for CLI
	optdepends = python-dateutil: for date support
	optdepends = python-django: for django module
	optdepends = python-dpcontracts: for contracts support
	optdepends = python-faker: for fakefactory and django module
	optdepends = python-lark-parser: for lark module
	optdepends = python-libcst: for codemods module
	optdepends = python-numpy: for numpy module
	optdepends = python-pandas: for pandas support
	optdepends = python-pytest: for pytest module
	optdepends = python-pytz: for datetime and django module
	optdepends = python-redis: for redis support
	optdepends = python-rich: for CLI
	optdepends = python-watchdog: for tracking file system events
	source = python-hypothesis::git+https://github.com/HypothesisWorks/hypothesis#tag=v6.155.7
	sha512sums = f0c5d3376765813cff9cee403e3f4aada33e2350ffb738e6289029c77c36ef569bcd05da104b0203eb25c8d5e03ab4e34d9b60418939227ec3bd0281d7a59a24
	b2sums = 5ac80e0b74272a079ccc6efbdc3965e9a348a936d7c8bc46bcdca8eedcaf014d5909b8f98c83f75ccde183cd79df76fcc9fb4432495a8d982c743d2db0006791

pkgname = python-hypothesis
