pkgbase = python-hypothesis
	pkgdesc = Advanced Quickcheck style testing library for Python
	pkgver = 6.118.7
	pkgrel = 2
	url = https://hypothesis.readthedocs.org
	arch = any
	license = MPL-2.0
	checkdepends = python-black
	checkdepends = python-dpcontracts
	checkdepends = python-django
	checkdepends = python-faker
	checkdepends = python-fakeredis
	checkdepends = python-flaky
	checkdepends = python-lark-parser
	checkdepends = python-libcst
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-pexpect
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = python-pytz
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-attrs
	depends = python-sortedcontainers
	optdepends = python-black: for CLI and ghostwriter
	optdepends = python-click: for CLI
	optdepends = python-dateutil: for date support
	optdepends = python-django: for django module
	optdepends = python-dpcontracts: for contracts support
	optdepends = python-faker: for fakefactory and django module
	optdepends = python-lark-parser: for lark module
	optdepends = python-libcst: for codemods module
	optdepends = python-numpy: for numpy module
	optdepends = python-pandas: for pandas support
	optdepends = python-pytest: for pytest module
	optdepends = python-pytz: for datetime and django module
	optdepends = python-redis: for redis support
	optdepends = python-rich: for CLI
	source = hypothesis-hypothesis-python-6.118.7.tar.gz::https://github.com/HypothesisWorks/hypothesis/archive/hypothesis-python-6.118.7.tar.gz
	sha512sums = b33a1cdcc56301fde6bd7176caed2c34b43a2a7a5e21590b0fac2cf734332ed9e626f9114f7b6f6c06b67926b5a59649a7de6008a256b7a7655d8acb8b482f0f
	b2sums = 1247665e4cc6c10ff6f628f4ef312ce90e1f791ea853a2c22fffec5f57af182e423e97b392535b569fc19889a1e7176905ba6b933e8ca69ae693c8845dd9c89f

pkgname = python-hypothesis
