pkgbase = b43-fwcutter
	pkgdesc = firmware extractor for the b43 kernel module
	pkgver = 020
	pkgrel = 1
	url = https://wireless.docs.kernel.org/en/latest/en/users/drivers/b43.html
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-only
	depends = glibc
	source = https://bues.ch/b43/fwcutter/b43-fwcutter-020.tar.xz
	source = https://bues.ch/b43/fwcutter/b43-fwcutter-020.tar.xz.asc
	validpgpkeys = 757FAB7CED1814AE15B4836E5FB027474203454C
	sha256sums = bae58321c0926827b99afd4fddaebbc934c781d8e010fe62e1ddc4af83046214
	sha256sums = SKIP

pkgname = b43-fwcutter
