pkgbase = python-botocore
	pkgdesc = A low-level interface to a growing number of Amazon Web Services
	pkgver = 1.42.39
	pkgrel = 1
	url = https://github.com/boto/botocore
	arch = any
	license = Apache-2.0
	checkdepends = procps-ng
	checkdepends = python-jsonschema
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	makedepends = python-awscrt
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-certifi
	depends = python-dateutil
	depends = python-jmespath
	depends = python-urllib3
	optdepends = python-awscrt: use AWS Common Runtime
	source = https://github.com/boto/botocore/archive/1.42.39/python-botocore-1.42.39.tar.gz
	b2sums = 3485a55d4fabb1b7431035d9d22e5e165c226cd1fb9265dce47dc0123927504e3c4fb1f745d173f9fd7ba1ca3f74a0e31ab96cc0f1de6dbfbfd1c676e1a5ec59

pkgname = python-botocore
