pkgbase = libksysguard
	pkgdesc = Library to retrieve information on the current status of computer hardware
	pkgver = 6.4.4
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	install = libksysguard.install
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = plasma
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = kauth
	depends = kconfig
	depends = kcoreaddons
	depends = kdeclarative
	depends = ki18n
	depends = kirigami
	depends = kitemmodels
	depends = knewstuff
	depends = kpackage
	depends = kquickcharts
	depends = kservice
	depends = libdrm
	depends = libnl
	depends = libpcap
	depends = lm_sensors
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = solid
	source = https://download.kde.org/stable/plasma/6.4.4/libksysguard-6.4.4.tar.xz
	source = https://download.kde.org/stable/plasma/6.4.4/libksysguard-6.4.4.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = f12fd2e11d2d504d57556cb520a442ed9660f59c7d4b1fbbb17bee02eba0fb2f
	sha256sums = SKIP

pkgname = libksysguard
