pkgbase = hwloc
	pkgdesc = Portable Hardware Locality is a portable abstraction of hierarchical architectures
	pkgver = 2.12.2
	pkgrel = 1
	url = https://www.open-mpi.org/projects/hwloc/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = BSD-3-Clause
	makedepends = cairo
	makedepends = libx11
	makedepends = libxml2
	makedepends = systemd
	depends = glibc
	depends = libpciaccess
	depends = libtool
	depends = ncurses
	depends = systemd-libs
	optdepends = cairo: PDF, Postscript, and PNG export support
	optdepends = libxml2: full XML import/export support
	options = !docs
	source = https://www.open-mpi.org/software/hwloc/v2.12/downloads/hwloc-2.12.2.tar.bz2
	sha512sums = 949d6c9d7b858ee58e477b15e6c06f57812872142fa1c7f3ef20aae2e4ef954135f839e8604404bfd0637fde99729c7d00211c8aee860dfde9ac60bba0e78aef
	b2sums = 225d457ae01bcde2f342a175b7ab33d51fcbf6cb8ce02306569368758975d620b3ad4070c87ba16196c3a2e772658a6b4f841ba586a5d2ef922c1e60f72402c1

pkgname = hwloc
