pkgbase = dracut
	pkgdesc = An event driven initramfs infrastructure
	pkgver = 110
	pkgrel = 2
	url = https://github.com/dracut-ng/dracut-ng
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-or-later
	makedepends = asciidoctor
	makedepends = bash-completion
	makedepends = git
	makedepends = rust
	depends = bash
	depends = cpio
	depends = coreutils
	depends = filesystem
	depends = findutils
	depends = gawk
	depends = grep
	depends = kmod
	depends = pkgconf
	depends = procps-ng
	depends = sed
	depends = util-linux
	optdepends = 3cpio: cpio alternative written in rust
	optdepends = binutils: --uefi option support
	optdepends = biosdevname: BIOS network device renaming
	optdepends = bluez: bluetooth (keyboard)
	optdepends = btrfs-progs: scan for Btrfs on block devices
	optdepends = busybox: allows use of busybox (on your own risk)
	optdepends = bzip2: bzip2 compression
	optdepends = cifs-utils: support CIFS
	optdepends = connman: support for connman networking
	optdepends = cryptsetup: support for encrypted with LUKS filesystems
	optdepends = dash: allows use of dash (on your own risk)
	optdepends = dbus: dbus-daemon dracut module
	optdepends = dbus-broker: dbus-broker dracut module
	optdepends = dhclient: legacy networking support
	optdepends = dmraid: dmraid dracut module support
	optdepends = e2fsprogs: ext2/3/4 filesystem support
	optdepends = elfutils: strip binaries to reduce initramfs size
	optdepends = erofs-utils: support for building an erofs initramfs
	optdepends = f2fs-tools: fsfs filesystem support
	optdepends = fuse3: live on NTFS (dmsquash-live-ntfs module)
	optdepends = gnupg: gpg for crypto operations and smartcards
	optdepends = gzip: gzip compression
	optdepends = iproute2: legacy networking support
	optdepends = iputils: networking support
	optdepends = jq: NVMe-oF support (nvmf module)
	optdepends = lvm2: support Logical Volume Manager
	optdepends = lzop: lzop compression
	optdepends = mdadm: support MD devices, also known as software RAID devices
	optdepends = memstrack: memstrack module support
	optdepends = multipath-tools: multipath dracut module support
	optdepends = nbd: support network block devices
	optdepends = ndctl: NVDIMM support
	optdepends = networkmanager: networkmanager support
	optdepends = nfs-utils: support NFS
	optdepends = ntfs-3g: live on NTFS (dmsquash-live-ntfs module)
	optdepends = nvme-cli: NVMe-oF support (nvmf module)
	optdepends = open-iscsi: support iSCSI (iscsi module)
	optdepends = openssh: install ssh and scp along with config files and specified keys (ssh-client module)
	optdepends = pigz: faster gzip compression
	optdepends = plymouth: plymouth boot splash
	optdepends = qrencode: systemd-bsod
	optdepends = rng-tools: enable rngd service to help generating entropy early during boot
	optdepends = rsyslog: enable logging with rsyslog
	optdepends = sbsigntools: uefi_secureboot_cert/key configuration option support
	optdepends = systemd: systemd system and service manager
	optdepends = systemd-ukify: Unified Kernel Image
	optdepends = squashfs-tools: support for building a squashed initramfs
	optdepends = tar: live tar image
	optdepends = tpm2-tools: tpm2 support for e.g. LUKS
	optdepends = xz: xz compression
	provides = initramfs
	backup = etc/dracut.conf
	source = dracut-110::git+https://github.com/dracut-ng/dracut-ng#tag=110
	source = dracut-install.script
	source = dracut-remove.script
	source = 90-dracut-install.hook
	source = 60-dracut-remove.hook
	sha512sums = f9f605bebf20bbcf7214c36350350b6a763d66303c50bc24e7b279da726a67ed0e820bb12adc3f8eb1b410ef7d5f39ba478216a5d0c48dba47fe6199e5465c3f
	sha512sums = 0f91f0d4378fd9f67f1fd05080aa013b65ce48661aad4ffc07e090dee88ee789daddfa85393c49e8fd5e2ea82bf00ac482fef71523198336750bef59508408d2
	sha512sums = ed249af85fd15b79299e99b9b587fe962158d803cc1365d903a6202331cc0befaa309e36d4922bd859824295cd023bd75f959f5ad783d230550f6ce371baac67
	sha512sums = a560fba9fdb66c733e15ff299676747f94a98a6da19b1d01293bb01d7e4a1b227e34c0f6c37e2e6924d1e42c028b0006b2b7a6cb8a5797777c6538fd0923356f
	sha512sums = 5f8f6f04081061d36cd331737b40a8f523319f0d05d92308c0967de97266c27d3dd901da49ce0850f12c2cd95e5eb19ba6219b5d8a1d075c010420be1900f803
	b2sums = a8d9c691e02dfe7fbad35bf8cfef65eb22cbc7ce741fb78c287cdb17868d35927141b072ab16dc7ca15b7fe027d5ac9ea8f9938086434a4bd649e971eb025895
	b2sums = 5468c20cd1d723509bf1d79dd5691d5e81eb19bc2e506c77eb8ee39b1b93ae195a34bb1e24a1db6a844b43999859491a3bf3c84dbef12b19a41d10a10ee8465c
	b2sums = 06e6ef68f1116d348ce4f11960a9b583af703b93ae0172c5d3d237dcdd4ca4614f2cb0f761ff12079b8c40f349e39d096ed404dee38732d4cc704e8af7ca23f1
	b2sums = 5e0e702553060dbc94a378a1b3b7caa52590a33f33d78767a4c3ef0a5360d11520084e91f59b941a62bea8abfcd017cd64132c5f3d42d93319683283a22e0875
	b2sums = a3bc75e55af379ddd3fee1dd7c6855fcb42366f42d9e10c1725b8e38f81c3eee0a4131badcf6ba2c4addf78aae4084528407af38295ab2b7e62ab16e3fe0b599

pkgname = dracut
