pkgbase = i3status
	pkgdesc = Generates status bar to use with i3bar, dzen2 or xmobar
	pkgver = 2.15
	pkgrel = 1
	url = https://i3wm.org/i3status/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	groups = i3
	license = BSD
	makedepends = asciidoc
	makedepends = git
	makedepends = meson
	makedepends = xmlto
	depends = alsa-lib
	depends = confuse
	depends = libnl
	depends = libpulse
	depends = yajl
	options = docs
	backup = etc/i3status.conf
	source = git+https://github.com/i3/i3status.git?signed#tag=2.15
	validpgpkeys = 424E14D703E7C6D43D9D6F364E7160ED4AC8EE1D
	sha256sums = e37cbaa1f2d5b7f98e31709414f9ff67307e9f56d6056c7fe01edb0c82772ccd

pkgname = i3status
