pkgbase = tde-akode
	pkgdesc = akode plugin for aRts
	pkgver = 14.1.5
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/akode
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = tde-extra
	license = GPL
	makedepends = tde-cmake-trinity
	depends = alsa-lib
	depends = audiofile
	depends = libmad
	depends = libogg
	depends = libpulse
	depends = libsamplerate
	depends = libvorbis
	depends = speex
	provides = akode
	conflicts = kdemod3-akode
	conflicts = akode
	replaces = trinity-akode
	options = staticlibs
	options = libtool
	options = !emptydirs
	options = !strip
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.5/main/dependencies/akode-trinity-14.1.5.tar.xz
	md5sums = 76f35da397eef3f3a9a928ecffd2a96b

pkgname = tde-akode
