pkgbase = python-pip
	pkgdesc = The PyPA recommended tool for installing Python packages
	pkgver = 24.1.2
	pkgrel = 1
	url = https://pip.pypa.io/
	arch = any
	license = MIT
	checkdepends = git
	checkdepends = python-freezegun
	checkdepends = python-proxy.py
	checkdepends = python-pytest
	checkdepends = python-pytest-rerunfailures
	checkdepends = python-pytest-xdist
	checkdepends = python-scripttest
	checkdepends = python-tomli-w
	checkdepends = python-virtualenv
	checkdepends = python-werkzeug
	checkdepends = subversion
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-myst-parser
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-sphinx-copybutton
	makedepends = python-sphinx-inline-tabs
	makedepends = python-sphinxcontrib-towncrier
	depends = python
	depends = python-attrs
	depends = python-cryptography
	depends = python-wheel
	source = https://github.com/pypa/pip/archive/24.1.2/pip-24.1.2.tar.gz
	sha512sums = 222a957030e9c51defa6f741f8e176f2a19bd54f0ef664d2e218d3d2c2b5a335c9b7ce4bd1c804133d6116b3fbf37648453cd85f7a2bcf86a5aeb43e22db4b0f
	b2sums = 9b5a07e9f10b5787d668766423d8b3a9dfcc62564673155b80c7bc95ffe79daafa8788d8141f67c76d4098c21922e62fcb2164f72bf580bbeec136786c48d512

pkgname = python-pip
