pkgbase = python-netcdf4
	pkgdesc = Python/NumPy interface to the netCDF C library
	pkgver = 1.7.2
	pkgrel = 5
	url = https://unidata.github.io/netcdf4-python
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	checkdepends = python-pytest
	makedepends = cython
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	depends = python-numpy
	depends = python-cftime
	depends = netcdf
	depends = python-certifi
	source = git+https://github.com/Unidata/netcdf4-python#tag=v1.7.2rel
	sha256sums = 0c491ff44c2c2b42625b104b4276a3b0d8fbaea8971d967794e2722373651389

pkgname = python-netcdf4
