pkgbase = xorg-xman
	pkgdesc = Unix manual page viewer
	pkgver = 1.2.0
	pkgrel = 2.1
	url = https://xorg.freedesktop.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = X11
	makedepends = xorg-util-macros
	makedepends = xorgproto
	makedepends = libxmu
	depends = libxaw
	depends = libxt
	depends = libx11
	depends = glibc
	source = https://xorg.freedesktop.org/archive/individual/app/xman-1.2.0.tar.xz
	source = https://xorg.freedesktop.org/archive/individual/app/xman-1.2.0.tar.xz.sig
	validpgpkeys = 4A193C06D35E7C670FA4EF0BA2FB9E081F2D130E
	sha512sums = 072dba172fd30606c1e185c6e50b3b9a9ec5e430eb2ac7f0c476e1c2de998e8c0b5fbf53de20a7339d39a8990255e77fe72d3928b43d055e8463f8069389d192
	sha512sums = SKIP

pkgname = xorg-xman
