pkgbase = perl-alien-build
	pkgdesc = Build external dependencies for use in CPAN
	pkgver = 2.88
	pkgrel = 1
	url = https://metacpan.org/release/Alien-Build
	arch = any
	license = Artistic-1.0-Perl
	license = GPL-1.0-or-later
	checkdepends = perl-alien-base-modulebuild
	checkdepends = perl-alien-cmake3
	checkdepends = perl-env-shellwords
	checkdepends = perl-pkgconfig
	checkdepends = perl-readonly
	checkdepends = perl-sort-versions
	checkdepends = wget
	depends = perl-capture-tiny
	depends = perl-ffi-checklib
	depends = perl-file-chdir
	depends = perl-file-which
	depends = perl-path-tiny
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/P/PL/PLICEASE/Alien-Build-2.88.tar.gz
	sha512sums = b5e5a0d7bf6a5f951e65eb0674b577cf2582165ec55e864299b31fa133e7e0e7bb7aa9a37e4003037f4225f0f3b84299a3b042ae71d7773c73872bcc5e3164cf

pkgname = perl-alien-build
