pkgbase = python-dateutil
	pkgdesc = Provides powerful extensions to the standard datetime module
	pkgver = 2.9.0
	pkgrel = 8
	url = https://github.com/dateutil/dateutil
	arch = any
	license = BSD-3-Clause
	license = Apache-2.0
	checkdepends = python-freezegun
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools-scm
	makedepends = python-six
	makedepends = git
	depends = python-six
	source = git+https://github.com/dateutil/dateutil.git#commit=2.9.0
	sha256sums = db84e1759eb51252204597504409cafee32ea9a9616e64d82d8ec769048ff00e

pkgname = python-dateutil
