pkgbase = libproxy
	pkgdesc = Automatic proxy configuration management library
	pkgver = 0.5.9
	pkgrel = 1
	url = https://libproxy.github.io/libproxy/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = LGPL-2.1-or-later
	makedepends = gi-docgen
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gsettings-desktop-schemas
	makedepends = meson
	makedepends = vala
	depends = curl
	depends = duktape
	depends = gcc-libs
	depends = glib2
	depends = glibc
	source = git+https://github.com/libproxy/libproxy#tag=0.5.9
	b2sums = d7e9785dd07beb9fae97f51423fd7ba6cefee2942293c2960c07794617527d57f5fc0bd23c44c66d89d7b7303b12b2ef7e05d4f3d1bdd319e36370cc6b966935

pkgname = libproxy
	provides = libproxy.so
	conflicts = libproxy-webkit<0.5.0-1

pkgname = libproxy-docs
	pkgdesc = Automatic proxy configuration management library (documentation)
	depends = 
