pkgbase = noto-fonts-cjk
	pkgdesc = Google Noto CJK fonts
	pkgver = 20230817
	pkgrel = 2
	url = https://www.google.com/get/noto/
	arch = any
	license = OFL-1.1
	makedepends = git
	source = git+https://github.com/googlefonts/noto-cjk.git#commit=4efc595762d1f4b4fa504bccfe8e59de91fda063
	sha256sums = 7a0315ee67629135106e05daca96aab99dfa1ecd190c88adca1bee7883c2ad34

pkgname = noto-fonts-cjk
