pkgbase = gnuplot
	pkgdesc = Plotting package which outputs to X11, PostScript, PNG, GIF, and others
	pkgver = 6.0.3
	pkgrel = 1
	url = http://www.gnuplot.info
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LicenseRef-Gnuplot
	makedepends = emacs
	makedepends = git
	makedepends = qt6-tools
	makedepends = texlive-latexextra
	depends = cairo
	depends = gcc-libs
	depends = gd
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcaca
	depends = libcerf
	depends = libwebp
	depends = libx11
	depends = lua
	depends = pango
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-svg
	depends = readline
	depends = wxwidgets-common
	depends = wxwidgets-gtk3
	source = git+https://git.code.sf.net/p/gnuplot/gnuplot-main#tag=6.0.3
	source = lua53_compat.patch
	sha256sums = 0477bb969ee2ca7038ef02e3e473d337132105b52953eb460649ac581b883981
	sha256sums = bfd8a61abbf4491c74225cb9fd252619d4fc29751838bcb4c0639ffe05a00695

pkgname = gnuplot

pkgname = gnuplot-demos
	pkgdesc = Demos for gnuplot
	depends = gnuplot
