pkgbase = alsa-utils
	pkgdesc = Advanced Linux Sound Architecture - Utilities
	pkgver = 1.2.15.2
	pkgrel = 1
	url = https://www.alsa-project.org
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-or-later
	makedepends = alsa-lib
	makedepends = docbook-xsl
	makedepends = fftw
	makedepends = libsamplerate
	makedepends = ncurses
	makedepends = python-docutils
	makedepends = systemd
	makedepends = xmlto
	depends = gcc-libs
	depends = glibc
	depends = pciutils
	depends = psmisc
	optdepends = bash: for alsa-info.sh and alsabat-test.sh
	optdepends = fftw: for alsabat
	source = https://www.alsa-project.org/files/pub/utils/alsa-utils-1.2.15.2.tar.bz2
	source = https://www.alsa-project.org/files/pub/utils/alsa-utils-1.2.15.2.tar.bz2.sig
	source = alsa-utils.tmpfiles
	validpgpkeys = F04DF50737AC1A884C4B3D718380596DA6E59C91
	sha512sums = 13ca15a63bcbf81a4643ef03e391200d7523335bc300e290756089c4cfeccb9773cf6b77f9fcf4b80e6aa2e8c5e33a2c86c9173f1feb480aedf5ecda0f7c47cd
	sha512sums = SKIP
	sha512sums = 17ca2d760f383c02ccd00073d4fe73d6687ee58eb0ab5e458ad9d09845be7891cfe389e365bef00c7885e8afad45ea9ebf2925950f8d3fd8157feb818f986990
	b2sums = 0688e668241917027b5dd161ebe3ea4ab6f8fede612e148dee74e033ab09f9557c7610a6b506d2507402cca7007a031b85c8c0cb9af80652ae9f3cc5ea157973
	b2sums = SKIP
	b2sums = 24b8e44833c7e8b142162878a837b10e1c2a862568280f2ce16fcb81ecc1383802654dbe88930f2cc13c345635c5003cbc3712e121e589dffc2e25c540749ee3

pkgname = alsa-utils
	depends = gcc-libs
	depends = glibc
	depends = pciutils
	depends = psmisc
	depends = alsa-lib
	depends = libasound.so
	depends = libatopology.so
	depends = ncurses
	depends = libformw.so
	depends = libmenuw.so
	depends = libncursesw.so
	depends = libpanelw.so
	depends = libsamplerate
	depends = libsamplerate.so
