pkgbase = python-lxml
	pkgdesc = Python binding for the libxml2 and libxslt libraries
	pkgver = 6.0.1
	pkgrel = 1
	url = https://lxml.de/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = BSD-3-Clause
	license = MIT
	license = MIT-CMU
	license = GPL-2.0-only
	license = LicenseRef-RNG2Schtrn
	license = LicenseRef-XSD2Schtrn
	checkdepends = python-cssselect
	checkdepends = python-html5lib
	checkdepends = python-beautifulsoup4
	checkdepends = python-lxml-html-clean
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-pygments
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = cython
	depends = glibc
	depends = python
	depends = libxslt
	depends = libxml2
	optdepends = python-beautifulsoup4: support for beautifulsoup parser to parse not well formed HTML
	optdepends = python-cssselect: support for cssselect
	optdepends = python-html5lib: support for html5lib parser
	optdepends = python-lxml-docs: offline docs
	optdepends = python-lxml-html-clean: enable htmlclean feature
	source = python-lxml::git+https://github.com/lxml/lxml#tag=lxml-6.0.1
	sha512sums = a53d9189e923dff2a638355ea200eff29771d34f3137a3c5a3c3a0951125e4d504ca1cd0f2f5d5627acee43bc2bfd04486e3d4ff0c82d5cc6c20e8dc79745151
	b2sums = 1aa1e31c207be5ef32058ec4c1eb9a25e683e9771766c185133a17b6b343a6abf438db23268375ae6ffefe66b10341204583d81d668204f42c8ea4ac2182af83

pkgname = python-lxml

pkgname = python-lxml-docs
	pkgdesc = Python binding for the libxml2 and libxslt libraries (docs)
	depends = 
	options = docs
