pkgbase = python-markdown-it-py
	pkgdesc = Python port of markdown-it. Markdown parsing, done right!
	pkgver = 3.0.0
	pkgrel = 4
	url = https://github.com/executablebooks/markdown-it-py
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-regressions
	checkdepends = python-mdit_py_plugins
	checkdepends = python-linkify-it-py
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python-mdurl
	optdepends = python-mdit_py_plugins: core plugins
	optdepends = python-linkify-it-py: linkify extension
	source = python-markdown-it-py-3.0.0.tar.gz::https://github.com/executablebooks/markdown-it-py/archive/v3.0.0.tar.gz
	sha512sums = 820265595ab650f5ac64419d5c2687d1ee361d2a0550b9d94e86ec826cfe5e89cbd69e59d6582aac41d3b95f00ce4a0b7213bf6cd590fdbd8fd9b743c7418759

pkgname = python-markdown-it-py
