pkgbase = cdrdao
	pkgdesc = Records audio/data CD-Rs in disk-at-once (DAO) mode
	pkgver = 1.2.5
	pkgrel = 7
	url = http://cdrdao.sourceforge.net/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = GPL-2.0-or-later
	depends = atkmm
	depends = cairomm
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = glibmm
	depends = gtk3
	depends = gtkmm3
	depends = lame
	depends = libao
	depends = libmad
	depends = libsigc++
	depends = libvorbis
	depends = pangomm
	options = !emptydirs
	source = https://downloads.sourceforge.net/cdrdao/cdrdao-1.2.5.tar.bz2
	source = cdrdao-uninitialized-filename.patch
	source = cdrdao-version-command.patch
	sha256sums = d19b67c853c5dba2406afaab6cd788e77f35eebe634cac4679528477c7be01b6
	sha256sums = 970e5d18513f298b915f9d84f206d7489400e93f42b9c04ec55acf2fe9d43e5a
	sha256sums = cbb8ec897e390d5a4c4c113e35a88893f5be3ebc2fec3b09eb2ae84bd4275021

pkgname = cdrdao
	depends = gcc-libs
	depends = glibc
	depends = lame
	depends = libao
	depends = libmad
	depends = libvorbis

pkgname = gcdmaster
	pkgdesc = GUI frontend for creating audio CDs and burning them using cdrdao
	depends = atkmm
	depends = cairomm
	depends = cdrdao
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = glibmm
	depends = gtk3
	depends = gtkmm3
	depends = libao
	depends = libmad
	depends = libsigc++
	depends = libvorbis
	depends = pangomm
