pkgbase = python-pytest-datadir
	pkgdesc = pytest plugin for test data directories and files
	pkgver = 1.5.0
	pkgrel = 3
	url = https://github.com/gabrielcnr/pytest-datadir
	arch = any
	license = MIT
	makedepends = python-setuptools-scm
	depends = python-pytest
	source = python-pytest-datadir-1.5.0.tar.gz::https://github.com/gabrielcnr/pytest-datadir/archive/v1.5.0.tar.gz
	sha512sums = d21669d9cc85f571c306b55b061a0573b8cdc0bb02343302d65fc8b47138e82234ed75d85f6d1db24acf8748e189f51e77dfcedc929b102bbc3753a9516d3b82

pkgname = python-pytest-datadir
