pkgbase = portmidi
	pkgdesc = Cross platform library for interfacing with OS MIDI I/O APIs
	pkgver = 2.0.7
	pkgrel = 1
	epoch = 1
	url = https://github.com/portmidi/portmidi
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	makedepends = alsa-lib
	makedepends = cmake
	depends = glibc
	provides = libportmidi.so
	source = https://github.com/portmidi/portmidi/archive/v2.0.7/portmidi-v2.0.7.tar.gz
	sha512sums = da5c8ccdbd47c7318fffc26f2fa812c0ab8365ffd6e5b6cb25260b9d2dc42ecb41a0cf1de224e28b1ca99ce3b53773f7a16e7cce5c90a89975ef6a7d03c77638
	b2sums = 84a15bc094da11625b286357c01da4a52af1958e2a3ffc9cab936881e460c4698cd5d6ae7ee8216b550e6b4c29dc75707317917ca40c66e665dabe078acfbd1e

pkgname = portmidi
	depends = glibc
	depends = alsa-lib
	depends = libasound.so
