pkgbase = libxml2
	pkgdesc = XML C parser and toolkit
	pkgver = 2.15.1
	pkgrel = 3
	url = https://gitlab.gnome.org/GNOME/libxml2/-/wikis/home
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	makedepends = docbook-xsl
	makedepends = doxygen
	makedepends = git
	makedepends = meson
	makedepends = python
	depends = bash
	depends = glibc
	depends = icu
	depends = readline
	depends = zlib
	source = git+https://gitlab.gnome.org/GNOME/libxml2.git#tag=v2.15.1
	source = https://www.w3.org/XML/Test/xmlts20130923.tar.gz
	b2sums = aaed705a19f7c238bd0eebc52536e7becb7c96b6a749fe7a4051a82bd311b918b14ddb996d5a0f07514d5abf6ad1287e8d6f4053a5a371afc6885bc98154e3cc
	b2sums = 63a47bc69278ef510cd0b3779aed729e1b309e30efa0015d28ed051cc03f9dfddb447ab57b07b3393e8f47393d15473b0e199c34cb1f5f746b15ddfaa55670be

pkgname = libxml2
	optdepends = python: Python bindings
	provides = libxml2.so

pkgname = libxml2-docs
	pkgdesc = XML C parser and toolkit (documentation)
	depends = 
