pkgbase = python-charset-normalizer
	pkgdesc = Encoding and language detection alternative to chardet
	pkgver = 3.4.1
	pkgrel = 1
	url = https://github.com/Ousret/charset_normalizer
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/Ousret/charset_normalizer.git#tag=3.4.1
	b2sums = 28be75baaa4b59ec3c94884d6c50233bec87df54d0afaf5e438e1974d214c9fcbd59f3265961420bdcf02780ee6e10ac867f8579aebd86bd5106f1897c0969a4

pkgname = python-charset-normalizer
