pkgbase = perl-net-dns-resolver-programmable
	pkgdesc = A Net::DNS::Resolver descendant class for offline emulation of DNS
	pkgver = 0.009
	pkgrel = 12
	url = https://search.cpan.org/dist/Net-DNS-Resolver-Programmable/
	arch = any
	license = GPL
	license = PerlArtistic
	makedepends = perl-module-build
	depends = perl-net-dns
	depends = perl
	options = !emptydirs
	source = https://search.cpan.org/CPAN/authors/id/B/BI/BIGPRESH/Net-DNS-Resolver-Programmable-0.009.tar.gz
	sha512sums = a9a239ff454ba186e2a00e578615d6b25075f4e1fde548893681c169d04571c1621b023ecd2ccbb95a8fff50d8b811c410212db31a1b78f2d62977a45e90a735

pkgname = perl-net-dns-resolver-programmable
