pkgbase = ruby-hoe
	pkgdesc = Hoe is a rake/rubygems helper for project Rakefiles
	pkgver = 4.2.2
	pkgrel = 6
	url = https://www.zenspider.com/projects/hoe.html
	arch = any
	license = MIT
	makedepends = git
	makedepends = ruby-minitest
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-rake
	options = !emptydirs
	source = git+https://github.com/seattlerb/hoe#tag=v4.2.2
	sha512sums = c1181f2d82a24412ace199fff0fabb2e73e1c6dada8c2a6fe4cd18fd1dddbb2809b187f15c6eb2c24eb4df8701a4e6ffb5fe888dca2c46a1e7b2991dbac32eac
	b2sums = 642ffb4248cfeed6261b45f43ce40f4c2052b871a8ea4250b3527504303bf9b41c02e62fefdeb523ca18440ac63dbe9ddfc525166073aeb00d9e3924a5b58518

pkgname = ruby-hoe
