pkgbase = qt6-datavis3d
	pkgdesc = Qt6 Data Visualization module
	pkgver = 6.8.2
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	groups = qt6
	license = GPL-3.0-only
	license = LGPL-3.0-only
	license = LicenseRef-Qt-Commercial
	license = Qt-GPL-exception-1.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = qt6-declarative
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	optdepends = qt6-declarative: QML bindings
	source = git+https://code.qt.io/qt/qtdatavis3d#tag=v6.8.2
	sha256sums = e25bfb1ab0320bdc1a7618c8fce3194e5a5c5df57126c8e329b38ae9eaa7777b

pkgname = qt6-datavis3d
