pkgbase = ocaml-integers
	pkgdesc = Library for binding to C libraries using pure OCaml
	pkgver = 0.7.0
	pkgrel = 5.1
	url = https://github.com/ocamllabs/ocaml-integers
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = custom
	makedepends = dune
	makedepends = ocaml-topkg
	makedepends = ocaml-findlib
	makedepends = ocaml-compiler-libs
	makedepends = ocamlbuild
	makedepends = opam
	depends = ocaml-stdlib-shims
	options = !strip
	source = ocaml-integers-0.7.0.tar.gz::https://github.com/ocamllabs/ocaml-integers/archive/0.7.0.tar.gz
	sha256sums = 8bb517fa9a1818246eb8c4ce34ee1489fbebb4b92defa3a25d13cab8d23ec685

pkgname = ocaml-integers
