pkgbase = rocsparse
	pkgdesc = BLAS for sparse computation on top of ROCm
	pkgver = 6.0.2
	pkgrel = 2
	url = https://rocm.docs.amd.com/projects/rocSPARSE/en/latest/index.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = gcc-fortran
	depends = rocm-core
	depends = glibc
	depends = gcc-libs
	depends = hip
	depends = rocprim
	options = !lto
	options = !buildflags
	source = rocsparse-6.0.2.tar.gz::https://github.com/ROCmSoftwarePlatform/rocSPARSE/archive/rocm-6.0.2.tar.gz
	sha256sums = 00292eb7efe5719a65960bdbe391ba8e0ce610487eea11397aad6a14b11e12cd

pkgname = rocsparse
