pkgbase = opentimelineio
	pkgdesc = Open Source API and interchange format for editorial timeline information
	pkgver = 0.16.0
	pkgrel = 2
	url = http://opentimeline.io/
	arch = x86_64
	license = Apache
	makedepends = cmake
	makedepends = git
	makedepends = imath
	makedepends = pybind11
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-aaf2
	source = git+https://github.com/PixarAnimationStudios/OpenTimelineIO#tag=v0.16.0
	source = opentimelineio-rapidjson::git+https://github.com/Tencent/rapidjson
	sha256sums = e9545959bdc9e9addb6a98fa4ef61c7d9fa3d4075115b098fcd5bcba179ae012
	sha256sums = SKIP

pkgname = opentimelineio
