pkgbase = qt6-httpserver
	pkgdesc = Qt HTTP Server
	pkgver = 6.8.1
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	groups = qt6
	license = GPL-3.0-only
	license = LGPL-3.0-only
	license = LicenseRef-Qt-Commercial
	license = Qt-GPL-exception-1.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-websockets
	source = git+https://code.qt.io/qt/qthttpserver#tag=v6.8.1
	sha256sums = 191e6a1a357c100067710af967612a2bad670a2fa603d9fc79fc52547e26eb21

pkgname = qt6-httpserver
