pkgbase = hppa-unknown-linux-gnu-glibc-headers
	pkgdesc = GNU C Library headers (hppa-unknown-linux-gnu)
	pkgver = 2.41+r9+ga900dbaf70f0
	pkgrel = 1.2
	url = http://www.gnu.org/software/libc/
	arch = any
	license = GPL
	license = LGPL
	makedepends = hppa-unknown-linux-gnu-gcc-stage1>=14.1.1
	makedepends = python
	makedepends = git
	depends = hppa-unknown-linux-gnu-linux-api-headers>=6.8
	options = !buildflags
	options = !strip
	options = staticlibs
	source = git+https://sourceware.org/git/glibc.git#commit=a900dbaf70f0a957f56b52caa69173592ad7596e
	source = sdt-config.h
	source = sdt.h
	source = reenable_DT_HASH.patch
	validpgpkeys = 7273542B39962DF7B299931416792B4EA25340F8
	validpgpkeys = BC7C7372637EC10C57D7AA6579C43DFBF1CF2187
	sha256sums = 1ea19e62fd07ac33684ea24fef92c44ce6b20790308f1f603992b6e67ad48d4f
	sha256sums = cdc234959c6fdb43f000d3bb7d1080b0103f4080f5e67bcfe8ae1aaf477812f0
	sha256sums = 774061aff612a377714a509918a9e0e0aafce708b87d2d7e06b1bd1f6542fe70
	sha256sums = cf9fe494f7ec69752a63d1b0a9ad689aa620888ae9b902b6383a6fbc7c1726a7

pkgname = hppa-unknown-linux-gnu-glibc-headers
