pkgbase = minizip-ng
	pkgdesc = Fork of the popular zip manipulation library found in the zlib distribution
	pkgver = 4.1.0
	pkgrel = 1
	url = https://github.com/zlib-ng/minizip-ng
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = Zlib
	makedepends = cmake
	makedepends = git
	depends = bzip2
	depends = glibc
	depends = openssl
	depends = xz
	depends = zlib-ng
	depends = zstd
	source = git+https://github.com/zlib-ng/minizip-ng#tag=4.1.0
	sha256sums = 89078260decfc7346e41a97a3584037258130bc865e32ec44418ceafd74dabc6

pkgname = minizip-ng
