pkgbase = python-pydantic-core
	pkgdesc = Core validation logic for pydantic written in rust
	pkgver = 2.20.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/pydantic/pydantic-core
	arch = x86_64
	license = MIT
	checkdepends = python-dirty-equals
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-examples
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-timeout
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-maturin
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-typing_extensions
	options = !lto
	source = python-pydantic-core-2.20.1.tar.gz::https://github.com/pydantic/pydantic-core/archive/refs/tags/v2.20.1.tar.gz
	sha512sums = 1dbd23494dd21a7cdfddafc02eefa6f7e59ac944bc13f6d0378e0e8b8c75c78774e916d9853229e85c3e36b81f1c05fcf396e013fc442212b9e71a426cba4c4a
	b2sums = aa1df69c24b7c41e962fb2d9ddb473ae6283c8868ef12ac075938bd8ec2a12d1f9b4d3895b377fe95ad8e4319df81a2efe3e14857d51760237dbff53e31105a0

pkgname = python-pydantic-core
