pkgbase = python-coverage
	pkgdesc = A tool for measuring code coverage of Python programs
	pkgver = 7.6.3
	pkgrel = 1
	url = https://coverage.readthedocs.io/en/latest/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = Apache-2.0
	checkdepends = python-flaky
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = python-unittest-mixins
	checkdepends = python-virtualenv
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	source = python-coverage-7.6.3.tar.gz::https://github.com/nedbat/coveragepy/archive/7.6.3.tar.gz
	sha512sums = c3289add34c8182a8dedb534ce30b2f8cf3a2badf60faf463cc5b2f65491f98c8a6e6f50a4da8fd4d5521eaa9aab70f3f7a9325bff199878d98d0e61a0635c57
	b2sums = 277cdc8c653fd3b0bf1cafd154df12a30ad650c0383cf0d746c5eec5649e70c6eb0ef5670a44f8cb969bdf02b11bfd19c90831bb0d187c8b5095a3706195be57

pkgname = python-coverage
