pkgbase = ruby-hashdiff
	pkgdesc = Library to compute the smallest difference between two hashes
	pkgver = 1.1.2
	pkgrel = 3
	url = https://github.com/liufengyun/hashdiff
	arch = any
	license = MIT
	checkdepends = ruby-rake
	checkdepends = ruby-rspec
	makedepends = ruby-rdoc
	makedepends = ruby-bundler
	depends = ruby
	options = !emptydirs
	source = https://github.com/liufengyun/hashdiff/archive/v1.1.2/ruby-hashdiff-v1.1.2.tar.gz
	sha512sums = 477593786887414819b0d98fd062fc6cb7a98b96c0154c6a23585636d0b27d6f6202f555d3e1ee83a2572640fc70c60bfc13e7c7d80880565966629b1396f0ad

pkgname = ruby-hashdiff
