pkgbase = gnome-common
	pkgdesc = Common development macros for GNOME
	pkgver = 3.18.0
	pkgrel = 6
	url = https://www.gnome.org
	arch = any
	license = GPL
	depends = sh
	depends = autoconf-archive
	depends = intltool
	depends = yelp-tools
	depends = gtk-doc
	source = https://download.gnome.org/sources/gnome-common/3.18/gnome-common-3.18.0.tar.xz
	sha256sums = 22569e370ae755e04527b76328befc4c73b62bfd4a572499fde116b8318af8cf

pkgname = gnome-common
