pkgbase = python-zope-testrunner
	pkgdesc = Zope testrunner script
	pkgver = 8.1
	pkgrel = 1
	url = https://github.com/zopefoundation/zope.testrunner
	arch = any
	license = ZPL-2.1
	checkdepends = python-zope-testing
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-setuptools
	depends = python-zope-exceptions
	depends = python-zope-interface
	source = https://github.com/zopefoundation/zope.testrunner/archive/8.1/python-zope-testrunner-8.1.tar.gz
	sha512sums = 9b313d4d196d3f7423690e1ac2cfd843557c810afd947bfd8de9307755f4735677bb4423d6bfebee075b2c53d582c6a3ff3bcc969055bfe16dfd399dcc411c36

pkgname = python-zope-testrunner
