pkgbase = python-zope-testrunner
	pkgdesc = Zope testrunner script
	pkgver = 6.6.1
	pkgrel = 1
	url = https://github.com/zopefoundation/zope.testrunner
	arch = any
	license = ZPL-2.1
	checkdepends = python-zope-testing
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-setuptools
	depends = python-zope-exceptions
	depends = python-zope-interface
	source = https://github.com/zopefoundation/zope.testrunner/archive/6.6.1/python-zope-testrunner-6.6.1.tar.gz
	source = dont-package-tests.patch
	sha512sums = 343a34af5335eec43dd1bc46792a5d676a9ebd3645a1db29f6e8c6ed8494ebe23bcb10d00a713738a54a042de1756150dea123433f47b2bc14a766dcab6dace7
	sha512sums = 46be2d2002c45e9e5fa9ea60e1b5832fae29e0438c07fd47017043a662a4c943b24535c9bce49ed215065866f6a5651b5b79a4a4e09484707b81347f7b2ab1df

pkgname = python-zope-testrunner
