pkgbase = xfce4-whiskermenu-plugin
	pkgdesc = Menu for Xfce4
	pkgver = 2.10.0
	pkgrel = 2
	url = https://docs.xfce.org/panel-plugins/xfce4-whiskermenu-plugin/start
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = xfce4-goodies
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = meson
	makedepends = ninja
	depends = accountsservice
	depends = garcon
	depends = gtk3
	depends = gtk-layer-shell
	depends = xfce4-panel
	optdepends = mugshot: Update user details
	source = git+https://gitlab.xfce.org/panel-plugins/xfce4-whiskermenu-plugin.git#tag=v2.10.0
	sha256sums = 1e870594f5da764ec65ad0df62ce71403f5b0541adcd960fe268b87d8ba4e601

pkgname = xfce4-whiskermenu-plugin
