pkgbase = python-oslo-concurrency
	pkgdesc = OpenStack library for all concurrency-related code
	pkgver = 7.4.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/oslo.concurrency/7.4.0
	arch = any
	license = Apache-2.0
	checkdepends = python-oslotest
	checkdepends = python-stestr
	checkdepends = python-eventlet
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-pbr
	depends = python-oslo-config
	depends = python-oslo-i18n
	depends = python-oslo-utils
	depends = python-fasteners
	depends = python-debtcollector
	source = git+https://github.com/openstack/oslo.concurrency.git#tag=7.4.0
	source = python-oslo-concurrency-python-3.14.patch
	sha512sums = 6bd9421453bea3193c4c35001bef3c7e576772e6dfa3a0f788ed85a44bc958f6ccb5ca1d348cba3c68a741e9f1b380dea6933f9282b5f8054c85963070814dda
	sha512sums = 1fc62ee511580e74f167037a0a3cc6f563a54a208c3de4fac067d9c0a10e48600aaf34166cf31249a1236e9fbaa59fc5a6dac09abe6fea9dcee0f31a0c29325f

pkgname = python-oslo-concurrency
