pkgbase = python-tblib
	pkgdesc = Python traceback fiddling library
	pkgver = 2.0.0
	pkgrel = 3
	url = https://github.com/ionelmc/python-tblib
	arch = any
	license = BSD-2-Clause
	checkdepends = python-pytest
	checkdepends = python-twisted
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-six
	makedepends = python-wheel
	depends = python-six
	source = https://github.com/ionelmc/python-tblib/archive/v2.0.0/python-tblib-2.0.0.tar.gz
	sha512sums = 13f9800647aacc516f893fed6717b13b53102af367bb3c21224b5545dedc3b8f1b73173b2fe26a7e2325235071ed534f8bafe28d2c8ba38d2f7a69bd3fb5419a
	b2sums = e26c224f6ca20cba5d8ce654da4069ed4735e2da77cb6ccb27040c67b762df32f50676932c49ed2adf71ca7ce135a5d0ea3821df926ee7d64e865c034fe9442f

pkgname = python-tblib
