pkgbase = kwayland
	pkgdesc = Qt-style Client and Server library wrapper for the Wayland libraries
	pkgver = 5.240.0.20231105
	pkgrel = 1
	url = https://www.kde.org
	arch = x86_64
	groups = kf6
	license = LGPL
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = plasma-wayland-protocols
	makedepends = qt6-doc
	makedepends = qt6-tools
	makedepends = wayland-protocols
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-wayland
	depends = wayland
	source = git+https://invent.kde.org/frameworks/kwayland#commit=9e3e4a2a269e236177de8a25a94f4006e806ba33
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = SKIP

pkgname = kwayland
