pkgbase = python-httpx2
	pkgdesc = A next generation HTTP client for Python
	pkgver = 2.13.0
	pkgrel = 1
	url = https://github.com/pydantic/httpx2
	arch = any
	license = BSD-3-Clause
	checkdepends = python-anyio
	checkdepends = python-brotli
	checkdepends = python-brotlicffi
	checkdepends = python-chardet
	checkdepends = python-click
	checkdepends = python-cryptography
	checkdepends = python-h11
	checkdepends = python-h2
	checkdepends = python-idna
	checkdepends = python-pygments
	checkdepends = python-pytest
	checkdepends = python-pytest-httpbin
	checkdepends = python-pytest-trio
	checkdepends = python-rich
	checkdepends = python-socksio
	checkdepends = python-starlette
	checkdepends = python-trio
	checkdepends = python-trustme
	checkdepends = python-truststore
	checkdepends = python-websockets
	checkdepends = python-werkzeug
	checkdepends = python-wsproto
	checkdepends = python-zstandard
	checkdepends = uvicorn
	makedepends = git
	makedepends = python-build
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-uv-dynamic-versioning
	source = python-httpx2::git+https://github.com/pydantic/httpx2#tag=v2.13.0
	sha512sums = eb5d0865feff22b322e4656d8265ffcd6c286f0923c8ca76928d2335fd0c55ed9ffec163c122f1deb95fa102b286f4ad5773cb623ac4b6d9fd9abba9222497f8
	b2sums = 043e52b7e6e70105a7336dfcdaf93e4972da061167bb2c9c8ee01e8fa29b4fde78c742b71258e81bd08c1ad1e9aad500c51ea71ad45efc7115e1aa45cdbd7e30

pkgname = python-httpx2
	depends = python
	depends = python-httpcore2
	depends = python-idna
	depends = python-truststore
	optdepends = python-brotli: for brotli response decompression
	optdepends = python-brotlicffi: for brotli response decompression
	optdepends = python-click: command line client support
	optdepends = python-h2: HTTP/2 support
	optdepends = python-pygments: command line client support
	optdepends = python-rich: command line client support
	optdepends = python-socksio: SOCKS proxy support
	optdepends = python-trio: alternative async library
	optdepends = python-wsproto: WebSocket support
	optdepends = python-zstandard: for zstd response decompression

pkgname = python-httpcore2
	pkgdesc = A minimal low-level HTTP client for Python
	depends = python
	depends = python-h11
	depends = python-truststore
	optdepends = python-anyio: asyncio support
	optdepends = python-h2: HTTP/2 support
	optdepends = python-socksio: SOCKS proxy support
	optdepends = python-trio: trio async support
