pkgbase = python-kajiki
	pkgdesc = Python XML-based template engine with Genshi-like syntax and Jinja-style blocks
	pkgver = 1.0.2
	pkgrel = 2
	url = https://github.com/nandoflorestan/kajiki
	arch = any
	license = LGPL
	checkdepends = python-babel
	checkdepends = python-pytest
	makedepends = python-hatchling
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-wheel
	depends = python
	depends = python-linetable
	source = kajiki-1.0.2.tar.gz::https://github.com/nandoflorestan/kajiki/archive/v1.0.2.tar.gz
	sha512sums = 50e0b44e90bad601bea222e3a93bd86490a645f0d316effad3fb2ee4bfd129fd227170c73dac739d7ef6a95275fc396e3d63440bb1cc22425acde181bbd9b402

pkgname = python-kajiki
