pkgbase = openresolv
	pkgdesc = resolv.conf management framework (resolvconf)
	pkgver = 3.13.2
	pkgrel = 2
	url = https://roy.marples.name/projects/openresolv
	arch = any
	license = custom:BSD
	makedepends = git
	makedepends = systemd
	depends = bash
	provides = resolvconf
	conflicts = resolvconf
	backup = etc/resolvconf.conf
	source = git+https://github.com/NetworkConfiguration/openresolv#commit=867a412d63a28d2c4978e02fc44fb8013f46d356
	b2sums = 6170f68d93055d7e70e8093163098ea6feed9725615ee9040c106c5e3f84359cbd80b9549124084ad02fae6d5ba3424bcf66f4157aa086d9b364e3bb107017a7

pkgname = openresolv
