pkgbase = python-debtcollector
	pkgdesc = A collection of Python deprecation patterns and strategies that help you collect your technical debt in a non-destructive manner.
	pkgver = 3.1.0
	pkgrel = 1
	url = https://docs.openstack.org/developer/debtcollector
	arch = any
	license = Apache-2.0
	checkdepends = python-stestr
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-pbr
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-wrapt
	source = git+https://github.com/openstack/debtcollector.git#tag=3.1.0
	sha512sums = b48d2e2d216071a95ccf409a14c5787f2b31fd667fbbb6ec749dfbc45acf610de9a5429dc405fbe2aa40c3deefc01eb2b45a221546418639daeeeae525df987b

pkgname = python-debtcollector
