pkgbase = python-oslo-serialization
	pkgdesc = Oslo Serialization library
	pkgver = 5.8.0
	pkgrel = 4
	url = https://docs.openstack.org/developer/oslo.serialization
	arch = any
	license = Apache-2.0
	checkdepends = python-stestr
	checkdepends = python-oslotest
	checkdepends = python-oslo-i18n
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-pbr
	depends = python-msgpack
	depends = python-oslo-utils
	source = git+https://github.com/openstack/oslo.serialization.git#tag=5.8.0
	sha512sums = a9478cb7d04dc89dad158ce58a079ef2eb3b68d5d89ed80f850be329e218c3b1280a8a057bf7d8bd7514334a3f02277aae97a70c5f54554fef5d70c1dc21735a

pkgname = python-oslo-serialization
