pkgbase = mujs
	pkgdesc = An embeddable Javascript interpreter in C
	pkgver = 1.3.9
	pkgrel = 1
	url = https://mujs.com/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = ISC
	makedepends = python
	depends = glibc
	depends = readline
	source = https://mujs.com/downloads/mujs-1.3.9.tar.gz
	source = 010-mujs-use-arch-flags.patch
	sha256sums = 956d5a20dd4efe5aa58673558787b9e2539255f9bf62585e90e1921fa040d89d
	sha256sums = 711d596fb6f473acfec4a618990389a7911defbfec49018f12c97b3d35ed5491

pkgname = mujs
