pkgbase = python-pdm-backend
	pkgdesc = The build backend used by PDM that supports latest packaging standards
	pkgver = 2.4.4
	pkgrel = 1
	url = https://github.com/pdm-project/pdm-backend
	arch = any
	groups = python-build-backend
	license = MIT
	checkdepends = git
	checkdepends = mercurial
	checkdepends = python-editables
	checkdepends = python-pytest
	checkdepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = python-packaging
	depends = python-pyproject-metadata
	depends = python-tomli-w
	optdepends = python-setuptools: for setuptools support
	optdepends = python-editables: for editables backend support
	source = pdm-backend-2.4.4.tar.gz::https://github.com/pdm-project/pdm-backend/archive/refs/tags/2.4.4.tar.gz
	source = python-pdm-backend-2.4.3-devendor.patch
	sha256sums = d77661cd03121a89e323db364863793bf170a93dcb0d7abb328772c386527f93
	sha256sums = 2bc1924abc74c66ea3056ddefdcf7a7e9b76c4ca9f87a0bbddc1a5da73a99eaa
	b2sums = 936289f56709633eb4d78b851b903e0f436f01d9949f96463fbad4448cb1688d8bad61a8a00e63524abf74f696830bb8227b428f78a050a2e3396545611119d3
	b2sums = c65bd035b0caad6b18059de5fec99ee358dc2e5552de9349e9d2c1166f95d6bd9615a0087f0003ff828002eb0ea0a36461db148acb694a0ac6ec469235724aa6

pkgname = python-pdm-backend
