pkgbase = freeglut
	pkgdesc = Free OpenGL Utility Toolkit
	pkgver = 3.6.0
	pkgrel = 1
	url = https://freeglut.sourceforge.net/
	arch = x86_64
	license = X11
	makedepends = cmake
	makedepends = git
	makedepends = glu
	makedepends = mesa
	makedepends = ninja
	depends = glibc
	depends = libgl
	depends = libx11
	depends = libxi
	depends = libxrandr
	depends = libxxf86vm
	provides = glut
	conflicts = glut
	source = git+https://github.com/FreeGLUTProject/freeglut#tag=v3.6.0
	b2sums = 2ce2bc7ff759405be701f1c43e4fe2154fce6a4ffe3801ba1f51ff362698b248b9a3d42929c44825a6f3f67029852a284cad49acbdc14908ac6c651c6c56e571

pkgname = freeglut
