pkgbase = libblastrampoline
	pkgdesc = Using PLT trampolines to provide a BLAS and LAPACK demuxing library
	pkgver = 5.10.0
	pkgrel = 1
	url = https://github.com/JuliaLinearAlgebra/libblastrampoline
	arch = x86_64
	license = MIT
	makedepends = git
	depends = glibc
	options = !lto
	source = git+https://github.com/JuliaLinearAlgebra/libblastrampoline#tag=v5.10.0
	sha256sums = 81fc4d666654685e7a867cb82008647b7053ff348ad0fbd7b9e7a9213a938d75

pkgname = libblastrampoline
