pkgbase = python-peewee
	pkgdesc = A small, expressive orm
	pkgver = 3.19.0
	pkgrel = 1
	url = https://github.com/coleifer/peewee
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	checkdepends = python-apsw
	checkdepends = python-flask
	checkdepends = python-gevent
	checkdepends = python-psycopg2
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	depends = sqlite
	optdepends = python-psycopg2: for PostgreSQL database support
	optdepends = python-pymysql: for MySQL database support
	source = https://github.com/coleifer/peewee/archive/3.19.0/python-peewee-3.19.0.tar.gz
	sha512sums = 2924cbb8009f7523bf78aab2f7cc17ce5abfb5f45fbc25ce074e597934e2bd269e1806672b95c570fb199169fefc8e23551254934d964deb69596b8f3c27e6d3

pkgname = python-peewee
