pkgbase = lxterminal
	pkgdesc = VTE-based terminal emulator (part of LXDE)
	pkgver = 0.4.1
	pkgrel = 1
	url = https://lxde.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = lxde
	groups = lxde-gtk3
	license = GPL2
	makedepends = git
	makedepends = intltool
	depends = vte3
	conflicts = lxterminal-gtk3
	replaces = lxterminal-gtk3
	source = git+https://github.com/lxde/lxterminal.git#tag=0.4.1
	sha256sums = 1261b4134b9a83b512008bdd778d241a4db9b731347c78116b7315b5581f0872

pkgname = lxterminal
