pkgbase = perl-ppix-regexp
	pkgdesc = Parse regular expressions
	pkgver = 0.091
	pkgrel = 2
	url = https://metacpan.org/release/PPIx-Regexp
	arch = any
	license = PerlArtistic
	depends = perl-list-moreutils
	depends = perl-ppi
	depends = perl-task-weaken
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/W/WY/WYANT/PPIx-Regexp-0.091.tar.gz
	sha512sums = 186ad07c6ffa16fa01c1b8ba65ba09aafba105655c17b0a5d3dfce47434b289c9260a2dd1d194f8820696a06a4d0f2341ca6752f3aa6880b6966862b9faa810b

pkgname = perl-ppix-regexp
