pkgbase = perl-ppix-regexp
	pkgdesc = Parse regular expressions
	pkgver = 0.088
	pkgrel = 3
	url = https://metacpan.org/release/PPIx-Regexp
	arch = any
	license = PerlArtistic
	depends = perl-list-moreutils
	depends = perl-ppi
	depends = perl-task-weaken
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/W/WY/WYANT/PPIx-Regexp-0.088.tar.gz
	sha512sums = a787c34c936f4b26f50a7dabd5212b2d7d4ba34e16753e740768bd354072cb6e45ebfe880658d2c9e3799ee6e99c7f2b208f128d76421750f38bd63abe2bba3c

pkgname = perl-ppix-regexp
