pkgbase = zvbi
	pkgdesc = VBI capture and decoding library
	pkgver = 0.2.43
	pkgrel = 1
	url = http://zapping.sourceforge.net/cgi-bin/view/ZVBI/WebHome
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = BSD
	license = GPL2
	license = LGPL2.1
	license = MIT
	makedepends = git
	depends = libpng
	depends = libx11
	source = git+https://github.com/zapping-vbi/zvbi.git#tag=66a1c9bdf3a7f105a5c02070cc6de0d949513c58
	validpgpkeys = FA26CA784BE188927F22B99F6570EA01146F7354
	b2sums = ca6100f51f17820a974f4eacb922204e7b373261ee43dfb1d99b0eeea0241c94e3d42a32c073273fbe8da45d2faaf9266a72a7d56d506f027054409e7c9bfd93

pkgname = zvbi
