pkgbase = ptex
	pkgdesc = Per-Face Texture Mapping for Production Rendering
	pkgver = 2.4.3
	pkgrel = 1
	url = http://ptex.us/
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = doxygen
	makedepends = cmake
	makedepends = ninja
	depends = zlib
	depends = gcc-libs
	options = staticlibs
	source = ptex-2.4.3.tar.gz::https://github.com/wdas/ptex/archive/v2.4.3.tar.gz
	sha512sums = 34fcaf1c4fe27cb4e66d66bb729137ef17ffeea2bc2d849f2f5f543b19acc250f425633142320ce797c2a086e04bc3e0870c94928ad45d94e34faee71af36890

pkgname = ptex
