pkgbase = xorg-xclock
	pkgdesc = X clock
	pkgver = 1.2.0
	pkgrel = 1
	url = https://gitlab.freedesktop.org/xorg/app/xclock
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	makedepends = xorg-util-macros
	depends = libx11
	depends = libxmu
	depends = libxaw
	depends = libxrender
	depends = libxft
	depends = libxkbfile
	depends = libxt
	depends = glibc
	source = https://xorg.freedesktop.org/archive/individual/app/xclock-1.2.0.tar.xz
	source = https://xorg.freedesktop.org/archive/individual/app/xclock-1.2.0.tar.xz.sig
	validpgpkeys = 3AB285232C46AE43D8E192F4DAB0F78EA6E7E2D2
	sha512sums = acfe4000fc84f511145404ef1f98058d0cdd1d2238942a7a4beaf4781238c2085364e78449418fa46e7957700befeb720efa6f49382e1f8a5759829456d391c2
	sha512sums = SKIP

pkgname = xorg-xclock
