pkgbase = distro-info
	pkgdesc = Information about all releases of Debian and Ubuntu
	pkgver = 1.13
	pkgrel = 1
	url = https://salsa.debian.org/debian/distro-info
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = ISC
	checkdepends = flake8
	checkdepends = python-black
	checkdepends = python-isort
	checkdepends = python-pylint
	checkdepends = shunit2
	makedepends = git
	makedepends = dpkg
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = distro-info-data
	depends = glibc
	depends = python
	provides = python-distro-info
	provides = perl-distro-info
	conflicts = python-distro-info
	conflicts = perl-distro-info
	options = !emptydirs
	source = git+https://salsa.debian.org/debian/distro-info.git#tag=debian/1.13
	sha256sums = f4ab5695de1a0439e184da4dba974832758cf7df7c9bf97cfde6c63e6408c4e1

pkgname = distro-info
