pkgbase = tde-kommando
	pkgdesc = Trinity Desktop Enviroment applications/utilities/kommando
	pkgver = 14.1.5
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/kommando
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = tde-complete
	license = GPL
	makedepends = tde-cmake-trinity
	depends = tde-tdelibs
	provides = kommando
	conflicts = trinity-kommando
	conflicts = kdemod3-kommando
	replaces = trinity-kommando
	options = staticlibs
	options = libtool
	options = !strip
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.5/main/applications/utilities/kommando-trinity-14.1.5.tar.xz
	md5sums = 8f57fbc85c4cb81e7b5c70d3aac80d43

pkgname = tde-kommando
