pkgbase = tinysparql
	pkgdesc = Low-footprint RDF triple store with SPARQL 1.1 interface
	pkgver = 3.10.1
	pkgrel = 2
	url = https://tinysparql.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-or-later
	checkdepends = man-db
	makedepends = asciidoc
	makedepends = bash-completion
	makedepends = dbus
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-dbus
	makedepends = python-gobject
	makedepends = python-tappy
	makedepends = systemd
	makedepends = vala
	depends = avahi
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = icu
	depends = json-glib
	depends = libsoup3
	depends = libstemmer
	depends = libxml2
	depends = sqlite
	source = git+https://gitlab.gnome.org/GNOME/tinysparql.git#tag=3.10.1
	b2sums = 3574e6743fdce00035fa790622edb439ce80b39739e5c14937ca8cc894dfe08715409a5baf07deed014c45fb89091c188400d6f29dda549795ef4e5044315b1c

pkgname = tinysparql
	provides = tracker3=3.10.1
	provides = libtinysparql-3.0.so
	conflicts = tracker3<=3.7.3-2
	replaces = tracker3<=3.7.3-2

pkgname = tinysparql-docs
	pkgdesc = Low-footprint RDF triple store with SPARQL 1.1 interface (documentation)
	depends = 
