pkgbase = tinysparql
	pkgdesc = Low-footprint RDF triple store with SPARQL 1.1 interface
	pkgver = 3.11.1
	pkgrel = 1
	url = https://tinysparql.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-or-later
	checkdepends = man-db
	makedepends = asciidoc
	makedepends = bash-completion
	makedepends = dbus
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-dbus
	makedepends = python-gobject
	makedepends = python-tappy
	makedepends = systemd
	makedepends = vala
	depends = avahi
	depends = glib2
	depends = glibc
	depends = icu
	depends = json-glib
	depends = libgcc
	depends = libsoup3
	depends = libstemmer
	depends = libxml2
	depends = sqlite
	source = git+https://gitlab.gnome.org/GNOME/tinysparql.git#tag=3.11.1
	b2sums = f4cf14773dbd12abfe2794190798e77fdcc5182e4093851c9cb7e3ae282b27572629f9462b30c7474bbf2d71a7434337141869fc1d85fd774ee5e7ed071a7ede

pkgname = tinysparql
	provides = tracker3=3.11.1
	provides = libtinysparql-3.0.so
	conflicts = tracker3<=3.7.3-2
	replaces = tracker3<=3.7.3-2

pkgname = tinysparql-docs
	pkgdesc = Low-footprint RDF triple store with SPARQL 1.1 interface (documentation)
	depends = 
