pkgbase = libxslt
	pkgdesc = XML stylesheet transformation library
	pkgver = 1.1.42
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/libxslt/-/wikis/home
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	arch = riscv64
	license = MIT
	checkdepends = docbook-xml
	makedepends = git
	makedepends = python
	depends = bash
	depends = glibc
	depends = libgcrypt
	depends = libxml2
	depends = xz
	source = git+https://gitlab.gnome.org/GNOME/libxslt.git#tag=v1.1.42
	source = 0001-runtest-Print-output-causing-failure.patch
	b2sums = 70549d4ad6784c41bc8f947db0f689399a0c6b4a1d91e1a8e67772f942192a391eebc58b64069500dd76b4c06bc4bd682b66945112298c7bc3f1af90e41ce804
	b2sums = b63a1f2bf704d4561cc30734cee980534fb0586234b7b593d57d9c70fe59abd72610b6d825ab136d4d1dd7540bbfb6b8a6edc95618c15cc79e5a4bbd8f6341ee

pkgname = libxslt
	optdepends = python: Python bindings
	provides = libxslt.so
	provides = libexslt.so

pkgname = libxslt-docs
	pkgdesc = XML stylesheet transformation library (documentation)
	depends = 
