pkgbase = libnotify
	pkgdesc = Library for sending desktop notifications
	pkgver = 0.8.4
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/libnotify
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = LGPL-2.1-or-later
	makedepends = docbook-xsl
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk3
	makedepends = meson
	makedepends = xmlto
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	source = git+https://gitlab.gnome.org/GNOME/libnotify.git?signed#tag=0.8.4
	validpgpkeys = 98FF7532A4639119B8FB4F15E520923A38618D6C
	validpgpkeys = D4C501DA48EB797A081750939449C2F50996635F
	b2sums = 77851478ea96ddd38a89120777768240f5f12dabdcb48c2ceb803cd1501a415b2a35154a4bad35cc81ae6466cd763bb92b38187e81cb945fb9113d9161f7b265

pkgname = libnotify
	provides = libnotify.so

pkgname = libnotify-docs
	pkgdesc = Library for sending desktop notifications (documentation)
	depends = 
