pkgbase = menu-cache
	pkgdesc = Caching mechanism for freedesktop.org compliant menus
	pkgver = 1.1.1
	pkgrel = 2
	url = https://github.com/lxde/menu-cache
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL-2.1-or-later
	makedepends = git
	makedepends = gtk-doc
	depends = glib2
	depends = glibc
	depends = libfm-extra
	source = git+https://github.com/lxde/menu-cache.git#tag=1.1.1
	b2sums = bf9b2f53b4bd519b25536f4167c764a39ddd851de203c062b7bb2bd2cb5a01f8df6e99987dd856107e0e4aca2ce82eef4892c8a893cf87dfb7c08e1d5bba049a

pkgname = menu-cache
