pkgbase = libsigc++-3.0
	pkgdesc = Callback Framework for C++
	pkgver = 3.8.0
	pkgrel = 1
	url = https://libsigcplusplus.github.io/libsigcplusplus/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL-2.1-or-later
	makedepends = git
	makedepends = meson
	makedepends = mm-common
	depends = gcc-libs
	depends = glibc
	options = !emptydirs
	source = git+https://github.com/libsigcplusplus/libsigcplusplus#tag=3.8.0
	b2sums = 5f04ac2a0353d1671a2cdc47370373ec32e9e492fdd459bff28d2df96209e96acf096a2d7790c6e8117c3b483d07243468cb3ed22a622a2139cd3c94c3d6deee

pkgname = libsigc++-3.0
	provides = libsigc-3.0.so

pkgname = libsigc++-3.0-docs
	pkgdesc = Callback Framework for C++ (documentation)
	depends = 
	options = !strip
