pkgbase = fmt
	pkgdesc = Open-source formatting library for C++
	pkgver = 11.1.1
	pkgrel = 2
	url = https://fmt.dev
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = MIT
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	makedepends = mkdocs
	makedepends = mkdocs-material
	makedepends = mkdocstrings
	makedepends = ninja
	makedepends = python-pymdown-extensions
	makedepends = python-regex
	source = git+https://github.com/fmtlib/fmt.git#tag=e3ddede6c4ee818825c4e5a6dfa1d384860c27d9
	b2sums = 7eff702315d1ea7317e9c71819648a76cc86b6c358f3aabcce09f62f06167ba40ffcac44a0353e9c338ed1f9acfe0c82d1063521e538b1a87209c31c2305aace
	makedepends_x86_64 = npm
	makedepends_powerpc64le = npm
	makedepends_powerpc64 = npm
	makedepends_riscv64 = npm

pkgname = fmt
	depends = gcc-libs
	depends = glibc
	provides = libfmt.so

pkgname = fmt-docs
	pkgdesc = Open-source formatting library for C++ (documentation)
