pkgbase = fmt
	pkgdesc = Open-source formatting library for C++
	pkgver = 11.0.2
	pkgrel = 1
	url = https://fmt.dev
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	makedepends = mkdocs
	makedepends = mkdocs-material
	makedepends = mkdocstrings
	makedepends = ninja
	makedepends = npm
	makedepends = python-pymdown-extensions
	makedepends = python-regex
	depends = gcc-libs
	depends = glibc
	provides = libfmt.so
	source = git+https://github.com/fmtlib/fmt.git#tag=0c9fce2ffefecfdce794e1859584e25877b7b592
	b2sums = 18b6d66c2159b2f8bd0baf2e1df7514fde09cf6a25441710d40e386abd9baa49b62859c4d8a71b77f0d1550c32fc62826c95fdacf4397e24cc6ea205a0c50798

pkgname = fmt
