pkgbase = fmt
	pkgdesc = Open-source formatting library for C++
	pkgver = 11.2.0
	pkgrel = 1
	url = https://fmt.dev
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	makedepends = mkdocs
	makedepends = mkdocs-material
	makedepends = mkdocstrings
	makedepends = ninja
	makedepends = python-pymdown-extensions
	makedepends = python-regex
	source = git+https://github.com/fmtlib/fmt.git#tag=40626af88bd7df9a5fb80be7b25ac85b122d6c21
	b2sums = 6b2124216e51d5efab77e2c835e86f3803c544a90bb6ba01eaa2ddbe6824842f2c3be1b92a5bdee9e5a19e5f437b40316f2a25f47f2fb2ee6dd8ec663d98cc6a
	makedepends_x86_64 = npm
	makedepends_powerpc64le = npm
	makedepends_powerpc64 = npm

pkgname = fmt
	depends = gcc-libs
	depends = glibc
	provides = libfmt.so

pkgname = fmt-docs
	pkgdesc = Open-source formatting library for C++ (documentation)
