pkgbase = fcitx5
	pkgdesc = Next generation of fcitx
	pkgver = 5.1.10
	pkgrel = 1
	url = https://github.com/fcitx/fcitx5
	arch = x86_64
	groups = fcitx5-im
	license = LGPL-2.1-or-later AND Unicode-DFS-2016
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = ninja
	makedepends = wayland-protocols
	makedepends = fmt
	depends = cairo
	depends = enchant
	depends = iso-codes
	depends = libgl
	depends = libxkbcommon-x11
	depends = pango
	depends = systemd
	depends = wayland
	depends = xcb-imdkit
	depends = xcb-util-wm
	depends = libxkbfile
	depends = gdk-pixbuf2
	conflicts = fcitx
	noextract = en_dict-20121020.tar.gz
	source = git+https://github.com/fcitx/fcitx5.git#tag=5.1.10?signed
	source = https://download.fcitx-im.org/data/en_dict-20121020.tar.gz
	validpgpkeys = 2CC8A0609AD2A479C65B6D5C8E8B898CBF2412F9
	sha512sums = 9c99cda8091ed9ab909ee1ac13633077002a738d4a9a369c2bd5159ce892253a3e8f4b0fddf4e204aff19a416877658b080e1f5f58b887eb2e536520ef52f39e
	sha512sums = 8418bd02492bfd786c0fab93be4400ef027ec8e9fac02220cc1f653f5eb67f54573a6a84a15baba19bb34ab892745c87df16499d6304ea75009131e2ab3b97f2

pkgname = fcitx5
