pkgbase = fcitx5
	pkgdesc = Next generation of fcitx
	pkgver = 5.1.11
	pkgrel = 1
	url = https://github.com/fcitx/fcitx5
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	groups = fcitx5-im
	license = LGPL-2.1-or-later AND Unicode-DFS-2016
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = ninja
	makedepends = wayland-protocols
	makedepends = fmt
	depends = cairo
	depends = enchant
	depends = iso-codes
	depends = libgl
	depends = libxkbcommon-x11
	depends = pango
	depends = systemd
	depends = wayland
	depends = xcb-imdkit
	depends = xcb-util-wm
	depends = libxkbfile
	depends = gdk-pixbuf2
	conflicts = fcitx
	noextract = en_dict-20121020.tar.gz
	source = git+https://github.com/fcitx/fcitx5.git#tag=5.1.11?signed
	source = https://download.fcitx-im.org/data/en_dict-20121020.tar.gz
	validpgpkeys = 2CC8A0609AD2A479C65B6D5C8E8B898CBF2412F9
	sha512sums = 50e6e2a9f6f57c47c4821f5af8610967d5052e9d98095181f65e1981af71043353567dc64875d3715048f4bc5eb445ba56aa985785b74481007363ea1ecae06b
	sha512sums = 8418bd02492bfd786c0fab93be4400ef027ec8e9fac02220cc1f653f5eb67f54573a6a84a15baba19bb34ab892745c87df16499d6304ea75009131e2ab3b97f2

pkgname = fcitx5
