pkgbase = xkeyboard-config
	pkgdesc = X keyboard configuration files
	pkgver = 2.45
	pkgrel = 1
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config
	arch = any
	license = LicenseRef-xkeyboard-config
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = libxkbcommon
	makedepends = xorg-xkbcomp
	makedepends = libxslt
	makedepends = python
	makedepends = meson
	provides = xkbdata
	conflicts = xkbdata
	replaces = xkbdata
	source = https://xorg.freedesktop.org/archive/individual/data/xkeyboard-config/xkeyboard-config-2.45.tar.xz
	source = https://xorg.freedesktop.org/archive/individual/data/xkeyboard-config/xkeyboard-config-2.45.tar.xz.sig
	validpgpkeys = FFB4CCD275AAA422F5F9808E0661D98FC933A145
	sha256sums = 169e075a92d957a57787c199e84e359df2931b7196c1c5b4a3d576ee6235a87c
	sha256sums = SKIP

pkgname = xkeyboard-config
