pkgbase = xkeyboard-config
	pkgdesc = X keyboard configuration files
	pkgver = 2.43
	pkgrel = 1
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config
	arch = any
	license = LicenseRef-xkeyboard-config
	makedepends = xorg-xkbcomp
	makedepends = libxslt
	makedepends = python
	makedepends = meson
	provides = xkbdata
	conflicts = xkbdata
	replaces = xkbdata
	source = https://xorg.freedesktop.org/archive/individual/data/xkeyboard-config/xkeyboard-config-2.43.tar.xz
	source = https://xorg.freedesktop.org/archive/individual/data/xkeyboard-config/xkeyboard-config-2.43.tar.xz.sig
	validpgpkeys = FFB4CCD275AAA422F5F9808E0661D98FC933A145
	sha256sums = c810f362c82a834ee89da81e34cd1452c99789339f46f6037f4b9e227dd06c01
	sha256sums = SKIP

pkgname = xkeyboard-config
