pkgbase = python-pytest-home
	pkgdesc = Home directory fixtures
	pkgver = 0.6.0
	pkgrel = 3
	url = https://github.com/jaraco/pytest-home
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-pytest
	source = git+https://github.com/jaraco/pytest-home.git#tag=v0.6.0?signed
	validpgpkeys = CE380CF3044959B8F377DA03708E6CB181B4C47E
	b2sums = 6a39bf84b409a1b871522b7ac4cb49d37458b9b6f95befe51845b16e7fd37b28ba910fbdb1797287b7831acae3ef2012b05b1e955c40408a4a8fdc50a66be0af

pkgname = python-pytest-home
