pkgbase = libvisio
	pkgdesc = Library providing ability to interpret and import visio diagrams
	pkgver = 0.1.10
	pkgrel = 2
	url = https://wiki.documentfoundation.org/DLP/Libraries/libvisio
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MPL-2.0
	makedepends = boost
	makedepends = gperf
	makedepends = doxygen
	makedepends = cppunit
	depends = libxml2
	depends = icu
	depends = librevenge
	depends = gcc-libs
	depends = glibc
	source = https://dev-www.libreoffice.org/src/libvisio/libvisio-0.1.10.tar.xz
	sha256sums = 9e9eff75112d4d92d92262ad7fc2599c21e26f8fc5ba54900efdc83c0501e472

pkgname = libvisio
