pkgbase = tde-tellico
	pkgdesc = Trinity Desktop Enviroment applications/office/tellico
	pkgver = 14.1.5
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/tellico
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = tde-complete
	license = GPL
	makedepends = tde-cmake-trinity
	depends = tde-tdelibs
	depends = tde-tdegraphics
	depends = tde-tdemultimedia
	depends = tde-tdepim
	depends = exempi
	depends = hiredis
	depends = perl-text-bibtex
	depends = perl-xml-parser
	depends = taglib
	depends = v4l-utils
	depends = yaz
	provides = tellico
	conflicts = trinity-tellico
	conflicts = kdemod3-tellico
	replaces = trinity-tellico
	options = staticlibs
	options = libtool
	options = !strip
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.5/main/applications/office/tellico-trinity-14.1.5.tar.xz
	md5sums = bb7c7ee8c74797af74d7b50e9d3f7124

pkgname = tde-tellico
