pkgbase = python-pytest-relaxed
	pkgdesc = Relaxed test discovery for pytest
	pkgver = 2.0.2
	pkgrel = 4
	url = https://github.com/bitprophet/pytest-relaxed
	arch = any
	license = BSD
	makedepends = git
	makedepends = python-setuptools
	depends = python-pytest
	depends = python-decorator
	source = git+https://github.com/bitprophet/pytest-relaxed.git#tag=2.0.2
	sha512sums = 95b31156d52abf54009164bb989bf50abb2a09103d267906e3dea9e83f41050009b82b2bfebb5085a63b2bdf2183c8dbbf1b3ae4877cfe0d88e483d4c965e080

pkgname = python-pytest-relaxed
