pkgbase = python-jupyter-core
	pkgdesc = Jupyter core package. A base package on which Jupyter projects rely
	pkgver = 5.8.1
	pkgrel = 1
	url = https://pypi.python.org/pypi/jupyter_core
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pip
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-argcomplete
	depends = python-traitlets
	depends = python-platformdirs
	provides = python-jupyter_core
	conflicts = python-jupyter_core
	replaces = python-jupyter_core
	source = git+https://github.com/jupyter/jupyter_core#tag=v5.8.1
	sha256sums = 0b5823d0976f3b18a3405296f13bdec529715c369aadac69f63849f7c3f59483

pkgname = python-jupyter-core
