pkgbase = breeze-icons
	pkgdesc = Breeze icon theme
	pkgver = 6.27.0
	pkgrel = 1
	url = https://develop.kde.org/products/frameworks/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = kf6
	license = LGPL-3.0-or-later
	license = LGPL-2.1-only
	makedepends = extra-cmake-modules
	makedepends = python-lxml
	depends = glibc
	depends = qt6-base
	source = https://download.kde.org/stable/frameworks/6.27/breeze-icons-6.27.0.tar.xz
	source = https://download.kde.org/stable/frameworks/6.27/breeze-icons-6.27.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	validpgpkeys = 90A968ACA84537CC27B99EAF2C8DF587A6D4AAC1
	sha256sums = bc8c2337802837ff1809269a8e4c4311b93e7e90c78ab4fe2a86cf5300ffd414
	sha256sums = SKIP

pkgname = breeze-icons
