pkgbase = cython
	pkgdesc = C-Extensions for Python
	pkgver = 3.0.12
	pkgrel = 1.1
	url = https://cython.org
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	license = Apache-2.0
	checkdepends = gdb
	checkdepends = python-numpy
	checkdepends = python-pytest
	checkdepends = python-tests
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	replaces = cython-dev
	source = git+https://github.com/cython/cython#tag=3.0.12
	sha256sums = 903f0cde1b595019edd5a49d4f991c1636ff4fe5e72cc9678cb2985c41c00836

pkgname = cython
