[Unit]
Description=GnuPG public key management service
Requires=keyboxd.socket

[Service]
ExecStart=/usr/lib/gnupg/keyboxd --supervised
ExecReload=/usr/bin/gpgconf --reload keyboxd
