pkgbase = python-argcomplete
	pkgdesc = Easy, extensible command line tab completion of arguments for your Python script
	pkgver = 3.6.2
	pkgrel = 2
	url = https://github.com/kislyuk/argcomplete
	arch = any
	license = Apache-2.0
	checkdepends = fish
	checkdepends = python-pexpect
	checkdepends = python-pip
	checkdepends = tcsh
	checkdepends = zsh
	makedepends = git
	makedepends = python-build
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = argcomplete::git+https://github.com/kislyuk/argcomplete#tag=v3.6.2
	validpgpkeys = 29BCBADB4ECAAAC2382699388AFAFCD242818A52
	sha512sums = 5538bdddc792f6f83692b1a239e0283863ae2e81e22d1d3e699d57e11b4efcc12100382b73cbf8f5ad0a88f850365c71ffe6c3885cac8d606c8308360fd53872

pkgname = python-argcomplete
