pkgbase = python-trio
	pkgdesc = A friendly Python library for async concurrency and I/O
	pkgver = 0.26.2
	pkgrel = 2
	url = https://github.com/python-trio/trio
	arch = any
	license = MIT
	checkdepends = python-astor
	checkdepends = python-black
	checkdepends = python-isort
	checkdepends = python-jedi
	checkdepends = python-pylint
	checkdepends = python-pytest
	checkdepends = python-ruff
	checkdepends = python-trustme
	makedepends = git
	makedepends = python-build
	makedepends = python-setuptools
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-attrs
	depends = python-idna
	depends = python-outcome
	depends = python-sniffio
	depends = python-sortedcontainers
	depends = python-typing_extensions
	provides = python-multio-provider
	source = git+https://github.com/python-trio/trio.git#tag=993e67a7af2b337125c17f63783c703504497324
	b2sums = fa717142552dfefdc5ecb5f3f71c8550bd0c9d8adfb6058e1b04923b1489320d42110848faa7a96297368dc37eea6801843c37646193ca9994a1083c22348d44

pkgname = python-trio
