pkgbase = uv
	pkgdesc = An extremely fast Python package installer and resolver written in Rust
	pkgver = 0.12.19
	pkgrel = 1
	url = https://github.com/astral-sh/uv
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	license = Apache-2.0
	makedepends = bzip2
	makedepends = cargo
	makedepends = cmake
	makedepends = git
	makedepends = glibc
	makedepends = jemalloc
	makedepends = libgcc
	makedepends = maturin
	makedepends = python
	makedepends = python-installer
	makedepends = xz
	makedepends = zstd
	options = !lto
	source = git+https://github.com/astral-sh/uv.git#tag=0.12.19
	sha256sums = f3894ef92cb828717fb5061f26adbfa2771117a2578af0ebc0c15f74fcb4586b

pkgname = uv
	depends = bzip2
	depends = libgcc
	depends = glibc
	depends = jemalloc
	depends = zstd

pkgname = python-uv
	pkgdesc = An extremely fast Python package installer and resolver written in Rust - Python wrapper
	depends = python
	depends = uv=0.12.19

pkgname = python-uv-build
	pkgdesc = An extremely fast Python package installer and resolver written in Rust - Python build backend
	groups = python-build-backend
	depends = bzip2
	depends = libgcc
	depends = glibc
	depends = python
	depends = xz
