pkgbase = python-versioneer
	pkgdesc = A tool for managing a recorded version number in setuptools-based python projects
	pkgver = 0.29
	pkgrel = 4
	url = https://github.com/python-versioneer/python-versioneer
	arch = any
	license = custom:Unlicense
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-setuptools
	source = python-versioneer::git+https://github.com/python-versioneer/python-versioneer#commit=28c613dbef5fce09dc3ba6b1baa811c2d76b2245
	b2sums = SKIP

pkgname = python-versioneer
