pkgbase = python-multipart
	pkgdesc = Parser for multipart/form-data
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/defnull/multipart
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-flit-core
	depends = python
	source = python-multipart-1.2.1.tar.gz::https://github.com/defnull/multipart/archive/v1.2.1.tar.gz
	sha512sums = 4d1337fc2dc1f38e1402dc77e7a47caa055f9b18a965d71a90dc4172e1a48e6cab513a20f95e14664451bbee545e1d90de5643ace3d854bcb168008dd2aa3223

pkgname = python-multipart
