pkgbase = python-tomlkit
	pkgdesc = Style-preserving TOML library for Python
	pkgver = 0.13.0
	pkgrel = 1
	url = https://github.com/sdispater/tomlkit
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-yaml
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = python
	source = https://files.pythonhosted.org/packages/source/t/tomlkit/tomlkit-0.13.0.tar.gz
	sha256sums = 08ad192699734149f5b97b45f1f18dad7eb1b6d16bc72ad0c2335772650d7b72

pkgname = python-tomlkit
