pkgbase = apparmor
	pkgdesc = Mandatory Access Control (MAC) using Linux Security Module (LSM)
	pkgver = 4.1.1
	pkgrel = 1
	url = https://gitlab.com/apparmor/apparmor
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-only
	license = LGPL-2.0-only
	license = LGPL-2.1-only
	checkdepends = dejagnu
	checkdepends = perl-locale-gettext
	checkdepends = python-gobject
	checkdepends = python-notify2
	checkdepends = python-psutil
	checkdepends = sqlite
	checkdepends = tk
	makedepends = apache
	makedepends = autoconf-archive
	makedepends = git
	makedepends = libxcrypt
	makedepends = python-setuptools
	makedepends = ruby
	makedepends = swig
	depends = audit
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = pam
	depends = python
	depends = python-legacy-cgi
	optdepends = perl: for perl bindings
	optdepends = python-gobject: for aa-notify
	optdepends = python-notify2: for aa-notify
	optdepends = python-psutil: for aa-notify
	optdepends = ruby: for ruby bindings
	optdepends = sqlite: for aa-notify
	optdepends = tk: for aa-notify
	provides = libapparmor.so
	backup = etc/apparmor/easyprof.conf
	backup = etc/apparmor/logprof.conf
	backup = etc/apparmor/notify.conf
	backup = etc/apparmor/parser.conf
	backup = etc/apparmor/severity.db
	source = git+https://gitlab.com/apparmor/apparmor.git#tag=v4.1.1?signed
	validpgpkeys = 3ECDCBA5FB34D254961CC53F6689E64E3D3664BB
	validpgpkeys = EDC4830FBD39AB6AC51047FB052F367018D5C3D8
	sha512sums = 7b97e42fcaf26ff74b86d44067af056de85f8a6bf441dab4c9e79d11223b8975c509d1e41b07d4f3cd31003a0fa1eaccfa3fbf570f504b65b27ee5697c618924
	b2sums = 57c7271683638689f3f785b587bc9b002249f8f8f0fe15e5f511cebff7804672e0896fcbf6661c6cefbb92bee75a8281e14f3a2e03a6293a6351c8da0f29cb54

pkgname = apparmor
