pkgbase = paraview-catalyst
	pkgdesc = API specification developed for simulations (and other scientific data producers) to analyze and visualize data in situ
	pkgver = 2.0.0
	pkgrel = 2
	url = https://gitlab.kitware.com/paraview/catalyst
	arch = x86_64
	license = BSD-3-Clause
	checkdepends = python-mpi4py
	makedepends = cmake
	makedepends = gcc-fortran
	makedepends = gtest
	makedepends = ninja
	makedepends = python-numpy
	depends = gcc-libs
	depends = glibc
	depends = openmpi
	depends = python
	options = !lto
	source = https://gitlab.kitware.com/paraview/catalyst/-/archive/v2.0.0/catalyst-v2.0.0.tar.gz
	b2sums = f5d81bbbe57ccbab692935f9ed45258be72e261af5c788ee0f4601a5ff1fe74be62a94f4a2992871b14a02ed56b5b9393ad02c939174eac292dc26bfded4e2a0

pkgname = paraview-catalyst
