pkgbase = tde-kile
	pkgdesc = TDE Integrated LaTeX Environment
	pkgver = 14.1.6
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/kile
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = tde-complete
	license = GPL
	makedepends = tde-cmake-trinity
	depends = tde-tdelibs
	provides = kile
	conflicts = trinity-kile
	conflicts = kdemod3-kile
	replaces = trinity-kile
	options = staticlibs
	options = libtool
	options = !strip
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.6/main/applications/office/kile-trinity-14.1.6.tar.xz
	md5sums = c17146b8e7d4c278eef4a7be22cf78be

pkgname = tde-kile
