pkgbase = qt5-location
	pkgdesc = Provides access to position, satellite and area monitoring classes
	pkgver = 5.15.15+kde+r7
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = git
	depends = qt5-declarative
	source = kde-qtlocation::git+https://invent.kde.org/qt/qt/qtlocation#commit=e0a477d04f35495ba6eeda8578d1311dba623270
	source = git+https://invent.kde.org/qt/qt/qtlocation-mapboxgl.git
	sha256sums = 7b7d13934c056d66b163d580f6d9f453312e82a7a670465145e1996556e5aa93
	sha256sums = SKIP

pkgname = qt5-location
