pkgbase = ruby-protocol-rack
	pkgdesc = An implementation of the Rack protocol/specification
	pkgver = 0.11.1
	pkgrel = 3
	url = https://github.com/socketry/protocol-rack
	arch = any
	license = MIT
	checkdepends = ruby-async-http
	checkdepends = ruby-bake-test
	checkdepends = ruby-bake-test-external
	checkdepends = ruby-bundler
	checkdepends = ruby-covered
	checkdepends = ruby-decode
	checkdepends = ruby-sus
	checkdepends = ruby-sus-fixtures-async-http
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-protocol-http
	depends = ruby-rack
	options = !emptydirs
	source = https://github.com/socketry/protocol-rack/archive/v0.11.1/ruby-protocol-rack-0.11.1.tar.gz
	sha512sums = aaf41929db62b41e80a8bca8e95efa77fd3fb7d67f77116d933b733efb83495e7038e22b32344b191db3ede69b62a33e2e70af2448756894ab926fc05c1c5b4e
	b2sums = 274d280df179c6ec924ae99bd549233c412e2f00290f6cfb3e6223639f8838d9fabf15d2112c4805fd6f2067b8ff70f06d1e2b4c8d5fe67ea7e594ec003d0f0e

pkgname = ruby-protocol-rack
