pkgbase = python-pybtex
	pkgdesc = A BibTeX-compatible bibliography processor written in Python
	pkgver = 0.24.0
	pkgrel = 7
	url = https://pybtex.org
	arch = any
	license = GPL
	checkdepends = python-pytest
	makedepends = python-setuptools
	depends = python
	depends = python-setuptools
	depends = python-six
	depends = python-yaml
	depends = python-latexcodec
	source = https://pypi.io/packages/source/p/pybtex/pybtex-0.24.0.tar.gz
	sha256sums = 818eae35b61733e5c007c3fcd2cfb75ed1bc8b4173c1f70b56cc4c0802d34755

pkgname = python-pybtex
