pkgbase = ruby-rspec-core
	pkgdesc = RSpec runner and formatters
	pkgver = 3.13.1
	pkgrel = 3
	url = https://github.com/rspec/rspec-core
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	depends = ruby-erb
	depends = ruby-rspec-support
	noextract = rspec-core-3.13.1.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/rspec-core-3.13.1.gem
	sha512sums = c6b906fab43ece1145480331372094eb9c02059d8aa7903b22d9bca3e6f76f34e68cfcf3b40a64ff5b00b22e564d135f03c93934bc05cba9ec5d1b1cda0e2769

pkgname = ruby-rspec-core
