pkgbase = libcacard
	pkgdesc = (Common Access Card) library thar provides emulation of smart cards to a virtual card reader running in a guest virtual machine
	pkgver = 2.7.0
	pkgrel = 4
	url = https://gitlab.freedesktop.org/spice/libcacard
	arch = x86_64
	license = LGPL-2.1-or-later
	depends = glib2
	depends = glibc
	depends = nspr
	depends = nss
	source = https://www.spice-space.org/download/libcacard/libcacard-2.7.0.tar.xz
	source = https://www.spice-space.org/download/libcacard/libcacard-2.7.0.tar.xz.asc
	validpgpkeys = F7DC50A57DFD52B94253295EF64907AC15B5C33D
	sha1sums = 85b85d33e5f2c68f3a792f09cae21de64edc91c0
	sha1sums = SKIP
	sha512sums = 347c13396e6777193e4e158321605410f4cbd90727c1ba8d85a1aac41d5ada96728dbef367ed4027d16dd0b10c8a4d0cf902ce3345334be4c78994cf72c58352
	sha512sums = SKIP

pkgname = libcacard
