pkgbase = ruby-rbs
	pkgdesc = RBS is the language for type signatures for Ruby and standard library definitions
	pkgver = 3.4.4
	pkgrel = 1
	url = https://github.com/ruby/rbs
	arch = any
	license = custom:BSDL
	checkdepends = ruby-bundler
	checkdepends = ruby-rake
	checkdepends = ruby-rake-compiler
	checkdepends = ruby-rdoc
	checkdepends = ruby-test-unit
	depends = ruby
	options = !emptydirs
	source = https://github.com/ruby/rbs/archive/v3.4.4/ruby-rbs-3.4.4.tar.gz
	sha512sums = c6be887af1c89e7b9d8f01e248a24f571c189fc81f55d1625957434a3d1e74c5d23f9ba2089750cb742a82560165d9bab309cff8cdb6c9e455076051301c7dd4
	b2sums = 19b95e7b162714738c37d9d8f740d11e5e4694f6e2c7e9ba9f01c74d8d318d0b848251276e421a80d8a5680ed60fa510d04d4a57ac72d0c376f1e9cfef2fe773

pkgname = ruby-rbs
