pkgbase = python-starlette
	pkgdesc = The little ASGI framework that shines
	pkgver = 0.45.0
	pkgrel = 1
	url = https://github.com/encode/starlette
	arch = any
	license = BSD-3-Clause
	checkdepends = python-aiosqlite
	checkdepends = python-databases
	checkdepends = python-pytest
	checkdepends = python-trio
	checkdepends = python-itsdangerous
	checkdepends = python-jinja
	checkdepends = python-python-multipart
	checkdepends = python-pyyaml
	checkdepends = python-httpx
	checkdepends = python-sqlalchemy
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-wheel
	depends = python
	depends = python-anyio
	optdepends = python-itsdangerous: for session middleware support
	optdepends = python-jinja: for jinja templates
	optdepends = python-python-multipart: for form parsing
	optdepends = python-pyyaml: for schema generator
	optdepends = python-httpx: for test client
	source = starlette-0.45.0.tar.gz::https://github.com/encode/starlette/archive/0.45.0.tar.gz
	sha512sums = 9b949d110c2a83f29245ac442d83e7f7b856e6f95f5c0d4f0e8691c9976158c650bac05ccbebc3738e6735cbb1b54d6acabd5d1848d920a0ca91905f2ddcfc14
	b2sums = 5f482b255d0bfe88e0c8c882d4f49a792d14c6cef9237a28708cadab3880d0b77363827cec6aa371044974997ba44ba2eec4b3488775bb596ecfb58032a35e90

pkgname = python-starlette
