pkgbase = python-starlette
	pkgdesc = The little ASGI framework that shines
	pkgver = 0.46.1
	pkgrel = 1
	url = https://github.com/encode/starlette
	arch = any
	license = BSD-3-Clause
	checkdepends = python-aiosqlite
	checkdepends = python-databases
	checkdepends = python-pytest
	checkdepends = python-trio
	checkdepends = python-itsdangerous
	checkdepends = python-jinja
	checkdepends = python-python-multipart
	checkdepends = python-pyyaml
	checkdepends = python-httpx
	checkdepends = python-sqlalchemy
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-wheel
	depends = python
	depends = python-anyio
	optdepends = python-itsdangerous: for session middleware support
	optdepends = python-jinja: for jinja templates
	optdepends = python-python-multipart: for form parsing
	optdepends = python-pyyaml: for schema generator
	optdepends = python-httpx: for test client
	source = starlette-0.46.1.tar.gz::https://github.com/encode/starlette/archive/0.46.1.tar.gz
	sha512sums = c21fd87e48b206b1fa1d4eabab3838eccc49e73f5d8d2841860fa5e81e4da972c7952e7ae214ae8e5574aa069b508642db38c24fa24b35bf5c47329cb6a2c2e6
	b2sums = 8877f6733937a30463f573cfc8ed34a5950e3123bba5d332cbe0881f7fb5532d865a2d3c852238cc5a29ceb598154a1cac64031eb1cbaa0955b3f423b40c034e

pkgname = python-starlette
