pkgbase = python-validate-pyproject
	pkgdesc = Validation library and CLI tool for checking on 'pyproject.toml' files using JSON Schema
	pkgver = 0.24.1
	pkgrel = 3
	url = https://github.com/abravalheri/validate-pyproject
	arch = any
	license = MPL-2.0
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-fastjsonschema
	depends = python-packaging
	depends = python-trove-classifiers
	source = git+https://github.com/abravalheri/validate-pyproject.git#tag=v0.24.1
	source = python-validate-pyproject-fix-tests.patch
	b2sums = a8fd8e18c89da60e0f43cd88abddaf108dcb95c307dc4061a9a4a2bedc4101e79c9d9b65d6f1f816721fa8b27126ee3a326a4b403385d4b11ca86990ce1d1a50
	b2sums = fe7f25a0979b297b3a46a62f3507760e7afd83760928bdf8d68379a2a270f1e07bc1cd4365a6a93d51d28d0becf07376fe6a3bea6da137870bf4509b6a1d43c7

pkgname = python-validate-pyproject
