pkgbase = python-beautifulsoup4
	pkgdesc = A Python HTML/XML parser designed for quick turnaround projects like screen-scraping
	pkgver = 4.14.3
	pkgrel = 2
	url = https://www.crummy.com/software/BeautifulSoup/
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = python
	depends = python-soupsieve
	depends = python-typing_extensions
	optdepends = python-cchardet: alternative to autodetect character encodings
	optdepends = python-chardet: to autodetect character encodings
	optdepends = python-lxml: alternative HTML parser
	optdepends = python-html5lib: alternative HTML parser
	source = python-beautifulsoup4-4.14.3.tar.gz::https://www.crummy.com/software/BeautifulSoup/bs4/download/4.14/beautifulsoup4-4.14.3.tar.gz
	sha512sums = 5c535534045cac033112b7c060539d6b5a748620df9d15fb4c719708cde263ac506f3734a39156681633942543dc555af51c619dae430311a8889204d8ee325e
	b2sums = e5b32c33afefcfccfa952b55e800b903e5c65ed54704d39a28603b54a75508079c6cba8db425595fa2b47fa7cf07fa1172dbff4c13c3bc1cc0a705bc786dd1fd

pkgname = python-beautifulsoup4
