pkgbase = libp11
	pkgdesc = A library implementing a small layer on top of the PKCS11 API
	pkgver = 0.4.14
	pkgrel = 2
	url = https://github.com/OpenSC/libp11/wiki
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL-2.1-or-later
	depends = openssl
	source = https://github.com/OpenSC/libp11/releases/download/libp11-0.4.14/libp11-0.4.14.tar.gz
	source = https://github.com/OpenSC/libp11/releases/download/libp11-0.4.14/libp11-0.4.14.tar.gz.asc
	source = util-h.patch::https://github.com/OpenSC/libp11/commit/fd8cbb43e9d98764d3f3b861a435cd0441cb7a58.patch
	validpgpkeys = AC915EA30645D9D3D4DAE4FEB1048932DD3AAAA3
	sha256sums = 652ae2ac0732ec1eb998e8a99409eec6a00d5b47717f973b6bfb6c50f7a0ac60
	sha256sums = SKIP
	sha256sums = 6642ad35457ed74c52bba157632fb79b3bbafe5b804bfe260954830a60cb2e1a

pkgname = libp11
