pkgbase = kdevelop-php
	pkgdesc = PHP language and documentation plugin for KDevelop
	pkgver = 24.05.2
	pkgrel = 1
	url = http://www.kdevelop.org/
	arch = x86_64
	groups = kde-applications
	groups = kdevelop
	license = GPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = kdevelop-pg-qt
	makedepends = kdoctools
	depends = gcc-libs
	depends = glibc
	depends = kcmutils5
	depends = kconfig5
	depends = kconfigwidgets5
	depends = kcoreaddons5
	depends = kdevelop
	depends = ki18n5
	depends = kio5
	depends = ktexteditor5
	depends = kwidgetsaddons5
	depends = kxmlgui5
	depends = qt5-base
	depends = threadweaver5
	source = https://download.kde.org/stable/release-service/24.05.2/src/kdev-php-24.05.2.tar.xz
	source = https://download.kde.org/stable/release-service/24.05.2/src/kdev-php-24.05.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 74f3c4aa72444a68d1dd4c21e248d244f1256c6c28867306e767b501037afb68
	sha256sums = SKIP

pkgname = kdevelop-php
