pkgbase = xfce4-mount-plugin
	pkgdesc = Mount/umount utility for the Xfce4 panel
	pkgver = 1.1.6
	pkgrel = 2
	url = https://docs.xfce.org/panel-plugins/xfce4-mount-plugin
	arch = x86_64
	groups = xfce4-goodies
	license = GPL
	makedepends = intltool
	depends = xfce4-panel
	source = https://archive.xfce.org/src/panel-plugins/xfce4-mount-plugin/1.1/xfce4-mount-plugin-1.1.6.tar.bz2
	sha256sums = 8f663740866facae2882e55f7bb966ffe9c8a60362ad0764f31f085cb5904831

pkgname = xfce4-mount-plugin
