pkgbase = qt6-shadertools
	pkgdesc = Provides functionality for the shader pipeline that allows Qt Quick to operate on Vulkan, Metal, and Direct3D, in addition to OpenGL
	pkgver = 6.9.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	groups = qt6
	license = GPL-3.0-only
	license = LGPL-3.0-only
	license = LicenseRef-Qt-Commercial
	license = Qt-GPL-exception-1.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	source = git+https://code.qt.io/qt/qtshadertools#tag=v6.9.0
	sha256sums = f83ae240cc379b8eeec1b9fe79aa974c595db53a167c246493e64952c08c8744

pkgname = qt6-shadertools
