pkgbase = python-sqlalchemy
	pkgdesc = Python SQL toolkit and Object Relational Mapper
	pkgver = 2.0.31
	pkgrel = 2
	url = https://www.sqlalchemy.org/
	arch = x86_64
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = mypy
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = cython
	depends = glibc
	depends = python
	depends = python-greenlet
	depends = python-typing_extensions
	optdepends = python-psycopg2: connect to PostgreSQL database
	source = python-sqlalchemy-2.0.31.tar.gz::https://github.com/sqlalchemy/sqlalchemy/archive/refs/tags/rel_2_0_31.tar.gz
	sha512sums = 90693200c837d02feb6bb6f57b37895a8b6df6dcd0727118b1af5b5c5e89f5009916776eeddc049a872ac315c84a19925010581a3570622915f9059dc02e6b23

pkgname = python-sqlalchemy
