pkgbase = ruby-async-http
	pkgdesc = A HTTP client and server library
	pkgver = 0.92.1
	pkgrel = 1
	url = https://github.com/socketry/async-http
	arch = any
	license = MIT
	checkdepends = ruby-async-container
	checkdepends = ruby-bake
	checkdepends = ruby-bake-test
	checkdepends = ruby-bake-test-external
	checkdepends = ruby-bundler
	checkdepends = ruby-covered
	checkdepends = ruby-decode
	checkdepends = ruby-localhost
	checkdepends = ruby-rack-test
	checkdepends = ruby-sus
	checkdepends = ruby-sus-fixtures-async
	checkdepends = ruby-sus-fixtures-async-http
	checkdepends = ruby-sus-fixtures-benchmark
	checkdepends = ruby-sus-fixtures-openssl
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-async
	depends = ruby-async-pool
	depends = ruby-io-endpoint
	depends = ruby-io-stream
	depends = ruby-metrics
	depends = ruby-protocol-http
	depends = ruby-protocol-http1
	depends = ruby-protocol-http2
	depends = ruby-protocol-url
	depends = ruby-traces
	options = !emptydirs
	source = https://github.com/socketry/async-http/archive/v0.92.1/ruby-async-http-0.92.1.tar.gz
	sha512sums = e9f69afe6032c56f61c8f31984ccb0eda0a011e0b7d91ecbf2756127afb7e9ca07826a58ed7104082b5c515ffb5f7fbfd4c20a523ca3b6cd16be7ef6ab32da79
	b2sums = 636de1ff22980864fee461c7d417b0279462c209538cae0842fd410f4482f1b1e46f2f7321f0f7c8dfd7a329b02740d8bda252caff91539e094592f0c82308b7

pkgname = ruby-async-http
