pkgbase = python-marshmallow
	pkgdesc = A lightweight library for converting complex datatypes to and from native Python datatypes.
	pkgver = 3.23.0
	pkgrel = 1
	url = https://github.com/marshmallow-code/marshmallow
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-simplejson
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-flit-core
	depends = python-packaging
	source = git+https://github.com/marshmallow-code/marshmallow.git#tag=3.23.0
	sha512sums = 516e658a60648e7b7793735a443f82441d10efaaddbdc8ea03f7fb46f057884f414a693be2b858fc2baa5cb7845fda1b12887e14966a6fc65d9c24769be83d27

pkgname = python-marshmallow
