pkgbase = aha
	pkgdesc = Ansi HTML Adapter: convert ANSI escape sequences to HTML
	pkgver = 0.5.1
	pkgrel = 3
	url = https://github.com/theZiz/aha
	arch = x86_64
	license = MPL-1.1
	license = LGPL-2.0-or-later
	makedepends = git
	depends = glibc
	source = git+https://github.com/theZiz/aha#tag=0.5.1
	sha256sums = ca2576468fa5b7e34ec7d3e74e31444346eae5617f24f33859a1d21383d5e749

pkgname = aha
