pkgbase = akonadi
	pkgdesc = PIM layer, which provides an asynchronous API to access all kind of PIM data
	pkgver = 26.08.0
	pkgrel = 1.1
	url = https://kontact.kde.org
	install = akonadi.install
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = mariadb
	makedepends = postgresql
	makedepends = pyside6
	makedepends = python-build
	makedepends = python-setuptools
	makedepends = qt6-tools
	makedepends = shiboken6-generator
	depends = glibc
	depends = kcolorscheme
	depends = kconfig
	depends = kconfigwidgets
	depends = kcoreaddons
	depends = kcrash
	depends = ki18n
	depends = kiconthemes
	depends = kitemmodels
	depends = kwidgetsaddons
	depends = kxmlgui
	depends = libgcc
	depends = libstdc++
	depends = libxml2
	depends = qt6-base
	depends = xz
	optdepends = kirigami-addons: QML bindings
	optdepends = mariadb: MariaDB backend
	optdepends = postgresql: PostgreSQL backend
	optdepends = pyside6: Python bindings
	provides = libakonadi
	conflicts = libakonadi
	replaces = libakonadi
	source = https://download.kde.org/stable/release-service/26.08.0/src/akonadi-26.08.0.tar.xz
	source = https://download.kde.org/stable/release-service/26.08.0/src/akonadi-26.08.0.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 441ecb818ad39c1fbec95f2979e5447c24196d72ad74a7d08331a0e874f30114
	sha256sums = SKIP

pkgname = akonadi
