pkgbase = python-zope-proxy
	pkgdesc = Generic Transparent Proxies
	pkgver = 7.2
	pkgrel = 1
	url = https://github.com/zopefoundation/zope.proxy
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = ZPL-2.1
	checkdepends = python-zope-security
	checkdepends = python-zope-testrunner
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	depends = python-zope-interface
	source = git+https://github.com/zopefoundation/zope.proxy.git#tag=7.2
	sha512sums = bb26d9b08f72b7ab282f8b3e76acc62c906e52d8cace31a03fcf32afbebc279e7d7587f6415e8479222a4a2cc84f2f425489fdc8a58f2378f57408e14dea0cf5

pkgname = python-zope-proxy
