pkgbase = thunar
	pkgdesc = Modern, fast and easy-to-use file manager for Xfce
	pkgver = 4.20.1
	pkgrel = 1
	url = https://docs.xfce.org/xfce/thunar/start
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	groups = xfce4
	license = GPL-2.0-or-later
	license = LGPL-2.1-only
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = xfce4-panel
	makedepends = xfce4-dev-tools
	depends = desktop-file-utils
	depends = libexif
	depends = hicolor-icon-theme
	depends = libnotify
	depends = pcre2
	depends = libgudev
	depends = exo
	depends = libxfce4util
	depends = libxfce4ui
	depends = libpng
	optdepends = catfish: file searching
	optdepends = gvfs: trash support, mounting with udisk and remote filesystems
	optdepends = tumbler: thumbnail previews
	optdepends = thunar-volman: removable device management
	optdepends = thunar-archive-plugin: archive creation and extraction
	optdepends = thunar-media-tags-plugin: view/edit ID3/OGG tags
	source = git+https://gitlab.xfce.org/xfce/thunar.git#tag=thunar-4.20.1
	sha256sums = 5df14eef47158fcfe253fcb4eef4e64613847265ddb28fc368b56e92b6566a4c

pkgname = thunar
