pkgbase = xss-lock
	pkgdesc = Use external locker as X screen saver
	pkgver = 0.3.0.r27.g0c562bf
	pkgrel = 1
	url = https://github.com/wavexx/xss-lock
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = python-docutils
	depends = glib2
	depends = glibc
	depends = libxcb
	depends = xcb-util
	optdepends = bash-completion: for bash completion
	source = xss-lock::git+https://github.com/wavexx/xss-lock.git#commit=0c562bfa5d9073c6a47060ee06946aa39eff2fae
	b2sums = 7a9abca7870b96f951667030b64f9b0e8c596db4f8ae9c4ac809f8a24f1a74da187fce2f16bae61ed8734a20676cbc07b4414ffc487bbaac7346880b45931e6c

pkgname = xss-lock
