pkgbase = xss-lock
	pkgdesc = Use external locker as X screen saver
	pkgver = 0.3.0.r30.gac39fdc
	pkgrel = 1
	url = https://github.com/wavexx/xss-lock
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = python-docutils
	depends = bash
	depends = glib2
	depends = glibc
	depends = libxcb
	depends = xcb-util
	optdepends = bash-completion: for bash completion
	source = xss-lock::git+https://github.com/wavexx/xss-lock.git#commit=ac39fdc20f8051a2460e9af84dd8f3d761785a50
	b2sums = 23209af2f10e3f538ff49a507c54729433cf098434f8ee586187ed6496bed9f075cde7c7bc7d3a44a5780acde7ab28197ed76cc43a5222c22b44b6f328dd9530

pkgname = xss-lock
