pkgbase = xdp-tools
	pkgdesc = Utilities and example programs for use with XDP
	pkgver = 1.6.2
	pkgrel = 1
	url = https://github.com/xdp-project/xdp-tools
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	license = LGPL
	license = BSD2
	makedepends = clang
	makedepends = llvm
	makedepends = gcc
	makedepends = make
	makedepends = m4
	makedepends = pkgconfig
	makedepends = libpcap
	makedepends = zlib
	makedepends = bpf
	depends = libelf
	depends = linux-api-headers
	depends = libbpf
	options = !lto
	source = xdp-tools-1.6.2.tar.gz::https://github.com/xdp-project/xdp-tools/archive/refs/tags/v1.6.2.tar.gz
	sha512sums = dc6c1e43921969e349aabbe2ceb14fd77827c726f62603764562358779462db57cdd8bcc3328c5c65ac765187bc80bcc72f5dcd82189cc001dbc813506dd719c
	b2sums = f5b2706318aaee96a19257bf10dccf605c38e85cf8cf284ae04102a0507060a8fd65b000273eeff0eed6c3649bc8e84037c21da447496e7a10ce9bd45662126e

pkgname = xdp-tools
	pkgdesc = Utilities and example programs for use with XDP
	depends = libxdp
	depends = libpcap.so
	depends = libbpf

pkgname = libxdp
	pkgdesc = The libxdp package contains the libxdp library for managing XDP programs
	provides = libxdp.so
