pkgbase = xdp-tools
	pkgdesc = Utilities and example programs for use with XDP
	pkgver = 1.5.1
	pkgrel = 1
	url = https://github.com/xdp-project/xdp-tools
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = GPL
	license = LGPL
	license = BSD2
	makedepends = clang
	makedepends = llvm
	makedepends = gcc
	makedepends = make
	makedepends = m4
	makedepends = pkgconfig
	makedepends = libpcap
	makedepends = zlib
	makedepends = bpf
	depends = libelf
	depends = linux-api-headers
	depends = libbpf
	options = !lto
	source = xdp-tools-1.5.1.tar.gz::https://github.com/xdp-project/xdp-tools/archive/refs/tags/v1.5.1.tar.gz
	sha512sums = f919fbc3d17d587dd80b7ca914c68edc1425f1b078d69fb9f8a9ba0224861cba0db0607447d349e3e8595f59bbd4a231d6029281dd9cd3a64ca3934c7bb3bbe5
	b2sums = e98c8c1c72c48d57dbd7b1b2a1c671f82c648638969ffb1e14e021e59f8335298cf7ba26e235b1882109eb09a1421284423da4ca144126468934c64fec35c7e1

pkgname = xdp-tools
	pkgdesc = Utilities and example programs for use with XDP
	depends = libxdp
	depends = libpcap.so
	depends = libbpf

pkgname = libxdp
	pkgdesc = The libxdp package contains the libxdp library for managing XDP programs
	provides = libxdp.so
