pkgbase = python-cattrs
	pkgdesc = Complex custom class converters for attrs
	pkgver = 24.1.3
	pkgrel = 1
	url = https://catt.rs
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	depends = python
	depends = python-attrs
	source = https://files.pythonhosted.org/packages/source/c/cattrs/cattrs-24.1.3.tar.gz
	sha256sums = 981a6ef05875b5bb0c7fb68885546186d306f10f0f6718fe9b96c226e68821ff

pkgname = python-cattrs
