pkgbase = librsync
	pkgdesc = Library for calculating and applying network deltas
	pkgver = 2.3.4
	pkgrel = 2
	epoch = 1
	url = https://github.com/librsync/librsync
	arch = x86_64
	license = LGPL
	makedepends = cmake
	depends = popt
	provides = librsync.so
	source = https://github.com/librsync/librsync/archive/v2.3.4/librsync-2.3.4.tar.gz
	sha256sums = a0dedf9fff66d8e29e7c25d23c1f42beda2089fb4eac1b36e6acd8a29edfbd1f

pkgname = librsync
