pkgbase = libbluray
	pkgdesc = Library to access Blu-Ray disks for video playback
	pkgver = 1.3.4
	pkgrel = 2
	url = https://www.videolan.org/developers/libbluray.html
	arch = x86_64
	license = LGPL-2.1-only
	makedepends = apache-ant
	makedepends = git
	makedepends = java-environment=17
	depends = fontconfig
	depends = glibc
	depends = libfreetype.so
	depends = libxml2
	optdepends = java-runtime: BD-J library
	provides = libbluray.so
	source = git+https://code.videolan.org/videolan/libbluray.git#tag=bb5bc108ec695889855f06df338958004ff289ef
	source = git+https://code.videolan.org/videolan/libudfread.git
	b2sums = SKIP
	b2sums = SKIP

pkgname = libbluray
