pkgbase = ruby-rspec-expectations
	pkgdesc = Provides a readable API to express expected outcomes of a code example
	pkgver = 3.13.5
	pkgrel = 1
	url = https://github.com/rspec/rspec
	arch = any
	license = MIT
	checkdepends = ruby-bigdecimal
	checkdepends = ruby-bundler
	checkdepends = ruby-childprocess
	checkdepends = ruby-diff-lcs
	checkdepends = ruby-drb
	checkdepends = ruby-ffi
	checkdepends = ruby-minitest
	checkdepends = ruby-mutex_m
	checkdepends = ruby-rake
	checkdepends = ruby-rspec
	checkdepends = ruby-rspec-core
	checkdepends = ruby-rspec-expectations
	checkdepends = ruby-rspec-mocks
	checkdepends = ruby-test-unit
	checkdepends = ruby-thread_order
	makedepends = git
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-diff-lcs
	depends = ruby-rspec-support
	options = !emptydirs
	source = ruby-rspec-expectations::git+https://github.com/rspec/rspec#tag=rspec-expectations-v3.13.5
	source = ruby-rspec-expectations_no_version_constraints.patch
	sha512sums = a08d4181f7bd92f0bc7576fc8143ba782720ae95e58984918b9618d515a868d5627172006879903ed7efdc0bbcff56efe0a4073778d08f942fcef756f52e2b61
	sha512sums = 652fa6198074b297f49ca72d6c8a90d1f7623a6b24d59ab243fa9e7fd265458f39de78c480886c4da7643f7fc4308b75ab17a785716a1fe78d12a65d0f9146e5
	b2sums = 71acfe6a50daa401325e25eb818d16a3307b6265fa6009f6a64938f99c1c0eddbe7554f18d4df941ef7a393e69361aac46096d66091fded4cb547c818c688f1f
	b2sums = a6f7deeb30e30a510f04f338f2d70b2fc88de18e3c413c4846348a6f7b686982d4367b87f1b28a0355885f0cc1ab651a24f50e1a5d0f23e8ace74b2beec7a8ce

pkgname = ruby-rspec-expectations
