pkgbase = ruby-rspec-expectations
	pkgdesc = Provides a readable API to express expected outcomes of a code example
	pkgver = 3.13.3
	pkgrel = 3
	url = https://github.com/rspec/rspec-expectations
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-diff-lcs
	depends = ruby-rspec-support
	noextract = rspec-expectations-3.13.3.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/rspec-expectations-3.13.3.gem
	sha512sums = 887d378bccf08f8f42dd3b580dc67dac0d91b7e08a23ab924bd8d618fae2f37132048b473a288a9f1c40096271e4312c28fc91383a074eda53d62939bb8c58fe

pkgname = ruby-rspec-expectations
