pkgbase = spglib
	pkgdesc = C library for finding and handling crystal symmetries
	pkgver = 2.5.0
	pkgrel = 1
	url = https://spglib.readthedocs.io/en/latest/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = gcc-fortran
	makedepends = git
	makedepends = gtest
	makedepends = python
	makedepends = python-numpy
	depends = glibc
	optdepends = gcc-libs: Fortran interface
	optdepends = python-numpy: Python interface
	source = git+https://github.com/spglib/spglib#tag=v2.5.0
	sha256sums = 8d4da6ebdf02a78de85e2d52c6829ec93dcad0fcd6d7892f94820ff80da01ebf

pkgname = spglib
