pkgbase = spglib
	pkgdesc = C library for finding and handling crystal symmetries
	pkgver = 2.5.0
	pkgrel = 2
	url = https://spglib.readthedocs.io/en/latest/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = gcc-fortran
	makedepends = git
	makedepends = gtest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-numpy
	makedepends = python-scikit-build-core
	makedepends = python-setuptools-scm
	depends = glibc
	optdepends = gcc-libs: Fortran interface
	optdepends = python-numpy: Python interface
	source = git+https://github.com/spglib/spglib#tag=v2.5.0
	sha256sums = 570b46d69e46d17dc0e8bc35c358df36334a8b08977791ee00cb9e48b31932b0

pkgname = spglib
