pkgbase = lxmusic
	pkgdesc = Lightweight music player (XMMS2 client)
	pkgver = 0.4.7
	pkgrel = 8
	url = https://lxde.org/
	arch = x86_64
	groups = lxde
	license = GPL2
	makedepends = intltool
	depends = gtk3
	depends = libnotify
	depends = xmms2
	replaces = lxmusic-gtk3
	source = https://downloads.sourceforge.net/lxde/lxmusic-0.4.7.tar.xz
	source = lxmusic.appdata.xml
	source = 0001-Use-themed-icon.patch
	sha256sums = 4933987338eb6e8c77d63b14cea5a8886146e75acbc38a21438c6c3f47bc06ba
	sha256sums = 0093885fe76bda60a1b319970bd8d148903a3adb674690d3d9cf9262e053b05b
	sha256sums = 9cd869db22ac71c01e90365d9252b72bde64ec9f0a0bad8fecc32319da0a99fe

pkgname = lxmusic
