pkgbase = time
	pkgdesc = Utility for monitoring a program's use of system resources
	pkgver = 1.9
	pkgrel = 5
	url = https://www.gnu.org/software/time/
	arch = x86_64
	license = GPL
	depends = glibc
	source = https://ftp.gnu.org/gnu/time/time-1.9.tar.gz
	source = https://ftp.gnu.org/gnu/time/time-1.9.tar.gz.sig
	validpgpkeys = F576AAAC1B0FF849792D8CB129A794FD2272BC86
	sha256sums = fbacf0c81e62429df3e33bda4cee38756604f18e01d977338e23306a3e3b521e
	sha256sums = SKIP

pkgname = time
