pkgbase = libcpuid
	pkgdesc = A small C library for x86 CPU detection and feature extraction
	pkgver = 0.8.0
	pkgrel = 1
	url = http://libcpuid.sourceforge.net
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = BSD-2-Clause
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = doxygen
	makedepends = python
	makedepends = graphviz
	depends = glibc
	provides = libcpuid.so
	source = libcpuid::git+https://github.com/anrieff/libcpuid#tag=v0.8.0
	sha512sums = ee68d9cfd4abdacf0cc877ac8ba8d53a35e214442941376242b550a27cb9decdab5c5435afad046b794a9044352ec34e89169e4d0c1b4005056d5873ccad8ef1
	b2sums = 914f68825e9bd0ca6fd13ed911e94bdabd76da1fba3c6c85b1372b0d4734574b44627e74a7cd35c1fa0369e1f36c3aef0c1f4f2231d61e1921b6e274ed28fe06

pkgname = libcpuid
