pkgbase = libcpuid
	pkgdesc = A small C library for x86 CPU detection and feature extraction
	pkgver = 0.6.5
	pkgrel = 1
	url = http://libcpuid.sourceforge.net
	arch = x86_64
	license = BSD-2-Clause
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = doxygen
	makedepends = python
	makedepends = graphviz
	depends = glibc
	provides = libcpuid.so
	source = libcpuid::git+https://github.com/anrieff/libcpuid#tag=v0.6.5
	sha512sums = db7ae4ab7f35335d32727bcb6cb3a6dac030021015695448e7dd4fac4ae126bbe1b6280a15141f11cf3afba18a922b078a000658cc19836ec84b34a5fb04f065
	b2sums = 307266aaa9d9ab57e489a066507b2ecab6ac93bba3fed3446d9ac8b7b3a51d1920469a9d95dfed4f15a59f005936124c7054df746a535ad8cb0cb52bc6749a4c

pkgname = libcpuid
