pkgbase = tde-amarok
	pkgdesc = TDE Amarok
	pkgver = 14.1.4
	pkgrel = 2
	url = https://scm.trinitydesktop.org/scm/git/amarok
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	groups = tde-extra
	license = GPL
	makedepends = tde-cmake-trinity
	makedepends = tde-akode
	makedepends = ruby
	makedepends = libmtp
	makedepends = libvisual
	makedepends = sdl
	depends = tde-tdebase
	depends = taglib
	depends = xine-lib
	provides = amarok
	conflicts = trinity-amarok
	conflicts = kdemod3-amarok
	replaces = trinity-amarok
	options = staticlibs
	options = libtool
	options = !emptydirs
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.4/main/applications/multimedia/amarok-trinity-14.1.4.tar.xz
	sha256sums = 45ad677a30481b064926f95710281683340ebbcf1f56e88bcca2ea328b3bf4df

pkgname = tde-amarok
