pkgbase = python-testfixtures
	pkgdesc = A collection of helpers and mock objects that are useful when writing unit tests or doc tests
	pkgver = 11.0.0
	pkgrel = 1
	url = https://github.com/Simplistix/testfixtures
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-zope-component
	checkdepends = python-sybil
	checkdepends = python-pytest-django
	checkdepends = python-django
	checkdepends = python-twisted
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = python
	source = git+https://github.com/Simplistix/testfixtures.git#tag=11.0.0
	sha512sums = 1af257192af44de7196e55deded514663f5f00e26c4305c1b7ff47f7de126825f256a60a8690bd4c7d48758bf19eb50e653475cf9dfe2037399f22a7a601befb

pkgname = python-testfixtures
