pkgbase = python-testtools
	pkgdesc = Extensions to the Python standard library unit testing framework
	pkgver = 2.8.0
	pkgrel = 3
	url = https://github.com/testing-cabal/testtools
	arch = any
	license = MIT
	checkdepends = python-testscenarios
	checkdepends = python-testresources
	checkdepends = python-fixtures
	checkdepends = python-twisted
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python-setuptools
	source = git+https://github.com/testing-cabal/testtools.git#tag=2.8.0
	sha512sums = eb96549542b937dd9079b5dc241b45d46b3b458c1a9f4692b3b44f14d7935da8c22efe5c29984198e77196d43cb40938195eaf0321d2c1626809dc2ebc32ab27

pkgname = python-testtools
