pkgbase = ruby-ruby-progressbar
	pkgdesc = Flexible text progress bar library for Ruby
	pkgver = 1.13.0
	pkgrel = 4
	url = https://github.com/jfelchner/ruby-progressbar
	arch = any
	license = MIT
	depends = ruby
	options = !emptydirs
	source = https://github.com/jfelchner/ruby-progressbar/archive/releases/v1.13.0/ruby-progressbar-1.13.0.tar.gz
	sha512sums = 64723422d6216f2640bc60c8068c8d0437fbc5f315343b13c3167130d868a0aa978f098554ace3ea71406688c0b3c0ed94296adc6b9229ea14df5dbcb56322a3

pkgname = ruby-ruby-progressbar
