pkgbase = mold
	pkgdesc = A Modern Linker
	pkgver = 2.34.1
	pkgrel = 1
	url = https://github.com/rui314/mold
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = MIT
	checkdepends = clang
	checkdepends = libdwarf
	makedepends = git
	makedepends = python
	makedepends = cmake
	makedepends = mold
	depends = glibc
	depends = gcc-libs
	depends = mimalloc
	depends = zlib
	depends = tbb
	depends = zstd
	options = !debug
	options = !distcc
	source = mold::git+https://github.com/rui314/mold.git#tag=v2.34.1
	b2sums = 5914d23a851c2e2173c20124f256104720da7f1a96f1e3509d4c725215e4b928de614ee5a678ff3bd67aac0189f534b269fb9854381e157d222ac3970572b634

pkgname = mold
