pkgbase = fluidsynth
	pkgdesc = A real-time software synthesizer based on the SoundFont 2 specifications
	pkgver = 2.4.5
	pkgrel = 3
	url = https://www.fluidsynth.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	groups = pro-audio
	license = LGPL-2.1-or-later
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = dbus
	makedepends = doxygen
	makedepends = glib2
	makedepends = jack
	makedepends = ladspa
	makedepends = libinstpatch
	makedepends = libpipewire
	makedepends = libpulse
	makedepends = libsndfile
	makedepends = portaudio
	makedepends = readline
	makedepends = systemd-libs
	depends = gcc-libs
	depends = glibc
	depends = sdl3
	provides = libfluidsynth.so
	provides = soundfont-synthesizer
	backup = etc/conf.d/fluidsynth
	source = fluidsynth-2.4.5.tar.gz::https://github.com/fluidsynth/fluidsynth/archive/v2.4.5.tar.gz
	sha512sums = cf41eb338fccaafaa6961b8ca9eec6e8f0e35d25ec8f1d6f621fc73bd4b43b301dfe027db4252424118d1772568b949542820777a74b651a3f32c5028a34ed61
	b2sums = 5f20b1fbe9f01ab2f02746a285be66382a30eaea163be2df676a7ec79f436b6b3dc74fbe454e813e248fe5564a24c590afe6a26817641cbcc9c92d22bb38734a

pkgname = fluidsynth
	depends = gcc-libs
	depends = glibc
	depends = sdl3
	depends = alsa-lib
	depends = libasound.so
	depends = dbus
	depends = libdbus-1.so
	depends = glib2
	depends = libglib-2.0.so
	depends = libgmodule-2.0.so
	depends = libgobject-2.0.so
	depends = jack
	depends = libjack.so
	depends = libinstpatch
	depends = libinstpatch-1.0.so
	depends = libpipewire
	depends = libpipewire-0.3.so
	depends = libpulse
	depends = libpulse-simple.so
	depends = libsndfile
	depends = libsndfile.so
	depends = portaudio
	depends = libportaudio.so
	depends = readline
	depends = libreadline.so
	depends = systemd-libs
	depends = libsystemd.so
