pkgbase = libde265
	pkgdesc = Open h.265 video codec implementation
	pkgver = 1.0.18
	pkgrel = 1
	url = https://github.com/strukturag/libde265
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL-3.0-or-later
	makedepends = cmake
	makedepends = git
	makedepends = sdl2-compat
	depends = glibc
	depends = libgcc
	depends = libstdc++
	optdepends = sdl2-compat: for the decoder tool
	source = git+https://github.com/strukturag/libde265#tag=v1.0.18
	sha256sums = 4794e574bde26e8e1dbe7e08bc1176e714056ba134e0987e2cc84d9a882b6e15

pkgname = libde265
