pkgbase = babl
	pkgdesc = Dynamic, any to any, pixel format conversion library
	pkgver = 0.1.108
	pkgrel = 1.1
	url = https://gegl.org/babl/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = LGPL-3.0-or-later
	makedepends = git
	makedepends = meson
	makedepends = gobject-introspection
	makedepends = vala
	makedepends = gi-docgen
	depends = glibc
	depends = lcms2
	source = git+https://gitlab.gnome.org/GNOME/babl.git#tag=21fbe9f353ade07ea6af71d8562fcb6b6912110e
	sha256sums = SKIP

pkgname = babl
