pkgbase = python-pytest-run-parallel
	pkgdesc = A simple pytest plugin to run tests concurrently
	pkgver = 0.8.2
	pkgrel = 1
	url = https://github.com/Quansight-Labs/pytest-run-parallel
	arch = any
	license = MIT
	checkdepends = python-hypothesis
	checkdepends = python-pytest-order
	checkdepends = python-pytest-xdist
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-pytest
	optdepends = python-psutil: for identifying the number of available cores
	source = git+https://github.com/Quansight-Labs/pytest-run-parallel.git#tag=v0.8.2
	sha512sums = 3d5972aa18553d1abca73e9c4fdd2b307f380cbad8def1e8be3f6ace85dc0ad8d83b2132d2f2540fa316ebea9bb8d08175d0719592e91c648fe31b5b4e7451c1
	b2sums = d2e07e1bd1e2c25c132717d2c596f9eb8366efbb2f597dff5ff8f049412e81d48206db210ee3c484e61c83c8d2174bafc1a991f21455d2dcb12eb0651858cff0

pkgname = python-pytest-run-parallel
