pkgbase = python-typing-inspection
	pkgdesc = Runtime typing introspection tools
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/pydantic/typing-inspection
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python
	depends = python-typing_extensions
	source = git+https://github.com/pydantic/typing-inspection#tag=v0.4.0
	sha512sums = 9b1691c3419fcc6b106316fdb0db01c41b4fb4488a427ad0528a7e3b70383e95cf8ec71a0cf45405d23bec96e912235fe2818c3ec39dfdf2d86110ba11c6d240
	b2sums = e66bf911076b031c8650e56dfa2a775d19dc99712389e8b69d772fa279de9781e0105cadf651c3c7ba0a40b88ed7651a85922b7ebe835741e9b6efbb6abc2464

pkgname = python-typing-inspection
