pkgbase = python-typing-inspection
	pkgdesc = Runtime typing introspection tools
	pkgver = 0.4.1
	pkgrel = 1
	url = https://github.com/pydantic/typing-inspection
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python
	depends = python-typing_extensions
	source = git+https://github.com/pydantic/typing-inspection#tag=v0.4.1
	sha512sums = 94ea2d05786ab4c15a999fbbb117ed0dd04cfc52683fb766e01c63b9557cc0b7c37df8510941621ec212fce8fb9e41af644b2d24ab64bdb6cae1adade84efc00
	b2sums = 597f85b24287e0953f389f4ec3415dc0070f0936b5b0be2576a82fbbcd0695834c856f0b3463d135fc497f5a83cb32096025706e8e24a4f46e9fcd9937826cc1

pkgname = python-typing-inspection
