pkgbase = virt-manager
	pkgver = 5.0.0
	pkgrel = 1
	url = https://virt-manager.org/
	arch = any
	license = GPL-2.0-only
	makedepends = git
	makedepends = gtk-update-icon-cache
	makedepends = meson
	makedepends = python-docutils
	makedepends = python-pycodestyle
	makedepends = python-pylint
	makedepends = python-pytest
	makedepends = python-setuptools
	optdepends = x11-ssh-askpass: provide password for remote machines connected via ssh tunnel
	source = git+https://github.com/virt-manager/virt-manager.git#tag=v5.0.0
	b2sums = 84564af1193f10cf530e9dd0adfc6b29b39eccf92f6ffc35550cc9fd4a9390f34e661b9dca6d89015c84beaac0d588d454a4ec942bc64859f4d50756f12f0c47

pkgname = virt-install
	pkgdesc = Command line tool for creating new KVM , Xen, or Linux container guests using the libvirt hypervisor
	depends = cpio
	depends = libisoburn
	depends = libosinfo
	depends = libvirt-python
	depends = python-gobject
	depends = python-requests

pkgname = virt-manager
	pkgdesc = Desktop user interface for managing virtual machines
	depends = virt-install=5.0.0
	depends = gtk-update-icon-cache
	depends = gtk-vnc
	depends = libvirt-glib
	depends = spice-gtk
	depends = vte3
	depends = python-cairo
	depends = gtksourceview4
