pkgbase = python-certifi
	pkgdesc = Python package for providing Mozilla's CA Bundle (using system CA store)
	pkgver = 2025.08.03
	pkgrel = 1
	url = https://github.com/certifi/python-certifi
	arch = any
	license = MPL-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = ca-certificates
	depends = python
	source = https://github.com/certifi/python-certifi/archive/2025.08.03/python-certifi-2025.08.03.tar.gz
	sha512sums = 9b39d5c72dc74322a06d37f18f678cab16d753cc6ff845c42ed55b01fbf5547fc8753da36436b9aef21245f1fd8c9c5f164e451f120c0b6aa8e883572b55f906
	b2sums = c4d6e090e017783349d8617ade0a40d145fcb39f3323d77807f036c10cb7a4ba4d059b0749dd59d7881633873d88947f63adb527b2aa9853997d7723909ddf88

pkgname = python-certifi
