pkgbase = python-certifi
	pkgdesc = Python package for providing Mozilla's CA Bundle (using system CA store)
	pkgver = 2026.02.25
	pkgrel = 1
	url = https://github.com/certifi/python-certifi
	arch = any
	license = MPL-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = ca-certificates
	depends = python
	source = https://github.com/certifi/python-certifi/archive/2026.02.25/python-certifi-2026.02.25.tar.gz
	sha512sums = 8109e9d647680f58f536f037e776e36701556e80c45750da296a77fa3218b57d9c51144c0bf70eb79908d15fbaea61c87f80a26f10f6341474ebd1fe7fbf7dad
	b2sums = 399a659e5e49a4e286b9d4cc9305f1d2789d3b823b199466da7ca9b7c5615b0cd63f8d73f98a2c2a9169d2931f754189c803d960f3f304f955b7bb31569eaf26

pkgname = python-certifi
