pkgbase = recode
	pkgdesc = Converts files between various character sets and usages
	pkgver = 3.7.15
	pkgrel = 1
	url = https://github.com/rrthomas/recode
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	license = GPL3
	license = LGPL3
	makedepends = python
	makedepends = help2man
	depends = glibc
	source = https://github.com/rrthomas/recode/releases/download/v3.7.15/recode-3.7.15.tar.gz
	sha256sums = f590407fc51badb351973fc1333ee33111f05ec83a8f954fd8cf0c5e30439806

pkgname = recode
