pkgbase = python-tempora
	pkgdesc = Objects and routines pertaining to date and time (tempora).
	pkgver = 5.7.0
	pkgrel = 2
	url = https://github.com/jaraco/tempora
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-freezer
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-dateutil
	depends = python-jaraco.functools
	source = python-tempora-5.7.0.tar.gz::https://github.com/jaraco/tempora/archive/v5.7.0.tar.gz
	sha512sums = 9a248e3378ac0231a8dbf8200474694f19aa3842ae465b47301311852afe1854e143064bdc36d8b887524f4c6e6c3f929efe49f66cc9a3a777d0eeb13c7f013c

pkgname = python-tempora
