pkgbase = mesa-demos
	pkgver = 9.0.0
	pkgrel = 4.1
	url = https://www.mesa3d.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = MIT
	makedepends = meson
	makedepends = mesa
	makedepends = libxkbcommon-x11
	makedepends = libdecor
	makedepends = glu
	makedepends = freeglut
	makedepends = glslang
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = wayland-protocols
	source = https://mesa.freedesktop.org/archive/demos/mesa-demos-9.0.0.tar.xz
	source = https://mesa.freedesktop.org/archive/demos/mesa-demos-9.0.0.tar.xz.sig
	source = mesa-demos-system-data.patch
	source = LICENSE
	validpgpkeys = FF4CF638C624C3CF21ED2CF227EF763A2AA39F96
	sha512sums = af33ef72a521416e39d93370b2b4ccb768f08084c9e4c0aa62868210d9465c858e5cb8e5d23952295a3073946f609eb8723ee60b39dd9fb6696c4e45aafbb2c1
	sha512sums = SKIP
	sha512sums = ef76456547725db1eb5f73508be227551f718d02ec09823ad1ff1abe445f791e34e09bd96a2ae8b3c0b9470ed375d133d2ec634cfe97ec04579d130957404126
	sha512sums = 25da77914dded10c1f432ebcbf29941124138824ceecaf1367b3deedafaecabc082d463abcfa3d15abff59f177491472b505bcb5ba0c4a51bb6b93b4721a23c2

pkgname = mesa-demos
	pkgdesc = Mesa demos
	install = mesa-demos.install
	depends = libgl
	depends = glu
	depends = freeglut
	depends = libxext
	depends = libx11
	depends = glibc

pkgname = mesa-utils
	pkgdesc = Essential Mesa utilities
	depends = libgl
	depends = libdecor
	depends = libxkbcommon-x11
	depends = vulkan-icd-loader
	depends = libxcb
	depends = wayland
	depends = libdrm
	depends = libx11
	depends = libxkbcommon
	depends = glibc
	provides = glxinfo
	provides = glxgears
	provides = eglinfo
	provides = eglgears
	provides = es2info
	provides = es2gears
