pkgbase = xorg-xpr
	pkgdesc = Print an X window dump from xwd
	pkgver = 1.2.0
	pkgrel = 1.1
	url = https://gitlab.freedesktop.org/xorg/app/xpr
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = xorg-apps
	groups = xorg
	license = MIT
	makedepends = xorg-util-macros
	depends = libx11
	depends = libxmu
	depends = glibc
	depends = sh
	source = https://xorg.freedesktop.org/archive/individual/app/xpr-1.2.0.tar.xz
	source = https://xorg.freedesktop.org/archive/individual/app/xpr-1.2.0.tar.xz.sig
	validpgpkeys = 4A193C06D35E7C670FA4EF0BA2FB9E081F2D130E
	sha512sums = 49538a757aa60e754ecd39273510a6e49ebb77b730be62e3fa60f00261c9c1e208d39e1ca3c61889a5ad7fc7c2255fa1f669fd19ecf98e18cb8aa9189cadc15d
	sha512sums = SKIP

pkgname = xorg-xpr
