pkgbase = wireplumber
	pkgdesc = Session / policy manager implementation for PipeWire
	pkgver = 0.5.13
	pkgrel = 2
	url = https://pipewire.pages.freedesktop.org/wireplumber/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	checkdepends = pipewire-audio
	makedepends = doxygen
	makedepends = gcc-libs
	makedepends = git
	makedepends = glib2
	makedepends = glib2-devel
	makedepends = glibc
	makedepends = gobject-introspection
	makedepends = graphviz
	makedepends = libpipewire
	makedepends = lua
	makedepends = meson
	makedepends = pipewire
	makedepends = python-breathe
	makedepends = python-lxml
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = systemd
	makedepends = systemd-libs
	source = git+https://gitlab.freedesktop.org/pipewire/wireplumber.git#tag=0.5.13
	b2sums = 3b4b3c1b8fd00ff7ed149fa893c4d467a2605d3eb5ef8c8c3e265bd20438db58464d5ede4f8deabb48f2200fca5616d8511e022c0c6497062b15cbdbae97c83e

pkgname = wireplumber
	install = wireplumber.install
	depends = libwireplumber=0.5.13-2
	depends = gcc-libs
	depends = glibc
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = libpipewire
	depends = libpipewire-0.3.so
	depends = libsystemd.so
	depends = lua
	depends = pipewire
	depends = systemd-libs
	optdepends = wireplumber-docs: Documentation
	provides = pipewire-session-manager
	conflicts = pipewire-media-session

pkgname = libwireplumber
	pkgdesc = Session / policy manager implementation for PipeWire - client library
	depends = gcc-libs
	depends = glibc
	depends = libglib-2.0.so
	depends = libgmodule-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = libpipewire-0.3.so
	provides = libwireplumber-0.5.so

pkgname = wireplumber-docs
	pkgdesc = Session / policy manager implementation for PipeWire - documentation
