pkgbase = kfilemetadata
	pkgdesc = A library for extracting file metadata
	pkgver = 6.4.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf6
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = catdoc
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = kdegraphics-mobipocket
	makedepends = libappimage
	makedepends = qt6-doc
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = ebook-tools
	depends = exiv2
	depends = ffmpeg
	depends = karchive
	depends = kcodecs
	depends = kconfig
	depends = kcoreaddons
	depends = ki18n
	depends = poppler-qt6
	depends = qt6-base
	depends = taglib
	optdepends = catdoc: Extract text from Office 98 files
	optdepends = kdegraphics-mobipocket: MOBI extractor
	optdepends = libappimage: AppImage extractor
	source = https://download.kde.org/stable/frameworks/6.4/kfilemetadata-6.4.0.tar.xz
	source = https://download.kde.org/stable/frameworks/6.4/kfilemetadata-6.4.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 90A968ACA84537CC27B99EAF2C8DF587A6D4AAC1
	sha256sums = 45ff433054be4c5ef14a2aa842373c0679d632aacfdb78dfba989f7388c4c5ed
	sha256sums = SKIP

pkgname = kfilemetadata
