pkgbase = python-annotated-doc
	pkgdesc = Document parameters, class attributes, return types, and variables inline, with Annotated
	pkgver = 0.0.4
	pkgrel = 2
	url = https://github.com/fastapi/annotated-doc
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-typing_extensions
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-pdm-backend
	depends = python
	source = annotated-doc-0.0.4.tar.gz::https://github.com/fastapi/annotated-doc/archive/0.0.4.tar.gz
	sha256sums = f23767d1df005c26f25a1fc203d89b5d46b75a120227c97dd1094d1e16733336

pkgname = python-annotated-doc
