pkgbase = python-h2
	pkgdesc = HTTP/2 State-Machine based protocol implementation
	pkgver = 4.2.0
	pkgrel = 1
	url = https://hyper.rtfd.org
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-hypothesis
	makedepends = git
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-hpack
	depends = python-hyperframe
	source = git+https://github.com/python-hyper/h2.git#tag=v4.2.0
	sha512sums = 7b3407653b0bf51b462080a425697e65c06fdc39e8b0da418a7a136bf1b6e77f11fdce219236d2eaaf8374e80645352cee7ff3d82477fe6eee08388e19cd8a78

pkgname = python-h2
