pkgbase = xfce4-panel
	pkgdesc = Panel for the Xfce desktop environment
	pkgver = 4.20.0
	pkgrel = 4
	url = https://docs.xfce.org/xfce/xfce4-panel/start
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	groups = xfce4
	license = LGPL-2.1-only
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = vala
	makedepends = xfce4-dev-tools
	depends = exo
	depends = garcon
	depends = gtk-layer-shell
	depends = libxfce4ui
	depends = xfconf
	depends = libwnck3
	depends = libdbusmenu-gtk3
	depends = libxfce4windowing
	depends = hicolor-icon-theme
	depends = desktop-file-utils
	source = git+https://gitlab.xfce.org/xfce/xfce4-panel.git#tag=xfce4-panel-4.20.0
	sha256sums = ca75fc229f2fdf6baef4b5e452643a3291d6dd1904ee14a4c567e55922644dbc

pkgname = xfce4-panel
