pkgbase = python-urwid
	pkgdesc = Curses-based user interface library
	pkgver = 4.1.7
	pkgrel = 1
	url = https://urwid.org/
	arch = x86_64
	arch = powerpc
	arch = powerpc64
	arch = powerpc64le
	arch = espresso
	license = LGPL-2.1-only
	checkdepends = python-gobject
	checkdepends = python-pytest
	checkdepends = python-pyzmq
	checkdepends = python-tornado
	checkdepends = python-trio
	checkdepends = python-twisted
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = glib2
	depends = python
	depends = python-typing_extensions
	depends = python-wcwidth
	optdepends = python-gobject: for gobject integration
	optdepends = python-pyserial: for LCD and serial integration
	optdepends = python-pyzmq: for zmq integration
	optdepends = python-tornado: for tornado integration
	optdepends = python-trio: for trio integration
	optdepends = python-twisted: for twisted integration
	source = git+https://github.com/urwid/urwid.git#tag=4.1.7
	sha512sums = 3039451b3c0e7795147578abc47190d684727ce7ebb2e243cbd0cd98947df57d60e94af76ef43d3efb9056b3410b750fd22ee4b740884a9636292ca99d338fea
	b2sums = 07be32acaa7808e65b57451ef5f0630ab638bd620c8702d01cb7d461eb4d3717078f5e0c0cb8cf951ba0a7b9e593e003a34113e91855c3463963053d25098133

pkgname = python-urwid
