pkgbase = python-urwid
	pkgdesc = Curses-based user interface library
	pkgver = 2.6.15
	pkgrel = 2
	url = https://urwid.org/
	arch = x86_64
	arch = powerpc
	arch = powerpc64
	arch = powerpc64le
	arch = riscv64
	license = LGPL-2.1-only
	checkdepends = python-pytest
	checkdepends = python-twisted
	checkdepends = python-tornado
	checkdepends = python-trio
	checkdepends = python-pyzmq
	checkdepends = python-gobject
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = glibc
	depends = python
	depends = python-typing_extensions
	depends = python-wcwidth
	optdepends = python-gobject: for gobject integration
	optdepends = python-pyserial: for LCD and serial integration
	optdepends = python-pyzmq: for zmq integration
	optdepends = python-tornado: for tornado integration
	optdepends = python-trio: for trio integration
	optdepends = python-twisted: for twisted integration
	source = urwid-2.6.15.tar.gz::https://github.com/urwid/urwid/archive/refs/tags/2.6.15.tar.gz
	sha512sums = 03d6de4d406da2b7ebd65f1ea51b915e13138da68bff9f80eb3498437d0e76a09000b441054624b1b8d1d38de89469428faae239314a41c7f143f85e5ab8648d
	b2sums = 6313f1a2e641828d05467de7bc6394f236586bcb6f62db16516b4daaeeff62f75e7c50389ddef6ab68b57ff3dae99d10d70a76684a6f23dd653fc753efc429a0

pkgname = python-urwid
