pkgbase = nanobind
	pkgdesc = Tiny and efficient C++/Python bindings
	pkgver = 2.8.0
	pkgrel = 1
	url = https://github.com/wjakob/nanobind
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	checkdepends = python-scipy
	checkdepends = python-tensorflow
	checkdepends = python-tests
	makedepends = cmake
	makedepends = eigen
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-scikit-build-core
	makedepends = python-wheel
	depends = python
	source = nanobind-2.8.0::git+https://github.com/wjakob/nanobind.git#tag=v2.8.0
	source = git+https://github.com/Tessil/robin-map.git
	sha512sums = 1126c6672422ac2adcb59be6b97c8246cda6143f758abd2965388361300c689f8ceba42a24862cc2600558c5d59f9d28a928780dea2d247fd78306798f4f7692
	sha512sums = SKIP

pkgname = nanobind
