pkgbase = python-bottle
	pkgdesc = A fast and simple micro-framework for small web-applications
	pkgver = 0.13.0
	pkgrel = 1
	url = https://bottlepy.org
	arch = any
	license = MIT
	checkdepends = python-mako
	checkdepends = python-jinja
	checkdepends = python-cherrypy
	checkdepends = python-twisted
	checkdepends = python-tornado
	checkdepends = python-paste
	checkdepends = python-gevent
	checkdepends = python-eventlet
	checkdepends = gunicorn
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-waitress: Waitress WSGI server
	optdepends = python-cherrypy: Cherrypy WSGI server
	optdepends = python-eventlet: Eventlet server support
	options = !emptydirs
	source = git+https://github.com/defnull/bottle.git#tag=0.13.0
	sha512sums = 004ccca1eb7b9fcd4b5fda7ee1b0abb83ccf82263f9681b617522332089e6cd5ce66c7de73973b1c6c3773f5c7d77bd597f2161a7349ac0c697de3716c833885

pkgname = python-bottle
