pkgbase = perl-b-keywords
	pkgdesc = Lists of reserved barewords and symbol names
	pkgver = 1.28
	pkgrel = 1
	url = https://metacpan.org/release/B-Keywords
	arch = any
	license = PerlArtistic
	checkdepends = perl-test-pod
	depends = perl
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/R/RU/RURBAN/B-Keywords-1.28.tar.gz
	sha512sums = e3ef1427ab144965db52bbe1a22d634a0c493e970d208d44b0770bf292e22e11ea2757ecaa2b13c4c053ef423a0276709de559c45447a7c290590337d78fa4b2

pkgname = perl-b-keywords
