pkgbase = exfatprogs
	pkgdesc = exFAT filesystem userspace utilities for the Linux Kernel exfat driver
	pkgver = 1.2.6
	pkgrel = 1
	url = https://github.com/exfatprogs/exfatprogs
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = GPL2
	depends = glibc
	provides = exfat-utils
	conflicts = exfat-utils
	source = https://github.com/exfatprogs/exfatprogs/archive/1.2.6/exfatprogs-1.2.6.tar.gz
	b2sums = dda570fbd27a64bc5e7cfa343f0892c634d2643cc4660a9ed31806c697b9d816abf411964ed162e613c32cbd49cab868322bbf32a3b0f8db6db60b96beb83a1b

pkgname = exfatprogs
