pkgbase = gegl
	pkgdesc = Graph based image processing framework
	pkgver = 0.4.64
	pkgrel = 1
	url = https://www.gegl.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-3.0-or-later OR LGPL-3.0-or-later
	makedepends = ffmpeg
	makedepends = git
	makedepends = gobject-introspection
	makedepends = libgexiv2
	makedepends = meson
	makedepends = python-gobject
	makedepends = sdl2
	makedepends = vala
	makedepends = gi-docgen
	depends = babl
	depends = cairo
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = jasper
	depends = json-glib
	depends = lcms2
	depends = lensfun
	depends = libjpeg-turbo
	depends = libpng
	depends = libraw
	depends = librsvg
	depends = libspiro
	depends = libtiff
	depends = libwebp
	depends = openexr
	depends = pango
	depends = poppler-glib
	depends = suitesparse
	optdepends = ffmpeg: FFmpeg Frame Loader and FFmpeg Frame Saver plugins
	optdepends = graphviz: for gegl-introspect
	optdepends = sdl2: SDL2 Display plugin
	source = git+https://gitlab.gnome.org/GNOME/gegl.git#tag=GEGL_0_4_64
	sha256sums = 061fae9042f3ee17c83b2544ebbf9d371db0ee0b12ee02c03de8c71c991f2607

pkgname = gegl
