pkgbase = ktexteditor5
	pkgdesc = Advanced embeddable text editor
	pkgver = 5.112.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kparts5
	depends = syntax-highlighting5
	depends = editorconfig-core-c
	optdepends = git: git integration
	conflicts = ktexteditor<5.111
	replaces = ktexteditor<5.111
	source = https://download.kde.org/stable/frameworks/5.112/ktexteditor-5.112.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.112/ktexteditor-5.112.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 290e4a4cf154d6be752ea678fe0b55e14260da659474af7083b6d6d370e20c34
	sha256sums = SKIP

pkgname = ktexteditor5
