pkgbase = python-faker
	pkgdesc = Faker generates fake data for you.
	pkgver = 40.38.0
	pkgrel = 1
	url = https://faker.readthedocs.io/en/master/
	arch = any
	license = MIT
	checkdepends = python-validators
	checkdepends = python-ukpostcodeparser
	checkdepends = python-freezegun
	checkdepends = python-pillow
	checkdepends = python-xmltodict
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-pytest
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-pillow: for image provider
	optdepends = python-xmltodict: for xml provider
	source = git+https://github.com/joke2k/faker.git#tag=v40.38.0
	sha512sums = 2b4b800f052403ccde0970422b8bba914871f9751f0a9d410429c294350e695b0e8e381fb445d1c59e567e5494eebac4c6037ef99a893124a4139034d8263e74

pkgname = python-faker
