pkgbase = python-faker
	pkgdesc = Faker generates fake data for you.
	pkgver = 25.7.0
	pkgrel = 1
	url = https://faker.readthedocs.io/en/master/
	arch = any
	license = MIT
	checkdepends = python-validators
	checkdepends = python-ukpostcodeparser
	checkdepends = python-freezegun
	checkdepends = python-pillow
	checkdepends = python-xmltodict
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-pytest
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-dateutil
	optdepends = python-xmltodict: for xml provider
	source = git+https://github.com/joke2k/faker.git#tag=v25.7.0
	sha512sums = 47df3eafbcc98cf875029e8c475db252df0bc8a5f64c3f108264292695f3d970cd18fded6e16bb77fc75caef24c322ec9f6ae229f2fbe66307dcf18530f9eb84

pkgname = python-faker
