pkgbase = aspell-uk
	pkgdesc = Ukrainian dictionary for aspell
	pkgver = 1.8.0
	pkgrel = 4
	url = http://ispell-uk.sourceforge.net/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	license = LGPL
	license = MPL
	depends = aspell
	source = https://ftp.gnu.org/gnu/aspell/dict/uk/aspell6-uk-1.4.0-0.tar.bz2
	source = https://downloads.sourceforge.net/project/ispell-uk/spell-uk/1.8.0/spell-uk-1.8.0.tgz
	source = aspell-uk-perl-5.26.patch
	sha256sums = 35f9a7e840c1272706bc6dd172bc9625cbd843d021094da8598a6abba525f18c
	sha256sums = 111e5b945254df4e140922d10daa3da2beffe05d389c1cb2e1e436298f23f2b5
	sha256sums = 736c05603a361cd31ff045f2669e8fd8cdaa7ec6222bc328d1ad9310d422e609

pkgname = aspell-uk
