pkgbase = ccd2iso
	pkgdesc = Converts CCD/IMG CloneCD images to ISO format
	pkgver = 0.3
	pkgrel = 12
	url = https://sourceforge.net/projects/ccd2iso
	arch = x86_64
	license = GPL
	depends = glibc
	source = https://downloads.sourceforge.net/sourceforge/ccd2iso/ccd2iso-0.3.tar.gz
	source = ccd2iso-0.3-compilerWarnings.patch
	md5sums = a7df1c46cb710f2fc8ebd88c2e64ce65
	md5sums = be135089c0b34b04ed7db2ef39fd56a4
	sha256sums = f874b8fe26112db2cdb016d54a9f69cf286387fbd0c8a55882225f78e20700fc
	sha256sums = 25f64fccf562797096dbf0b306b0d33fffafcc1b67bce693453704f00465f370

pkgname = ccd2iso
