pkgbase = python-simplejson
	pkgdesc = Simple, fast and extensible JSON decoder/encoder
	pkgver = 3.20.2
	pkgrel = 2
	url = https://github.com/simplejson/simplejson
	arch = x86_64
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	source = https://github.com/simplejson/simplejson/archive/v3.20.2/python-simplejson-v3.20.2..tar.gz
	b2sums = 5d917cba3f2c12ee78e73cfe24c44ce093bc77bf6008c8653fd725290282912d16b9e4aa30d6916ecdedd544c05bd6f285451888911df0883c1de44d630340ca

pkgname = python-simplejson
