pkgbase = python-filelock
	pkgdesc = A platform-independent file lock
	pkgver = 3.29.3
	pkgrel = 1
	url = https://github.com/tox-dev/filelock
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-timeout
	checkdepends = python-virtualenv
	makedepends = git
	makedepends = python-build
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	source = git+https://github.com/tox-dev/filelock.git#tag=3.29.3
	b2sums = 600d93cf59c102bf0b52813e6bdbdb2e8936ef0f7acea917b8ce019f0458cd7aa91d0807894172421038c22d5dc30052874a371c3ac3ab2d6f4aa97bb38a0453

pkgname = python-filelock
