pkgbase = python-blosc
	pkgdesc = Python wrapper for the extremely fast Blosc compression library
	pkgver = 1.11.2
	pkgrel = 2
	url = https://www.blosc.org/python-blosc/python-blosc.html
	arch = x86_64
	license = BSD-3-Clause
	checkdepends = python-numpy
	checkdepends = python-psutil
	makedepends = cmake
	makedepends = ninja
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-scikit-build
	makedepends = python-py-cpuinfo
	depends = python
	depends = blosc
	optdepends = python-numpy: for tests and benchmarks
	source = https://github.com/Blosc/python-blosc/archive/v1.11.2/python-blosc-1.11.2.tar.gz
	sha512sums = 56a53828669ac9d1452b247b8aad6bdfcb71ecffe9b8c7723e4405825704506946f150f54633b7e0886160255e5619c698b97847963c909e14c97808c04f39ab
	b2sums = 79176961221a2dcdf389165b3ed0e629201605f806aca3e1ada1dd9b35c1acf13ea7fa6692a762f5e31270df327751642256a1c5bafb14fbed48ef69c6b9745c

pkgname = python-blosc
