pkgbase = xorg-xmag
	pkgdesc = Magnify parts of the screen
	pkgver = 1.0.8
	pkgrel = 1
	url = https://xorg.freedesktop.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = MIT-open-group
	license = X11
	makedepends = xorg-util-macros
	depends = libxaw
	depends = libxmu
	depends = libxt
	depends = libx11
	depends = glibc
	source = https://xorg.freedesktop.org/archive/individual/app/xmag-1.0.8.tar.xz
	source = https://xorg.freedesktop.org/archive/individual/app/xmag-1.0.8.tar.xz.sig
	validpgpkeys = 4A193C06D35E7C670FA4EF0BA2FB9E081F2D130E
	sha512sums = d4dbf6bf60a5a3ac88309cdc8f07284a20bd3b044795cd54e002ee5956fa317a09e5f21a9469a6fd9a786f109d8592d8b8e5128ac86850391a6445ccc1f7a11c
	sha512sums = SKIP

pkgname = xorg-xmag
