pkgbase = cbindgen
	pkgdesc = A tool for generating C bindings to Rust code
	pkgver = 0.29.0
	pkgrel = 1
	url = https://github.com/mozilla/cbindgen
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MPL-2.0
	checkdepends = cmake
	checkdepends = cython
	checkdepends = python
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = git+https://github.com/mozilla/cbindgen#tag=v0.29.0
	b2sums = 6985ba725835c0ce031d6a3501aa50d13521a88d32186d6bcf8aac5c018588bd153253fa6f6d4a2c18d273e9bc6306ab7722793d4fc42bfe6d020b3c653c79c2

pkgname = cbindgen
