pkgbase = kquickcharts5
	pkgdesc = A QtQuick plugin providing high-performance charts
	pkgver = 5.112.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	depends = qt5-quickcontrols2
	conflicts = kquickcharts<5.111
	replaces = kquickcharts<5.111
	source = https://download.kde.org/stable/frameworks/5.112/kquickcharts-5.112.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.112/kquickcharts-5.112.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = aaac53d81992465886b47c2c471c0c188136b36a523c9900d815d3a39a24c3b0
	sha256sums = SKIP

pkgname = kquickcharts5
