pkgbase = python-fields
	pkgdesc = A totally different take on container boilerplate
	pkgver = 5.0.0
	pkgrel = 20
	url = https://github.com/ionelmc/python-fields
	arch = any
	license = BSD-2-Clause
	checkdepends = python-pytest
	checkdepends = python-attrs
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/ionelmc/python-fields.git#tag=v5.0.0
	source = python310.patch
	sha512sums = 03de8991f025dee62fefbbbb57d7ab9fca9bbdaf46b317110be2673cba714ef851e5a180998ddf12d957217be2e82b3fcc870ab8088085a73d0ef214269b6b38
	sha512sums = 72876eba870204558d4f1a8216be5e2240406e669929605919b1adeb03a9cf230909d7658c26197189e61bd4005bcb00665c652bff6f14a97cdff881e6b45f80

pkgname = python-fields
