pkgbase = scim
	pkgdesc = Input method user interface and development platform
	pkgver = 1.4.18
	pkgrel = 5
	url = https://github.com/scim-im/scim
	install = install
	arch = x86_64
	license = LGPL
	makedepends = intltool
	depends = libltdl
	depends = gtk3
	backup = etc/scim/config
	backup = etc/scim/global
	source = scim-1.4.18.tar.gz::https://github.com/scim-im/scim/archive/1.4.18.tar.gz
	sha512sums = 9a6090fc1ab950905a9c54d6678ce3d2a44297d1a992a3e933b0466688638e6cf470c1682daa58a6fbb6de3216b649273faf7edff1ac0ecca1c2c77fc19108fb

pkgname = scim
