pkgbase = python-pytest-socket
	pkgdesc = Pytest Plugin to disable socket calls during tests
	pkgver = 0.7.0
	pkgrel = 7
	url = https://github.com/miketheman/pytest-socket
	arch = any
	license = MIT
	checkdepends = python-httpx
	checkdepends = python-pytest-httpbin
	checkdepends = python-requests
	checkdepends = python-starlette
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	makedepends = python-wheel
	depends = python
	depends = python-pytest
	source = https://github.com/miketheman/pytest-socket/archive/0.7.0/python-pytest-socket-0.7.0.tar.gz
	sha512sums = fe8888819fef0f192f88a7509fe153b992c12a1fd1d56ae69c844a592fc403e3b5b13c4c3c4be89c8bf114f18d84fb6d6e8a8e3604d7fe454d090272689136f1
	b2sums = 1609a75907f743e8cbd38e48c6df74bb9ce329cda68bde02fd2a02fa7105a688853723b22a57259c1050e33ed41b23ad34a9ca37365b71939b44834c5d02e6db

pkgname = python-pytest-socket
