pkgbase = python-dulwich
	pkgdesc = Pure-Python implementation of the Git file formats and protocols
	pkgver = 0.24.8
	pkgrel = 1
	url = https://www.dulwich.io
	arch = x86_64
	license = Apache-2.0 OR GPL-2.0-or-later
	checkdepends = python-fastimport
	checkdepends = python-gevent
	checkdepends = python-gpgme
	checkdepends = python-merge3
	checkdepends = python-paramiko
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-rust
	makedepends = python-wheel
	depends = python-urllib3
	optdepends = python-fastimport: for fast-import support
	optdepends = python-gpgme: for PGP signature support
	optdepends = python-idna: for HTTPS support via urllib3
	optdepends = python-merge3: for merge support
	optdepends = python-paramiko: for use as the SSH implementation
	optdepends = python-pyopenssl: for HTTPS support via urllib3
	optdepends = python-pyinotify: to watch for changes to refs
	optdepends = python-rich: for colorized diff support
	source = git+https://github.com/jelmer/dulwich.git#tag=dulwich-0.24.8
	validpgpkeys = DC837EE14A7E37347E87061700806F2BD729A457
	b2sums = 85d6a571515c408ba4f95646ef4f6270abfe15688f974dc86e14781706fe48f9995b0fa9c1593b29015f5d3453aa25bfed0f03fc143fbe05b067f8bd51052d07

pkgname = python-dulwich
