pkgbase = perl-io-compress-brotli
	pkgdesc = Read/write Brotli buffers/streams
	pkgver = 0.008
	pkgrel = 1
	epoch = 1
	url = https://metacpan.org/release/IO-Compress-Brotli
	arch = x86_64
	license = PerlArtistic
	license = GPL
	depends = perl
	depends = brotli
	depends = perl-file-slurper
	options = !emptydirs
	source = https://search.cpan.org/CPAN/authors/id/T/TI/TIMLEGGE/IO-Compress-Brotli-0.008.tar.gz
	source = use-system-brotli.patch
	sha512sums = f70228cd763dde5905f686d81d8a3d887b06add69ecee515037dfa48e7a186c226312618467999b9fff587b4d2adac2a2501148b8789659b1624e3a8384d490e
	sha512sums = a6bd9717d13634596f716c407dc46b9f69cc2f80c07ad9281b667f6ebc67937f333de423381655cb521dd4cae2e0f4b4b1e4fd406573f3a8acb7874e9e060195

pkgname = perl-io-compress-brotli
