pkgbase = perl-io-compress-brotli
	pkgdesc = Read/write Brotli buffers/streams
	pkgver = 0.017
	pkgrel = 1
	epoch = 1
	url = https://metacpan.org/release/IO-Compress-Brotli
	arch = x86_64
	license = PerlArtistic
	license = GPL
	depends = perl
	depends = brotli
	depends = perl-file-slurper
	options = !emptydirs
	source = https://search.cpan.org/CPAN/authors/id/T/TI/TIMLEGGE/IO-Compress-Brotli-0.017.tar.gz
	source = use-system-brotli.patch
	sha512sums = a20c6a569fef2820dc089175de90a7e889e6f4093552ab9579c2520f51c87863b55c796b3b1bd12839d173268d05625caef5f9f95eef977cfb7c0280f82bbce0
	sha512sums = fd131f26c93fb67eaffbbc4d36537931bd9efe780ccbbf3904174d3bd6e6810b18be286b6e3425462089039acd199646464444b0f1300473ee2f905b32869a32

pkgname = perl-io-compress-brotli
