pkgbase = pahole
	pkgdesc = Pahole and other DWARF utils
	pkgver = 1.28
	pkgrel = 3
	epoch = 1
	url = https://git.kernel.org/pub/scm/devel/pahole/pahole.git
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = GPL-2.0-only
	makedepends = bash
	makedepends = cmake
	makedepends = git
	makedepends = glibc
	makedepends = libelf
	makedepends = ninja
	makedepends = python
	makedepends = python-matplotlib
	makedepends = zlib
	source = git+https://github.com/acmel/dwarves?signed#tag=v1.28
	source = 0001-CMakeLists.txt-Install-ostra.py-into-Python3_SITELIB.patch
	validpgpkeys = 2DBF5BAA46FB4DED338A335BD65016F35352AA40
	b2sums = 9feb786bbe5ff968910acff2ef2e63770ba5ec45adadc6e29e9087ba568683e9631c7ed48701f9bd2e14527629becb1fda1945483deafca8641447b5a59cc317
	b2sums = 957bd9e8b39e384a1209e323f3e99e908654b11167541ee9e42e5f87a2e438a741de817a25e118af88b60cad90d145bf8e63d586a22ee8f2bbf3aaae6457e55e

pkgname = pahole
	depends = bash
	depends = glibc
	depends = libelf
	depends = zlib
	optdepends = ostra-cg: Generate call graphs from encoded traces
	provides = libdwarves.so
	provides = libdwarves_emit.so
	provides = libdwarves_reorganize.so

pkgname = ostra-cg
	pkgdesc = Generate call graphs from encoded traces
	depends = pahole
	depends = python
	depends = python-matplotlib
