pkgbase = double-conversion
	pkgdesc = Binary-decimal and decimal-binary routines for IEEE doubles
	pkgver = 3.4.0
	pkgrel = 1
	url = https://github.com/google/double-conversion
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	depends = glibc
	source = git+https://github.com/google/double-conversion#tag=v3.4.0
	sha256sums = 9963201818e6ef262b99e68b2ec2500b2b49270d0205dc7487d16ec5e8f467f3

pkgname = double-conversion
