pkgbase = liblouis
	pkgdesc = Braille translator and back-translator library
	pkgver = 3.31.0
	pkgrel = 2
	url = https://liblouis.io/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = GPL-3.0-or-later AND LGPL-2.1-or-later
	makedepends = git
	makedepends = help2man
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = libyaml
	optdepends = python: Python bindings
	source = git+https://github.com/liblouis/liblouis.git#tag=v3.31.0
	validpgpkeys = E9DDC8901A42F78B79CDC46042A55BD5EA40AB1A
	b2sums = a79c01f5664fd805b21b8c0f3b962db5fb7df2cdfe54ce61d7149b267504144da25727c1628129bdd28a2f52948fe2ce0f8abb38d0476480180eeb83b5703262

pkgname = liblouis
