pkgbase = python-oslo-utils
	pkgdesc = Oslo Utility library
	pkgver = 7.1.0
	pkgrel = 3
	url = https://pypi.python.org/pypi/oslo.utils/7.1.0
	arch = any
	license = Apache
	checkdepends = python-eventlet
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	checkdepends = python-oslotest
	checkdepends = python-ddt
	checkdepends = python-stestr
	makedepends = git
	makedepends = python-setuptools
	depends = python-iso8601
	depends = python-oslo-i18n
	depends = python-netaddr
	depends = python-netifaces
	depends = python-debtcollector
	depends = python-pyparsing
	depends = python-packaging
	depends = python-yaml
	source = git+https://github.com/openstack/oslo.utils.git#commit=17581b50bd98628d8c1aef17fbfd6eb45114169c
	sha512sums = SKIP

pkgname = python-oslo-utils
