pkgbase = python-oslo-utils
	pkgdesc = Oslo Utility library
	pkgver = 7.4.0
	pkgrel = 5
	url = https://pypi.python.org/pypi/oslo.utils/7.4.0
	arch = any
	license = Apache
	checkdepends = python-eventlet
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	checkdepends = python-oslotest
	checkdepends = python-ddt
	checkdepends = python-stestr
	checkdepends = qemu-img
	makedepends = git
	makedepends = python-setuptools
	depends = python-iso8601
	depends = python-oslo-i18n
	depends = python-netaddr
	depends = python-netifaces
	depends = python-debtcollector
	depends = python-pyparsing
	depends = python-packaging
	depends = python-yaml
	depends = python-psutil
	source = git+https://github.com/openstack/oslo.utils.git#tag=7.4.0
	sha512sums = 5c31f88b364d7f5282e76941250182337656eedafcd0641c815bc6cafbf8e0b1557d6cb8cd54d6017d3a53d391e4889c654667e7b25f818cf3fd3f2f6641e19b

pkgname = python-oslo-utils
