pkgbase = python-pycurl
	pkgdesc = A Python 3.x interface to libcurl
	pkgver = 7.45.7
	pkgrel = 3
	url = https://github.com/pycurl/pycurl
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL-2.1-only OR MIT
	checkdepends = python-flask
	checkdepends = python-pytest
	checkdepends = vsftpd
	checkdepends = python-flaky
	checkdepends = python-pyflakes
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = curl
	depends = glibc
	depends = openssl
	depends = python
	source = git+https://github.com/pycurl/pycurl.git#tag=REL_7_45_7
	sha512sums = 765a74b426015729c1deb87156d9d2f13b0766f2db925705263e5f5634123ad32a20bf062053df5375286bc95a0ff301dd0b1d2cbf3cd62fb6c4ceeef4f811c9

pkgname = python-pycurl
