pkgbase = python-sphinx-autodoc-typehints
	pkgdesc = Type hints support for the Sphinx autodoc extension
	pkgver = 2.2.2
	pkgrel = 1
	url = https://github.com/tox-dev/sphinx-autodoc-typehints
	arch = any
	license = MIT
	checkdepends = python-nptyping
	checkdepends = python-pytest
	checkdepends = python-sphobjinv
	checkdepends = python-typing_extensions
	makedepends = git
	makedepends = python-build
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-sphinx
	optdepends = python-nptyping: for numpydoc support
	source = git+https://github.com/tox-dev/sphinx-autodoc-typehints.git#tag=2.2.2
	b2sums = e6402d4b5dc4e7f68753e5009fc3b54541105b0f9a2d6b1b4f7d547aac162b34076f23426fb2859d99ec1cd0b1d905e930f9eb7b2558eefde1e99eab608947a4

pkgname = python-sphinx-autodoc-typehints
