pkgbase = python-sphinx-autodoc-typehints
	pkgdesc = Type hints support for the Sphinx autodoc extension
	pkgver = 3.6.2
	pkgrel = 1
	url = https://github.com/tox-dev/sphinx-autodoc-typehints
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-sphobjinv
	checkdepends = python-typing_extensions
	makedepends = git
	makedepends = python-build
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-sphinx
	source = git+https://github.com/tox-dev/sphinx-autodoc-typehints.git#tag=3.6.2
	b2sums = a54e8f9b894f759190fbe0c1ebf1d503e40501fc8daa607b0a7342f9e69e7e31a14b0f878143bf9dce5030337902e417ce6171cfdd29f9310a90c24263997498

pkgname = python-sphinx-autodoc-typehints
