pkgbase = python-asttokens
	pkgdesc = Get the currently executing AST node of a frame, and other information
	pkgver = 3.0.0
	pkgrel = 1
	url = https://github.com/gristlabs/asttokens
	arch = any
	license = Apache-2.0
	checkdepends = python-astroid
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/gristlabs/asttokens.git#tag=v3.0.0
	b2sums = 553fb87e6a611e954d67a7312d8df2d5c6ca152368579b5107e36ee9b351c901ca295c0ab6e0cf05a74e35f06a544d32f3969ef8dfdf1f3352b9d614e35d37bf

pkgname = python-asttokens
