pkgbase = qt6-svg
	pkgdesc = Classes for displaying the contents of SVG files
	pkgver = 6.10.2
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = qt6
	license = GPL-3.0-only
	license = LGPL-3.0-only
	license = LicenseRef-Qt-Commercial
	license = Qt-GPL-exception-1.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = zlib
	source = git+https://code.qt.io/qt/qtsvg#tag=v6.10.2
	sha256sums = 0866183ad66a9479476ea6abd51af614f769b3850359fa39359adfabacdbdcca

pkgname = qt6-svg
