pkgbase = qt6-svg
	pkgdesc = Classes for displaying the contents of SVG files
	pkgver = 6.11.2
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = qt6
	license = GPL-3.0-only
	license = LGPL-3.0-only
	license = LicenseRef-Qt-Commercial
	license = Qt-GPL-exception-1.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = zlib
	source = git+https://code.qt.io/qt/qtsvg#tag=v6.11.2
	sha256sums = 9f72f7dda1f9977ce9564747c1760f55c7417c1dadbe613e1aac6b1fa102df93

pkgname = qt6-svg
