pkgbase = tzdata
	pkgdesc = Sources for time zone and daylight saving time data
	pkgver = 2025b
	pkgrel = 1
	url = https://www.iana.org/time-zones
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	arch = riscv64
	license = LicenseRef-tz
	optdepends = bash: for tzselect
	optdepends = glibc: for zdump, zic
	options = !emptydirs
	source = https://www.iana.org/time-zones/repository/releases/tzcode2025b.tar.gz
	source = https://www.iana.org/time-zones/repository/releases/tzcode2025b.tar.gz.asc
	source = https://www.iana.org/time-zones/repository/releases/tzdata2025b.tar.gz
	source = https://www.iana.org/time-zones/repository/releases/tzdata2025b.tar.gz.asc
	validpgpkeys = 7E3792A9D8ACF7D633BC1588ED97E90E62AA7E34
	sha512sums = 19826b12968c10fc4db7e4b07ba782bfb8590eeebaec6f719d74b92a2e642ab817bd72bceff0015ce52a838edfdb00753b3cd87dd84b35abf2606e5bee445f76
	sha512sums = SKIP
	sha512sums = 7d83741f3cae81fac8131994b43c55b6da7328df18b706e5ee40e9b3212bc506e6f8fc90988b18da424ed59eff69bce593f2783b7b5f18eb483a17aeb94258d6
	sha512sums = SKIP

pkgname = tzdata
