pkgbase = tde-tqt3
	pkgdesc = The TQt3 gui toolkit - based on TDE upstream Qt3
	pkgver = 14.1.4
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/tqt3
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	groups = tde-core
	license = GPL
	makedepends = libcups
	makedepends = libxi
	makedepends = postgresql
	makedepends = mariadb
	makedepends = unixodbc
	makedepends = libmng
	makedepends = xorg-xrandr
	makedepends = libxcursor
	makedepends = libxinerama
	makedepends = libxft
	makedepends = libxmu
	makedepends = glu
	options = staticlibs
	options = libtool
	options = !emptydirs
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.4/main/dependencies/tqt3-trinity-14.1.4.tar.xz
	md5sums = 331d2dfbfaa2931f7ffd639003372704

pkgname = tde-tqt3
	pkgdesc = The TQt3 gui toolkit - based on TDE upstream Qt3 - git version
	install = tqt3.install
	groups = tde-core
	depends = libjpeg-turbo
	depends = libmng
	depends = libmariadbclient
	depends = libpng
	depends = libxcursor
	depends = libxft
	depends = libxi
	depends = libxinerama
	depends = libxmu
	depends = libxrandr
	depends = mesa
	depends = postgresql
	optdepends = cups: The CUPS Printing System - for printing support
	optdepends = postgresql: A sophisticated object-relational DBMS - databse support
	optdepends = unixodbc: ODBC API for linux - databse support
	optdepends = mariadb: A fast SQL database server - databse support
	provides = qt3
	provides = tqt3
	replaces = qt3
	replaces = qt3-enhanced
	replaces = trinity-tqt3
	options = staticlibs
	options = libtool
	options = !emptydirs
	options = !debug

pkgname = tde-tqt3-docs
	pkgdesc = TQt3 gui toolkit documentation - based on TDE upstream Qt3 - git version
	groups = tde-docs
	provides = tqt3-docs
