pkgbase = weechat
	pkgdesc = Fast, light and extensible IRC client (curses UI)
	pkgver = 4.8.1
	pkgrel = 3
	url = https://www.weechat.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-3.0-only
	makedepends = asciidoctor
	makedepends = cmake
	makedepends = enchant
	makedepends = guile
	makedepends = lua
	makedepends = perl
	makedepends = python
	makedepends = ruby
	makedepends = tcl
	depends = curl
	depends = gnutls
	depends = cjson
	depends = libgcrypt
	optdepends = enchant: spellchecker support
	optdepends = guile: support for guile scripts
	optdepends = lua: support for lua scripts
	optdepends = perl: support for perl scripts
	optdepends = python: support for python scripts
	optdepends = ruby: support for ruby scripts
	optdepends = tcl: support for tcl scripts
	source = https://www.weechat.org/files/src/weechat-4.8.1.tar.xz
	source = https://www.weechat.org/files/src/weechat-4.8.1.tar.xz.asc
	validpgpkeys = A9AB5AB778FA5C3522FD0378F82F4B16DEC408F8
	sha512sums = 9582f7b248aec578ce7ea13e1ff86868e359d0c9a93cbc13041f98dcff92391ed3e994cad194857c6b4e60dfa40218c6d3a024624c26b581959600f3895459d1
	sha512sums = SKIP
	b2sums = 47c782397e56de74568e534475d297f396a133fe1d8050e9b098306cfbeb90622c305ad3bb39eb6cfa26158079c9d60a9920e8745f7c2322aed7731a1f18e73d
	b2sums = SKIP

pkgname = weechat
