pkgbase = weechat
	pkgdesc = Fast, light and extensible IRC client (curses UI)
	pkgver = 4.4.2
	pkgrel = 1
	url = https://www.weechat.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = GPL-3.0-only
	makedepends = asciidoctor
	makedepends = cmake
	makedepends = enchant
	makedepends = guile
	makedepends = lua
	makedepends = perl
	makedepends = python
	makedepends = ruby
	makedepends = tcl
	depends = curl
	depends = gnutls
	depends = cjson
	depends = libgcrypt
	optdepends = enchant: spellchecker support
	optdepends = guile: support for guile scripts
	optdepends = lua: support for lua scripts
	optdepends = perl: support for perl scripts
	optdepends = python: support for python scripts
	optdepends = ruby: support for ruby scripts
	optdepends = tcl: support for tcl scripts
	source = https://www.weechat.org/files/src/weechat-4.4.2.tar.xz
	source = https://www.weechat.org/files/src/weechat-4.4.2.tar.xz.asc
	validpgpkeys = A9AB5AB778FA5C3522FD0378F82F4B16DEC408F8
	sha512sums = 1a603a020319d3ee9d27659c71b353dc939a56bc0dc8fabd55e82c74e28bdef8ed749441e7b2377b78598bdf11ec020d6c94a092bf30c86220b61e276cef2293
	sha512sums = SKIP
	b2sums = aa9730c6a67f29319d9e2609179ff0b4bea71a60335a2d9a4df5f652ee8f6221652f3a910ed885d6fa8887d0181b967b8ce67b98613e8b87306ff42e703ebfce
	b2sums = SKIP

pkgname = weechat
