pkgbase = python-eventlet
	pkgdesc = Highly concurrent networking library
	pkgver = 0.38.0
	pkgrel = 1
	url = https://eventlet.net
	arch = any
	license = MIT
	checkdepends = python-psycopg2
	checkdepends = python-pyopenssl
	checkdepends = python-httplib2
	checkdepends = python-pyzmq
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-sphinx
	makedepends = python-sphinxcontrib-apidoc
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	depends = python-greenlet
	depends = python-dnspython
	optdepends = python-psycopg2: non-blocking PostgreSQL support
	optdepends = python-pyopenssl: non-blocking SSL support
	optdepends = python-httplib2: non-blocking HTTP support
	optdepends = python-pyzmq: non-blocking ZeroMQ support
	optdepends = python-dnspython: non-blocking DNS support
	options = !makeflags
	source = python-eventlet-0.38.0.tar.gz::https://github.com/eventlet/eventlet/archive/refs/tags/0.38.0.tar.gz
	source = python310.patch
	sha512sums = 406ad6223fa770273104b55780efd340b36985bd40a8bf40cba26ad749d907c5fb01e93c8e4cabc69053d5c8893ee5d5312148ce75be9a73a9d8f11705945007
	sha512sums = 07739075628ff9d140064e04189332b479f184e4647753f987b0818fa55aaca907d4880afb5cf31f980426f315e1014027dcd848551149000a12145f982cd883
	b2sums = 649fff870d18cf038e445e3f46526b9450a42e06ae140885ae458f2a5b836f5d98336ec1af430ad5391ad2d195ed17eb2c176502bc9d763abcd346755e537518
	b2sums = 783445f708c12586e026f7feac982a7b6c21f86468609c375568b51ad6055977df3d0bc740f3127b9f8bc95c1c50e81aae02ca0e0be674ed4627910d39b1ef47

pkgname = python-eventlet
