pkgbase = simdjson
	pkgdesc = A C++ library to see how fast we can parse JSON with complete validation.
	pkgver = 4.2.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/simdjson/simdjson
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	license = Apache-2.0
	makedepends = cmake
	depends = gcc-libs
	source = simdjson-4.2.1.tar.gz::https://github.com/simdjson/simdjson/archive/v4.2.1.tar.gz
	source = 0001-vsx-only-if-vsx-supported.patch
	sha256sums = 72c60a0fa6871073a4a458e80947dd75894fa1ff69550c7c77f9f4e695dff7f1
	sha256sums = 64a312f830f981b377e6caee0be78db32ecb80c419263d62fae59fc069561198

pkgname = simdjson
