pkgbase = simdjson
	pkgdesc = A C++ library to see how fast we can parse JSON with complete validation.
	pkgver = 3.13.0
	pkgrel = 1.1
	epoch = 1
	url = https://github.com/simdjson/simdjson
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	license = Apache-2.0
	makedepends = cmake
	depends = gcc-libs
	source = simdjson-3.13.0.tar.gz::https://github.com/simdjson/simdjson/archive/v3.13.0.tar.gz
	source = 0001-vsx-only-if-vsx-supported.patch
	sha256sums = 07a1bb3587aac18fd6a10a83fe4ab09f1100ab39f0cb73baea1317826b9f9e0d
	sha256sums = 64a312f830f981b377e6caee0be78db32ecb80c419263d62fae59fc069561198

pkgname = simdjson
