pkgbase = ruby-rspec-support
	pkgdesc = Common code needed by the other RSpec gems. Not intended for direct use
	pkgver = 3.13.7
	pkgrel = 1
	url = https://github.com/rspec/rspec
	arch = any
	license = MIT
	checkdepends = ruby-bigdecimal
	checkdepends = ruby-bundler
	checkdepends = ruby-childprocess
	checkdepends = ruby-diff-lcs
	checkdepends = ruby-drb
	checkdepends = ruby-ffi
	checkdepends = ruby-minitest
	checkdepends = ruby-mutex_m
	checkdepends = ruby-rake
	checkdepends = ruby-rspec
	checkdepends = ruby-rspec-core
	checkdepends = ruby-rspec-expectations
	checkdepends = ruby-rspec-mocks
	checkdepends = ruby-test-unit
	checkdepends = ruby-thread_order
	makedepends = git
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = ruby-rspec-support::git+https://github.com/rspec/rspec#tag=rspec-support-v3.13.7
	source = ruby-rspec-support_no_version_constraints.patch
	sha512sums = fb43421b800de0f27c7b49dced9dd0d1c3598956aa5a963afd2131a5de3dd1c4ae646dbc2823e720a5571ac0bd9459e9f6f9206894fb0f8d8c659daa1a30c350
	sha512sums = fc4017b614df31190e13800c7491dbf64997f1752b575c6e6aea2aca3ff8762a121f2e324f8c77fac3f63a3e9acb3f0f34b2a8831df9f44fa54efcaaaaace993
	b2sums = 3e8a9d69fc0b9972dc3dcd150dfacf9ce67d703b9c9bafbbb0e81618a0c515244344fc403b78f8fae4f42adaa5bae167d1e734b6d159f65be22d8c7362683a12
	b2sums = 4cc52da007104b31a7173801de625bbc88e19648d25a7b3d9da72267dede0af5210b9b1b2b47d8073eb3f927cf97d7eda0ae94772d3491a0835c3e9c1c831386

pkgname = ruby-rspec-support
