pkgbase = xsimd
	pkgdesc = QuantStack tools library - Multi-dimensional arrays with broadcasting and lazy computing
	pkgver = 13.2.0
	pkgrel = 1
	url = https://github.com/QuantStack/xsimd
	arch = any
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = git
	makedepends = gtest
	source = git+https://github.com/QuantStack/xsimd#tag=13.2.0
	sha512sums = f23750d32d331334928d57a328a2d9688088726279d84e9c027ed896408a428329f15360e6f22a49fcab640d0e17de3e740d80854834c0b8159ed4ffdd344fc7

pkgname = xsimd
