pkgbase = xsimd
	pkgdesc = QuantStack tools library - Multi-dimensional arrays with broadcasting and lazy computing
	pkgver = 13.1.0
	pkgrel = 1
	url = https://github.com/QuantStack/xsimd
	arch = any
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = git
	makedepends = gtest
	source = git+https://github.com/QuantStack/xsimd#tag=13.1.0
	sha512sums = 67045964072964e7907a6ee1ae97199ef24aae49d69f378353aa900a1e783d1da0365cc3bee9ff16d9d70bfa68eaa39fb39efb06075681823a9015ecd8ed50bb

pkgname = xsimd
