pkgbase = libuv
	pkgdesc = Multi-platform support library with a focus on asynchronous I/O
	pkgver = 1.50.0
	pkgrel = 1
	url = https://github.com/libuv/libuv
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = custom
	makedepends = git
	makedepends = python-sphinx
	depends = glibc
	depends = libnsl
	source = git+https://github.com/libuv/libuv.git?signed#tag=v1.50.0
	validpgpkeys = 57353E0DBDAAA7E839B66A1AFF47D5E4AD8B4FDC
	validpgpkeys = 612F0EAD9401622379DF4402F28C3C8DA33C03BE
	validpgpkeys = AEAD0A4B686767751A0E4AEF34A25FB128246514
	validpgpkeys = CFBB9CA9A5BEAFD70E2B3C5A79A67C55A3679C8B
	sha512sums = 5d3c97f3d746c80874dac695fa7c5564d16cc1326e41d6a713f463f213e7a9bf3b65231d21c9f83c24d5d6175dcdb11f36bef59f5d5753a0794c730027695679

pkgname = libuv
