pkgbase = python-scripttest
	pkgdesc = Utilities to help with testing command line scripts
	pkgver = 2.0
	pkgrel = 2
	url = https://github.com/pypa/scripttest
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-setuptools
	depends = python
	source = python-scripttest-2.0.tar.gz::https://github.com/pypa/scripttest/archive/2.0.tar.gz
	sha512sums = c3a2ccb1856c11a377287829683e63f3c8b4653ee778596a606195712bb8c01dcfb6e98408ac1012bfb3d0b45853f3076301f6a42e1f03bebf1df8a06e9d15f9

pkgname = python-scripttest
