pkgbase = python-pygls
	pkgdesc = Pythonic generic implementation of the Language Server Protocol
	pkgver = 2.1.1
	pkgrel = 1
	url = https://github.com/openlawlibrary/pygls
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest-asyncio
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python-attrs
	depends = python-cattrs
	depends = python-lsprotocol
	source = git+https://github.com/openlawlibrary/pygls.git#tag=v2.1.1
	b2sums = f947b2e0cc890f0dff8d15a740ebb5772b68671b406444ac022a6bee5314b03a18c6936b7d03b9e9f432c4ce059f72ab830835916c85d90bef874791ecf419ca

pkgname = python-pygls
