pkgbase = python-legacy-cgi
	pkgdesc = Fork of the standard library cgi and cgitb modules, being deprecated in PEP-594
	pkgver = 2.6.2
	pkgrel = 1
	url = https://github.com/jackrosenthal/legacy-cgi
	arch = any
	license = PSF-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	makedepends = python-wheel
	depends = python
	source = https://github.com/jackrosenthal/legacy-cgi/archive/v2.6.2/python-legacy-cgi-2.6.2.tar.gz
	sha256sums = cb47ba975c9d7b670e209e337d4bbabfa749652fd69f2efbee2038aaa6b17a5b

pkgname = python-legacy-cgi
