pkgbase = mixxx
	pkgdesc = Free, open source software for digital DJing
	pkgver = 2.5.4
	pkgrel = 1
	url = https://www.mixxx.org
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	groups = pro-audio
	license = GPL-2.0-or-later
	makedepends = benchmark
	makedepends = chromaprint
	makedepends = cmake
	makedepends = faad2
	makedepends = ffmpeg
	makedepends = flac
	makedepends = glib2
	makedepends = glu
	makedepends = gperftools
	makedepends = gtest
	makedepends = libid3tag
	makedepends = libogg
	makedepends = libsndfile
	makedepends = libusb
	makedepends = libvorbis
	makedepends = lilv
	makedepends = lv2
	makedepends = microsoft-gsl
	makedepends = qt6-shadertools
	makedepends = qt6-tools
	makedepends = portaudio
	makedepends = portmidi
	makedepends = protobuf
	makedepends = rubberband
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = hidapi
	depends = lame
	depends = libebur128
	depends = libkeyfinder
	depends = libmad
	depends = libmodplug
	depends = libx11
	depends = openssl
	depends = opus
	depends = opusfile
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = qtkeychain-qt6
	depends = soundtouch
	depends = sqlite
	depends = taglib1
	depends = upower
	depends = wavpack
	source = https://github.com/mixxxdj/mixxx/archive/2.5.4/mixxx-2.5.4.tar.gz
	sha512sums = ded35b6c3e6934de2f6d36c7dedc8c36b5d37cea675faf1adba870b1c1d64d8b86f12783fe5bb42828b6fbd2029fec5b2725752c295d71da70c3aa125cc13b9c
	b2sums = 130073f0484dc34e76e3ea306c71281dc153ffb731e8a64c51ede2d42d8b00f39778b50dc3290de008311b7365485e40604e19d8312858e682e479b86940421b

pkgname = mixxx
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = hidapi
	depends = lame
	depends = libebur128
	depends = libkeyfinder
	depends = libmad
	depends = libmodplug
	depends = libx11
	depends = openssl
	depends = opus
	depends = opusfile
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = qtkeychain-qt6
	depends = soundtouch
	depends = sqlite
	depends = taglib1
	depends = upower
	depends = wavpack
	depends = chromaprint
	depends = libchromaprint.so
	depends = flac
	depends = libFLAC.so
	depends = ffmpeg
	depends = libavcodec.so
	depends = libavformat.so
	depends = libavutil.so
	depends = glib2
	depends = libgobject-2.0.so
	depends = libglvnd
	depends = libOpenGL.so
	depends = libid3tag
	depends = libid3tag.so
	depends = libogg
	depends = libogg.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libusb
	depends = libusb-1.0.so
	depends = libvorbis
	depends = libvorbis.so
	depends = libvorbisenc.so
	depends = libvorbisfile.so
	depends = lilv
	depends = liblilv-0.so
	depends = portaudio
	depends = libportaudio.so
	depends = portmidi
	depends = libportmidi.so
	depends = protobuf
	depends = libprotobuf-lite.so
	depends = rubberband
	depends = librubberband.so
	depends = zlib
	depends = libz.so
