pkgbase = python-fastbencode
	pkgdesc = Implementation of bencode with optional fast C extensions
	pkgver = 0.3.7
	pkgrel = 1
	url = https://github.com/breezy-team/fastbencode
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-or-later
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-rust
	makedepends = python-wheel
	depends = gcc-libs
	depends = glibc
	depends = python
	source = python-fastbencode-0.3.7.tar.gz::https://github.com/breezy-team/fastbencode/archive/v0.3.7.tar.gz
	sha256sums = 8e7b30a9811f8b3229077513006f189d2fcc8e09765fd1783bb773ad11147b1a

pkgname = python-fastbencode
