pkgbase = mesa
	pkgdesc = Open-source OpenGL drivers
	pkgver = 24.1.7
	pkgrel = 3
	epoch = 1
	url = https://www.mesa3d.org/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	makedepends = clang
	makedepends = expat
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = libdrm
	makedepends = libelf
	makedepends = libglvnd
	makedepends = libva
	makedepends = libvdpau
	makedepends = libx11
	makedepends = libxcb
	makedepends = libxext
	makedepends = libxfixes
	makedepends = libxml2
	makedepends = libxrandr
	makedepends = libxshmfence
	makedepends = libxxf86vm
	makedepends = llvm
	makedepends = llvm-libs
	makedepends = lm_sensors
	makedepends = rust
	makedepends = spirv-llvm-translator
	makedepends = spirv-tools
	makedepends = systemd-libs
	makedepends = vulkan-icd-loader
	makedepends = wayland
	makedepends = xcb-util-keysyms
	makedepends = zlib
	makedepends = zstd
	makedepends = cbindgen
	makedepends = clang
	makedepends = cmake
	makedepends = elfutils
	makedepends = glslang
	makedepends = libclc
	makedepends = meson
	makedepends = python-pycparser
	makedepends = python-mako
	makedepends = python-packaging
	makedepends = python-ply
	makedepends = rust-bindgen
	makedepends = wayland-protocols
	makedepends = xorgproto
	makedepends = valgrind
	makedepends = directx-headers
	makedepends = libomxil-bellagio
	options = !lto
	source = https://mesa.freedesktop.org/archive/mesa-24.1.7.tar.xz
	source = https://mesa.freedesktop.org/archive/mesa-24.1.7.tar.xz.sig
	source = 0001-i915-non-x86.patch
	source = 0002-big-endian-flipping.patch
	source = llvm-19-intel.patch
	source = llvm-19-passmgr-amd.patch
	source = llvm-19-passmgr.patch
	source = llvm-19.patch
	source = proc-macro2-1.0.70.tar.gz::https://crates.io/api/v1/crates/proc-macro2/1.0.70/download
	source = unicode-ident-1.0.12.tar.gz::https://crates.io/api/v1/crates/unicode-ident/1.0.12/download
	source = quote-1.0.33.tar.gz::https://crates.io/api/v1/crates/quote/1.0.33/download
	source = paste-1.0.14.tar.gz::https://crates.io/api/v1/crates/paste/1.0.14/download
	source = syn-2.0.39.tar.gz::https://crates.io/api/v1/crates/syn/2.0.39/download
	validpgpkeys = 946D09B5E4C9845E63075FF1D961C596A7203456
	validpgpkeys = 71C4B75620BC75708B4BDB254C95FAAB3EB073EC
	validpgpkeys = 8703B6700E7EE06D7A39B8D6EDAE37B02CEB490D
	validpgpkeys = 57551DE15B968F6341C248F68D8E31AFC32428A6
	validpgpkeys = A5CC9FEC93F2F837CB044912336909B6B25FADFA
	validpgpkeys = E3E8F480C52ADD73B278EE78E1ECBE07D7D70895
	sha256sums = ecd2e7b1c73998f4103542f39c6b8c968d251637ccc8caa42641aecb86cd2566
	sha256sums = SKIP
	sha256sums = a82392ed26b32a4edd57ec2ca40db0a556787932edd59681eeedf4a21861b9d0
	sha256sums = 0a8f2792dfd0469bc41540884fe2a1dbf4f0fd92f53bad5b9db831ac1e59dd11
	sha256sums = b84f5487c054f3de2127804942697aef83930d614da31e2f6b204103e5aff4d0
	sha256sums = 7fe8c99499eccef0951b70dedd3e059b8653f9539a33d39e33a621f94dd9ae5e
	sha256sums = acfd0911a5e7e1bbbc37791da256606f4298d168ee14bb49734009cc51e1d644
	sha256sums = 433d7d58ee64e78256fffb2d67d1a75d316b646d731b501f19f18e7d15f649e0
	sha256sums = 39278fbbf5fb4f646ce651690877f89d1c5811a3d4acb27700c1cb3cdb78fd3b
	sha256sums = 3354b9ac3fae1ff6755cb6db53683adb661634f67557942dea4facebec0fee4b
	sha256sums = 5267fca4496028628a95160fc423a33e8b2e6af8a5302579e322e4b520293cae
	sha256sums = de3145af08024dea9fa9914f381a17b8fc6034dfb00f3a84013f7ff43f29ed4c
	sha256sums = 23e78b90f2fcf45d3e842032ce32e3f2d1545ba6636271dcbf24fa306d87be7a
	b2sums = b3102fcf96c032d07826186c2d60dc93e5c17b26f725c20cf1e402d1cfbaaba9809bff7a04d3df0179d2ec8606bc9fb391761d17a148671b9270cf2aaca0324d
	b2sums = SKIP
	b2sums = 73489865623395ee749742145ea2f75473a85c14c9a129f68f29ae5936ffb3ea6018a5d2f53c19aefdd8a2aff2f2d7c1d0f393b00496f11867b8588c99d26432
	b2sums = c28718783873be25fa2d6c0f43fae900f93e2f20df1c11a40ec86622112b7be7e7f50c3b77e52849fec9288fb8da3744d8bc2027df941ffd0b8c558fe3a927ba
	b2sums = 623cb16b7cc8afa28ad458b40bc8a557be57d09989c62afd9aa48fe017ac4990f12b1fa29b5faebb642f983a0ff21358f2c132c07e6caeea0ba57a29dba3fed7
	b2sums = 24382e79e7ad210fa1ff800668a71137b8589ac53a8970996db662a606fd13eb6852a8d1023d64804a9cf30e5b885c2519fd5baccdbb9c030281957d2907e4b8
	b2sums = 8c2efe592dadf7ed734212ecdc4db858807dbbfbdbec21d56359d1e25e27fd82f1214e792717366f7a599238cd581ae6497097311832a7ad8b0a771db59a44ee
	b2sums = a7d23af713fe5912bc68ba7940404df5a52dece08d29847b8213c13dabf4c05c4b4263180d654fae11d3740a002366fca4c0443179036b13e551289450d494e1
	b2sums = fff0dec06b21e391783cc136790238acb783780eaedcf14875a350e7ceb46fdc100c8b9e3f09fb7f4c2196c25d4c6b61e574c0dad762d94533b628faab68cf5c
	b2sums = 4cede03c08758ccd6bf53a0d0057d7542dfdd0c93d342e89f3b90460be85518a9fd24958d8b1da2b5a09b5ddbee8a4263982194158e171c2bba3e394d88d6dac
	b2sums = 77c4b166f1200e1ee2ab94a5014acd334c1fe4b7d72851d73768d491c56c6779a0882a304c1f30c88732a6168351f0f786b10516ae537cff993892a749175848
	b2sums = 35e8548611c51ee75f4d04926149e5e54870d7073d9b635d550a6fa0f85891f57f326bdbcff3dd8618cf40f8e08cf903ef87d9c034d5921d8b91e1db842cdd7c
	b2sums = 2cff6626624d03f70f1662af45a8644c28a9f92e2dfe38999bef3ba4a4c1ce825ae598277e9cb7abd5585eebfb17b239effc8d0bbf1c6ac196499f0d288e5e01

pkgname = mesa
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libelf
	depends = libglvnd
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxfixes
	depends = libxshmfence
	depends = libxxf86vm
	depends = llvm-libs
	depends = lm_sensors
	depends = wayland
	depends = zlib
	depends = zstd
	depends = libomxil-bellagio
	optdepends = opengl-man-pages: for the OpenGL API man pages
	provides = mesa-libgl
	provides = opengl-driver
	conflicts = mesa-libgl
	replaces = mesa-libgl

pkgname = libva-mesa-driver
	pkgdesc = Open-source VA-API drivers
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libelf
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = llvm-libs
	depends = zlib
	depends = zstd
	provides = libva-driver

pkgname = mesa-vdpau
	pkgdesc = Open-source VDPAU drivers
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libelf
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = llvm-libs
	depends = zlib
	depends = zstd
	provides = vdpau-driver

pkgname = vulkan-intel
	pkgdesc = Open-source Vulkan driver for Intel GPUs
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver

pkgname = opencl-clover-mesa
	pkgdesc = Open-source OpenCL drivers - Clover variant
	depends = clang
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libelf
	depends = llvm-libs
	depends = spirv-llvm-translator
	depends = spirv-tools
	depends = zlib
	depends = zstd
	depends = libclc
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver
	conflicts = opencl-mesa
	replaces = opencl-mesa<=23.1.4-1

pkgname = opencl-rusticl-mesa
	pkgdesc = Open-source OpenCL drivers - RustICL variant
	depends = clang
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libelf
	depends = llvm-libs
	depends = spirv-llvm-translator
	depends = spirv-tools
	depends = zlib
	depends = zstd
	depends = libclc
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver
	conflicts = opencl-mesa
	replaces = opencl-mesa<=23.1.4-1

pkgname = vulkan-powervr
	pkgdesc = Imagination PowerVR Vulkan mesa driver
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver

pkgname = vulkan-radeon
	pkgdesc = Open-source Vulkan driver for AMD GPUs
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libelf
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = llvm-libs
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver

pkgname = vulkan-swrast
	pkgdesc = Open-source Vulkan driver for CPUs (Software Rasterizer)
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = llvm-libs
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver
	conflicts = vulkan-mesa
	replaces = vulkan-mesa

pkgname = vulkan-virtio
	pkgdesc = Open-source Vulkan driver for Virtio-GPU (Venus)
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver

pkgname = vulkan-mesa-layers
	pkgdesc = Mesa's Vulkan layers
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libxcb
	depends = wayland
	depends = python
	conflicts = vulkan-mesa-layer
	replaces = vulkan-mesa-layer

pkgname = vulkan-nouveau
	pkgdesc = Open-source Vulkan driver for Nvidia GPUs
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver
