pkgbase = python-argparse-manpage
	pkgdesc = Automatically build man-pages for your Python project
	pkgver = 4.7
	pkgrel = 2
	url = https://github.com/praiskup/argparse-manpage
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pip
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = https://github.com/praiskup/argparse-manpage/releases/download/v4.7/argparse_manpage-4.7.tar.gz
	sha512sums = 88c2e0e0747f5950b131d5456b1bc153e64d11ca41d87e3c995d91f7ffb662685a5c58f7ea99f011151aa72e45a5bcab98ac6729e20a19d086a7798d9c783452

pkgname = python-argparse-manpage
