pkgbase = python-wheel
	pkgdesc = A built-package format for Python
	pkgver = 0.44.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/wheel
	arch = any
	license = MIT
	checkdepends = python-jsonschema
	checkdepends = python-pytest
	checkdepends = python-keyring
	checkdepends = python-keyrings-alt
	checkdepends = python-xdg
	checkdepends = python-pytest-cov
	checkdepends = python-setuptools
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python-packaging
	optdepends = python-keyring: for wheel.signatures
	optdepends = python-xdg: for wheel.signatures
	source = python-wheel-0.44.0.tar.gz::https://github.com/pypa/wheel/archive/0.44.0.tar.gz
	sha512sums = 1ffd45d988f713876f4856a947ad14736f590e4592797bbd5120b7751fc7e86043fbf9c75d405f410caaaf274f2c863bbef87ff0b663803651facd6acf50452b

pkgname = python-wheel
