pkgbase = python-wheel
	pkgdesc = A built-package format for Python
	pkgver = 0.48.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/wheel
	arch = any
	license = MIT
	checkdepends = python-jsonschema
	checkdepends = python-pytest
	checkdepends = python-keyring
	checkdepends = python-keyrings-alt
	checkdepends = python-xdg
	checkdepends = python-setuptools
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	depends = python-packaging
	optdepends = python-keyring: for wheel.signatures
	optdepends = python-xdg: for wheel.signatures
	optdepends = python-setuptools: for legacy bdist_wheel subcommand
	source = python-wheel-0.48.0.tar.gz::https://github.com/pypa/wheel/archive/0.48.0.tar.gz
	sha512sums = 2eb1b9d8f24b9f7221d24a49b54352f001df778172828d7d58626fd5b5463109cef7fbbdc48548c128b8cdf99a4b76a833f4092d758239375ede7285dfa7c701

pkgname = python-wheel
