pkgbase = ruby-minitest-hooks
	pkgdesc = Around and before_all/after_all/around_all hooks for Minitest
	pkgver = 1.5.2
	pkgrel = 3
	url = https://github.com/jeremyevans/minitest-hooks
	arch = any
	license = MIT
	makedepends = git
	makedepends = ruby-minitest-global_expectations
	makedepends = ruby-rake
	makedepends = ruby-rdoc
	makedepends = ruby-sequel
	makedepends = ruby-sqlite3
	depends = ruby
	depends = ruby-minitest
	options = !emptydirs
	source = git+https://github.com/jeremyevans/minitest-hooks.git#tag=1.5.2
	sha256sums = 25907325542707bb490f462926d6d12bf2881b7b0726fa8d2240b77a3c362070

pkgname = ruby-minitest-hooks
