pkgbase = libwpe
	pkgdesc = General-purpose library for WPE WebKit
	pkgver = 1.16.0
	pkgrel = 3
	url = https://wpewebkit.org
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = BSD-2-Clause
	makedepends = clang
	makedepends = git
	makedepends = hotdoc
	makedepends = llvm
	makedepends = mesa
	makedepends = meson
	depends = gcc-libs
	depends = glibc
	depends = libegl
	depends = libxkbcommon
	source = git+https://github.com/WebPlatformForEmbedded/libwpe?signed#tag=1.16.0
	validpgpkeys = 5AA3BC334FD7E3369E7C77B291C559DBE4C9123B
	b2sums = 51a8265ad9f3a025973d256d66a3fb572f180f7adcfb2b1d931ee3630803c3fd9e8dab32f06e93544a468721ab147bb6d39e35ff654b5c96ccd3557400222bde

pkgname = libwpe
	provides = libwpe-1.0.so

pkgname = libwpe-docs
	pkgdesc = General-purpose library for WPE WebKit (documentation)
	depends = 
