pkgbase = libthai
	pkgdesc = Thai language support library
	pkgver = 0.1.30
	pkgrel = 1
	url = https://linux.thai.net/projects/libthai
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL-2.1-or-later
	makedepends = autoconf-archive
	makedepends = doxygen
	makedepends = git
	depends = glibc
	depends = libdatrie
	source = git+https://github.com/tlwg/libthai.git#tag=v0.1.30
	b2sums = b098f6dfdfc23b77e9b56861cdb71897e7d77a9c5d2196119192ff80c592b78bf580006b56134641b5e3882a833f983ac471a19991fc94b6cb165377a828ff07

pkgname = libthai
