pkgbase = python-hatchling
	pkgdesc = Extensible, standards compliant build backend used by Hatch
	pkgver = 1.28.0
	pkgrel = 3
	url = https://github.com/pypa/hatch/tree/master/backend
	arch = any
	groups = python-build-backend
	license = MIT
	checkdepends = libxcrypt-compat
	checkdepends = python-click
	checkdepends = python-filelock
	checkdepends = python-hatch-vcs
	checkdepends = python-pytest
	checkdepends = python-rich
	checkdepends = python-tomli-w
	checkdepends = python-uv
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = python-editables
	depends = python-packaging
	depends = python-pathspec
	depends = python-pluggy
	depends = python-trove-classifiers
	source = https://github.com/pypa/hatch/archive/hatchling-v1.28.0.tar.gz
	sha256sums = 3a52e40675ab341eab0720fe22cbd82b6a0d18a6445e2ce6bb9aebb831ca79cd

pkgname = python-hatchling
