pkgbase = python-hatchling
	pkgdesc = Extensible, standards compliant build backend used by Hatch
	pkgver = 1.25.0
	pkgrel = 2
	url = https://github.com/pypa/hatch/tree/master/backend
	arch = any
	groups = python-build-backend
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = python-packaging
	depends = python-pathspec
	depends = python-pluggy
	depends = python-editables
	depends = python-trove-classifiers
	source = https://github.com/pypa/hatch/archive/refs/tags/hatchling-v1.25.0.tar.gz
	sha256sums = 0d8d66b687b8e765d19d2d0560f182457aa78cdbc45fef9430655ccaf1cd34b1

pkgname = python-hatchling
