pkgbase = gnome-desktop
	pkgdesc = Provides API shared by several apps on the GNOME desktop
	pkgver = 44.5
	pkgrel = 1
	epoch = 1
	url = https://gitlab.gnome.org/GNOME/gnome-desktop
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	checkdepends = xorg-server-xvfb
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = gtk3
	makedepends = gtk4
	makedepends = meson
	makedepends = systemd
	makedepends = yelp-tools
	depends = bubblewrap
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gsettings-desktop-schemas
	depends = iso-codes
	depends = libgcc
	depends = libseccomp
	depends = libxkbcommon
	depends = systemd-libs
	depends = xkeyboard-config
	source = git+https://gitlab.gnome.org/GNOME/gnome-desktop.git#tag=44.5
	b2sums = f74ddc9f55508ff1a8ed8d2ac22286162bfabf49335f38a8eeb9d0d1084f3f8f54ce37a406ca0eb038a3dbc4b6d7327bb3f3654e42c5a7578687bd19e13d56a1

pkgname = gnome-desktop-common
	pkgdesc = Provides API shared by several apps on the GNOME desktop (common files)
	depends = 

pkgname = gnome-desktop
	pkgdesc = Provides API shared by several apps on the GNOME desktop using GTK 3
	depends = bubblewrap
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gsettings-desktop-schemas
	depends = iso-codes
	depends = libgcc
	depends = libseccomp
	depends = libxkbcommon
	depends = systemd-libs
	depends = xkeyboard-config
	depends = gnome-desktop-common=1:44.5-1
	depends = gtk3
	provides = libgnome-desktop-3.so

pkgname = gnome-desktop-4
	pkgdesc = Provides API shared by several apps on the GNOME desktop using GTK 4
	depends = bubblewrap
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gsettings-desktop-schemas
	depends = iso-codes
	depends = libgcc
	depends = libseccomp
	depends = libxkbcommon
	depends = systemd-libs
	depends = xkeyboard-config
	depends = gnome-desktop-common=1:44.5-1
	depends = gtk4
	provides = libgnome-bg-4.so
	provides = libgnome-desktop-4.so
	provides = libgnome-rr-4.so

pkgname = gnome-desktop-docs
	pkgdesc = Provides API shared by several apps on the GNOME desktop (documentation)
	depends = 
