pkgbase = openexr
	pkgdesc = A high dynamic-range image file format library
	pkgver = 3.3.3
	pkgrel = 1
	url = https://www.openexr.com/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = imath
	depends = libdeflate
	source = git+https://github.com/openexr/openexr#tag=v3.3.3
	source = openexr-3.3.3-32bit-atomics.patch
	sha256sums = b23d696cea2ed567161ab2172b56a1500084b9608a9a15a37e5bea5c28f2b7a4
	sha256sums = e88b851dafb7ecb34b8dce94b8f935cab6b3e1821a56289f6ea1ae0650361bdd

pkgname = openexr
