pkgbase = libsidplayfp
	pkgdesc = Library to play Commodore 64 music
	pkgver = 2.16.0
	pkgrel = 1
	url = https://github.com/libsidplayfp/libsidplayfp
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-only
	makedepends = git
	makedepends = vice
	makedepends = xa
	makedepends = libusb
	depends = glibc
	depends = gcc-libs
	depends = libgcrypt
	optdepends = vice: better SID support
	optdepends = libusb: USBSID support
	source = libsidplayfp::git+https://github.com/libsidplayfp/libsidplayfp#tag=v2.16.0
	source = github.com-libsidplayfp-exsid-driver::git+https://github.com/libsidplayfp/exsid-driver
	source = github.com-libsidplayfp-resid::git+https://github.com/libsidplayfp/resid
	sha512sums = 25f4692b6e5feb6c9097ea5d5bd82db2c0dd11db9b1da19962b98211a8de37b667f58a0335867d208dc53fe88da7c2234c4f737b1ad3d8a3661b15b906e1cdbe
	sha512sums = SKIP
	sha512sums = SKIP
	b2sums = 723a159ac57c159c72ab0eb437f3871eba7836a19d0cbfb346c2d8b9e2e26f5dde2ea7afb97e9c99fe1ea89c133ffec75d7477c43fba700c61eec1e2578bf992
	b2sums = SKIP
	b2sums = SKIP

pkgname = libsidplayfp
