pkgbase = python-josepy
	pkgdesc = JOSE protocol implementation in Python
	pkgver = 1.14.0
	pkgrel = 2
	url = https://github.com/certbot/josepy
	arch = any
	license = Apache
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python
	depends = python-cryptography
	depends = python-pyopenssl
	source = python-josepy::git+https://github.com/certbot/josepy#commit=a6861675bc943026e8c0d5c550e17eba23289547
	source = no-thanks-poetry.patch
	b2sums = SKIP
	b2sums = b7bf362e953247424fadea853b3c7be9977021b7d109d240ced847b9271c739e6dfcf8025efbdd9bb746dc42e21905cb1c9c93982d4e39dab60354ab06c6e76a

pkgname = python-josepy
