pkgbase = jruby
	pkgdesc = 100% pure-Java implementation of the Ruby programming language
	pkgver = 10.0.5.0
	pkgrel = 1
	url = https://www.jruby.org/
	arch = any
	license = (EPL-2.0 OR GPL-2.0-only OR LGPL-2.1-only) AND BSD-3-Clause AND MIT AND MIT-0 AND Apache-2.0 AND Ruby
	depends = bash
	depends = glibc
	depends = java-runtime-headless
	depends = libgcc
	options = !debug
	options = !strip
	source = https://repo1.maven.org/maven2/org/jruby/jruby-dist/10.0.5.0/jruby-dist-10.0.5.0-bin.tar.gz
	source = https://repo1.maven.org/maven2/org/jruby/jruby-dist/10.0.5.0/jruby-dist-10.0.5.0-bin.tar.gz.asc
	validpgpkeys = 416952B945B78A34C6C7678562EBFC78FE4156D1
	md5sums = 0484e55c4f7057ce84950083290e7fd0
	md5sums = SKIP
	sha1sums = 4ee41055d54bf36d8bf88b1b1a733917b0f68840
	sha1sums = SKIP
	sha256sums = 6b3aa0340bd60a2b131e12490bb498c45359d9c91e477f5760c3aa18e37d1988
	sha256sums = SKIP
	b2sums = 48db4f26d5796190c45630b6ce1825d3dccae2f9bb83339da0e5145e1412f7d451b94f08be72b21dcdac5a0f8850ce98a88d4f913f7fcd4c54a6db9a5227d17a
	b2sums = SKIP

pkgname = jruby
