pkgbase = libphonenumber
	pkgdesc = Google's common library for parsing, formatting, and validating international phone numbers
	pkgver = 8.13.40
	pkgrel = 1
	epoch = 1
	url = https://github.com/googlei18n/libphonenumber
	arch = x86_64
	license = Apache-2.0 AND BSD-3-Clause
	makedepends = cmake
	makedepends = git
	makedepends = gtest
	makedepends = jre-openjdk-headless
	depends = abseil-cpp
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = protobuf
	source = git+https://github.com/googlei18n/libphonenumber#tag=v8.13.40
	source = 0001-Use-find_package-for-protobuf.patch
	b2sums = 965eb1edc552335c38fe6741ad04381c209cb4d4a7e2ab6a3cf74a8876cf0ba113b6f375442955b2ee945f28eab36c620d572577b6bf345e27ac9f4d01c18ad9
	b2sums = 8fc1c65d863051052bb1cb3759a252a3b36a9dffa1335eae4d043821797651e57ca8902cced0672d3c47192b50b9b54436a1551ce65b2e9a4bd82351a58ef1ac

pkgname = libphonenumber
	depends = abseil-cpp
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = protobuf
	depends = libicuuc.so
	depends = libicui18n.so
	depends = libprotobuf.so
	provides = libgeocoding.so
	provides = libphonenumber.so
