pkgbase = kmod
	pkgdesc = Linux kernel module management tools and library
	pkgver = 33
	pkgrel = 3.1
	url = https://git.kernel.org/pub/scm/utils/kernel/kmod/kmod.git
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = LGPL-2.1-or-later
	license = GPL-2.0-or-later
	checkdepends = linux-headers
	checkdepends = libelf
	makedepends = git
	makedepends = scdoc
	depends = glibc
	depends = zlib
	depends = openssl
	depends = xz
	depends = zstd
	provides = libkmod.so
	options = strip
	source = git+https://git.kernel.org/pub/scm/utils/kernel/kmod/kmod.git#tag=v33?signed
	source = depmod-search.conf
	source = depmod.hook
	source = depmod.script
	validpgpkeys = EAB33C9690013C733916AC839BA2A5A630CBEA53
	sha256sums = f5795fe50a747609d70f764244e645cd946074e70a7e51de0f82bd2e4d0612c8
	sha256sums = 1a92bfeae870f61ce814577e69d2a147a9c0caf6aed1131243e4179241fcc4a8
	sha256sums = c11c2a0f66ea405493e8617689ca10818dc81dd1dddc19bdb220c8b2917119c1
	sha256sums = 18661aa40c25580f04d2ac3f32e54c2997c0994d1c829905537b413a9d291ac6

pkgname = kmod
