pkgbase = python-more-itertools
	pkgdesc = More routines for operating on iterables, beyond itertools
	pkgver = 10.6.0
	pkgrel = 1
	url = https://github.com/more-itertools/more-itertools
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-flit-core
	depends = python
	source = more-itertools-10.6.0.tar.gz::https://github.com/more-itertools/more-itertools/archive/refs/tags/v10.6.0.tar.gz
	sha512sums = 881679b0482f754685e21ca74a86a0d5743601c1da687d1665624b981705847ebd729822c6591cba6c3925baac622a89119222854d12b81900fcca6b6f6a6a65
	b2sums = f8699f9db488b23aa585726c72533e72a8d06fe688aee0883c4de4bceb945cbf4949d9b53d4c4c6f311667ab1920f713986f6acba94f0640ceb6bc2ad8202efe

pkgname = python-more-itertools
