pkgbase = python-boto3
	pkgdesc = The AWS SDK for Python
	pkgver = 1.40.16
	pkgrel = 1
	url = https://github.com/boto/boto3
	arch = any
	license = Apache-2.0
	checkdepends = python-awscrt
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-botocore
	depends = python-jmespath
	depends = python-s3transfer
	optdepends = python-awscrt: AWS CRT S3 transfers
	source = https://github.com/boto/boto3/archive/1.40.16/python-boto3-1.40.16.tar.gz
	sha512sums = da130875233a453f1eef0dbbf1822c0cf8b67e6361c5f0c1186be97360d0e720614d3d17600fac461813aff213538544a5ab991fffd31bfae59722741e8dee35

pkgname = python-boto3
