pkgbase = python-boto3
	pkgdesc = The AWS SDK for Python
	pkgver = 1.37.1
	pkgrel = 1
	url = https://github.com/boto/boto3
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = python-awscrt
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-botocore
	depends = python-jmespath
	depends = python-s3transfer
	optdepends = python-awscrt: AWS CRT S3 transfers
	source = python-boto3-1.37.1.tar.gz::https://github.com/boto/boto3/archive/1.37.1.tar.gz
	sha512sums = b57b0ba09bae819ff3d4df721d5fcf89bb7f6cfcfd08d9012e468663941b7d6ea1f6d9f05970db6bc847935a85a72c511402c017a70a8ed7353dadf42ba59fde

pkgname = python-boto3
