pkgbase = xmlto
	pkgdesc = Convert xml to many other formats
	pkgver = 0.0.29
	pkgrel = 1.2
	url = https://pagure.io/xmlto/
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	makedepends = docbook-xsl
	depends = libxslt
	source = https://pagure.io/xmlto/archive/0.0.29/xmlto-0.0.29.tar.gz
	md5sums = 556f2642cdcd005749bd4c08bc621c37
	sha256sums = 40504db68718385a4eaa9154a28f59e51e59d006d1aa14f5bc9d6fded1d6017a

pkgname = xmlto
