pkgbase = python-orjson
	pkgdesc = Fast, correct Python JSON library supporting dataclasses and datetimes
	pkgver = 3.10.7
	pkgrel = 1
	url = https://github.com/ijl/orjson
	arch = x86_64
	license = Apache-2.0
	license = MIT
	checkdepends = python-arrow
	checkdepends = python-pendulum
	checkdepends = python-psutil
	checkdepends = python-pytest
	checkdepends = python-pytz
	checkdepends = python-xxhash
	makedepends = maturin
	makedepends = python-installer
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	depends = python
	source = https://github.com/ijl/orjson/archive/3.10.7/orjson-3.10.7.tar.gz
	sha512sums = 71e4a243567ad6b2ab93cf46f9df83f61b6989b4f7ee200fd0c6cc743fb0d3747a718fa49a8043c57fc6c2d6efc5306672fd127518e02d8ba2db7122a7f3fe2c
	b2sums = 6e804cdfba0d8e995b8cf0ac3d74ba51a226b02de87838881fc0e2bded666936aa4e2c0dc18bf1baf9a645463241908b4c921f1d260fbe53e420b2c674e0a66f

pkgname = python-orjson
