pkgbase = python-orjson
	pkgdesc = Fast, correct Python JSON library supporting dataclasses and datetimes
	pkgver = 3.10.13
	pkgrel = 1
	url = https://github.com/ijl/orjson
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = Apache-2.0
	license = MIT
	checkdepends = python-arrow
	checkdepends = python-pendulum
	checkdepends = python-psutil
	checkdepends = python-pytest
	checkdepends = python-pytz
	checkdepends = python-xxhash
	makedepends = maturin
	makedepends = python-installer
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	depends = python
	source = https://github.com/ijl/orjson/archive/3.10.13/orjson-3.10.13.tar.gz
	sha512sums = 74c911511a3b3c986466583ceb371c933002bdee1de2fc3c87474a6f4748ba51091835784246680b6185925e169a0ddaed9057e210e9aa83ad3618bb5fd1ab4f
	b2sums = 5fd04d1babfca76d4186704dae103cbb3e204bc47c75bcf6b2dfbbb0426eb93523917eb63b435fc2a88643e5b4e73d03c5842ce01b71c7e7a82035b75f6aa267

pkgname = python-orjson
