pkgbase = python-blockbuster
	pkgdesc = Utility to detect blocking calls in the async event loop
	pkgver = 1.5.26
	pkgrel = 2
	url = https://github.com/cbornet/blockbuster
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-requests
	makedepends = git
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-forbiddenfruit
	source = git+https://github.com/cbornet/blockbuster.git#tag=v1.5.26
	sha256sums = d58d4de1299b0864c3f3b7ad77caea9a8f8e4eb45af81db5cf70dd7fbb0f114d

pkgname = python-blockbuster
