pkgbase = libnghttp3
	pkgdesc = HTTP/3 library written in C
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/ngtcp2/nghttp3
	arch = x86_64
	license = MIT
	provides = libnghttp3.so
	source = libnghttp3-1.1.0.tar.gz::https://github.com/ngtcp2/nghttp3/archive/refs/tags/v1.1.0.tar.gz
	sha256sums = b3ffb23a90442a0eafe8bfbefbc8b4ffb5179d68a7c0b8a416a34cf04b28d7c5

pkgname = libnghttp3
