pkgbase = lxqt-panel
	pkgdesc = The LXQt desktop panel
	pkgver = 2.3.2
	pkgrel = 1
	url = https://github.com/lxqt/lxqt-panel
	arch = x86_64
	groups = lxqt
	license = LGPL2.1
	makedepends = lxqt-build-tools
	makedepends = liblxqt
	makedepends = libpulse
	makedepends = libstatgrab
	makedepends = libsysstat
	makedepends = lm_sensors
	makedepends = libxdamage
	makedepends = alsa-lib
	depends = libdbusmenu-lxqt
	depends = lxqt-menu-data
	depends = lxqt-themes
	depends = libxtst
	depends = lxqt-globalkeys
	depends = solid
	depends = libxcb
	depends = libQt6Xdg.so
	depends = layer-shell-qt
	optdepends = libpulse: Volume control plugin
	optdepends = alsa-lib: Volume control plugin
	optdepends = libstatgrab: CPU monitor and Network monitor plugins
	optdepends = libsysstat: System Statistics plugin
	optdepends = lm_sensors: Sensors plugin
	source = https://github.com/lxqt/lxqt-panel/releases/download/2.3.2/lxqt-panel-2.3.2.tar.xz
	source = https://github.com/lxqt/lxqt-panel/releases/download/2.3.2/lxqt-panel-2.3.2.tar.xz.asc
	validpgpkeys = 169704C6FB490C6892C7F23C37E0AF1FDA48F373
	validpgpkeys = 7C733BA5F585AAD669E4D23A42C9C8D3AF5EA5E3
	validpgpkeys = 19DFDF3A579BD509DBB572D8BE793007AD22DF7E
	sha256sums = f1ab0a2a645765045078621b6a510ec61685fbe4446422f9f9fb1cded62eb2d0
	sha256sums = SKIP

pkgname = lxqt-panel
