pkgbase = dmidecode
	pkgdesc = Desktop Management Interface table related utilities
	pkgver = 3.7
	pkgrel = 1
	url = https://www.nongnu.org/dmidecode
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-or-later
	depends = glibc
	source = https://download.savannah.gnu.org/releases/dmidecode/dmidecode-3.7.tar.xz
	source = https://download.savannah.gnu.org/releases/dmidecode/dmidecode-3.7.tar.xz.sig
	validpgpkeys = 7CA69F4460F1BDC41FD2C858A5526B9BB3CD4E6A
	sha256sums = 2c3aed12c85a1e6a9410d406d5e417c455466dc1bc7c89278bb32cf7cad91e8a
	sha256sums = SKIP

pkgname = dmidecode
