pkgbase = libdbi
	pkgdesc = Database independant abstraction layer for C
	pkgver = 0.9.0
	pkgrel = 6
	url = http://libdbi.sourceforge.net/
	arch = x86_64
	license = LGPL
	depends = glibc
	options = !emptydirs
	source = https://downloads.sourceforge.net/libdbi/libdbi-0.9.0.tar.gz
	sha256sums = dafb6cdca524c628df832b6dd0bf8fabceb103248edb21762c02d3068fca4503

pkgname = libdbi

pkgname = libdbi-docs
	pkgdesc = Developer documentation for libdbi
	depends = 
