pkgbase = ruby-covered
	pkgdesc = A modern approach to code coverage
	pkgver = 0.27.0
	pkgrel = 4
	url = https://github.com/socketry/covered
	arch = any
	license = MIT
	checkdepends = ruby-bake
	checkdepends = ruby-bake-test
	checkdepends = ruby-bake-test-external
	checkdepends = ruby-bundler
	checkdepends = ruby-decode
	checkdepends = ruby-minitest
	checkdepends = ruby-rspec
	checkdepends = ruby-sus
	checkdepends = ruby-xrb
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-console
	depends = ruby-msgpack
	options = !emptydirs
	source = https://github.com/socketry/covered/archive/v0.27.0/ruby-covered-0.27.0.tar.gz
	sha512sums = fc206f83f71e1e2236d1f01f3afe647508dda9928a6372e1a1a7088d02335f2ad50d0ac49647b1bebcc659f8a9625ce0ec2bd1920c96d1ed2e464d654b13be37
	b2sums = b0246bec700fca9ed79583f62b9a6e264c142f23cc50c6379476131bc221bc7fdc2638bcadf29aae32917e14c56af2a741bfa967017e01cc931acdfbae1ca4de

pkgname = ruby-covered
