pkgbase = ruby-covered
	pkgdesc = A modern approach to code coverage
	pkgver = 0.30.0
	pkgrel = 1
	url = https://github.com/socketry/covered
	arch = any
	license = MIT
	checkdepends = ruby-bake
	checkdepends = ruby-bake-test
	checkdepends = ruby-bake-test-external
	checkdepends = ruby-bundler
	checkdepends = ruby-decode
	checkdepends = ruby-minitest
	checkdepends = ruby-rspec
	checkdepends = ruby-sus
	checkdepends = ruby-xrb
	makedepends = git
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-console
	depends = ruby-msgpack
	depends = ruby-ruby-coverage
	options = !emptydirs
	source = git+https://github.com/socketry/covered.git#tag=v0.30.0
	sha512sums = ae17037b6c9e1e80da91f4bf9552ef7a5ec535fbd850f72677eba9f35b6569b8716d1b62481f8441b7a43f2c51a4505d6b2dc13887bcd30d42868ee2e809ff32
	b2sums = 18c0a542c6b0cc1cbd6a85f817cf8c8f008fa3ae1cac70ecb7f14a4ac8209025b0b44b70484a121a305089c1bd79ded157a0532bf39bd978822f22272addb011

pkgname = ruby-covered
