pkgbase = python-msgpack
	pkgdesc = MessagePack serializer implementation for Python
	pkgver = 1.1.2
	pkgrel = 2
	url = https://github.com/msgpack/msgpack-python
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = cython
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = msgpack-python-1.1.2.tar.gz::https://github.com/msgpack/msgpack-python/archive/v1.1.2.tar.gz
	sha512sums = bd5bc3498875fd17fcfaeb1a79c49e61313976341950c385cacbe3c6cf85bf1acfc9ccf06046ddeb1848f52929f1d71aac6b67bac41479c1333e42bd1d461542

pkgname = python-msgpack
