pkgbase = b43-tools
	pkgdesc = A collection of firmware and debugging tools for the b43 wireless driver
	pkgver = 20250331
	pkgrel = 1
	url = https://github.com/mbuesch/b43-tools
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	license = GPL-2.0-only
	makedepends = git
	depends = glibc
	depends = python2
	provides = b43-fwcutter
	conflicts = b43-fwcutter
	source = git+https://github.com/mbuesch/b43-tools#commit=4b7e355036497299fee84556ddf9e4921a443c9e
	sha256sums = 835a63dbda657d132bc78dfe6f74b91f882a81c461003a87346a0f3b40fe1e25

pkgname = b43-tools
