pkgbase = python-tokenize-rt
	pkgdesc = Wrapper around the stdlib `tokenize` which roundtrips
	pkgver = 5.2.0
	pkgrel = 3
	url = https://github.com/asottile/tokenize-rt
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = https://github.com/asottile/tokenize-rt/archive/v5.2.0/tokenize-rt-5.2.0.tar.gz
	b2sums = a81251b6b8b336a6b1b1095e0b31456e834196fc2174958299ac293e5fc979dcdd2b4fc9c7e2e231e73fd09e116d0538dadf9436b4efdcf1390b2db9a025a4b8

pkgname = python-tokenize-rt
