pkgbase = libpagemaker
	pkgdesc = a library that parses the file format of Aldus/Adobe PageMaker documents
	pkgver = 0.0.4
	pkgrel = 4
	url = https://wiki.documentfoundation.org/DLP/Libraries/libpagemaker
	arch = x86_64
	license = MPL-2.0
	makedepends = boost
	makedepends = doxygen
	depends = librevenge
	depends = gcc-libs
	depends = glibc
	source = https://dev-www.libreoffice.org/src/libpagemaker/libpagemaker-0.0.4.tar.xz
	source = libpagemaker-0.0.4-const-ref-exception.patch
	sha256sums = 66adacd705a7d19895e08eac46d1e851332adf2e736c566bef1164e7a442519d
	sha256sums = 91d9ce17b04e2fb5009967bb38da3405cb231b05c2cb29e204aaab328a58f7e2

pkgname = libpagemaker
