pkgbase = libblockdev
	pkgdesc = A library for manipulating block devices
	pkgver = 3.2.1
	pkgrel = 3
	url = https://github.com/storaged-project/libblockdev
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = LGPL-2.1-or-later
	makedepends = autoconf-archive
	makedepends = btrfs-progs
	makedepends = cryptsetup
	makedepends = device-mapper
	makedepends = dosfstools
	makedepends = e2fsprogs
	makedepends = exfatprogs
	makedepends = gcc-libs
	makedepends = glib2
	makedepends = glibc
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = json-glib
	makedepends = kmod
	makedepends = keyutils
	makedepends = libatasmart
	makedepends = libbytesize
	makedepends = libnvme
	makedepends = libyaml
	makedepends = lvm2
	makedepends = mdadm
	makedepends = ndctl
	makedepends = nss
	makedepends = parted
	makedepends = python
	makedepends = systemd-libs
	makedepends = util-linux
	makedepends = util-linux-libs
	makedepends = volume_key
	source = https://github.com/storaged-project/libblockdev/releases/download/3.2.1/libblockdev-3.2.1.tar.gz
	sha512sums = f810233932f399f1fbcef8352bd7179a1bf586b3bc73792d11e7b5e781a3d9e712fd7b2054ef4f54d774b98b92599993a3b6b1ec470838283862c5d1f2cc5dba
	b2sums = 75a74e327ace4f5d87d7a1c085f38b734ef84a5165055375354932f7f171de7ea558ed6ac87475423b3c184afa383d9c4a6cd9dae60d0ec31718ba9da8f50c77

pkgname = libblockdev
	depends = glib2
	depends = libglib-2.0.so
	depends = libgio-2.0.so
	depends = libgobject-2.0.so
	depends = glibc
	depends = kmod
	depends = libkmod.so
	depends = systemd-libs
	depends = libudev.so
	optdepends = libblockdev-btrfs: for BTRFS support
	optdepends = libblockdev-crypto: for crypto support
	optdepends = libblockdev-dm: for device-mapper support
	optdepends = libblockdev-fs: for filesystem support
	optdepends = libblockdev-loop: for loop device support
	optdepends = libblockdev-lvm: for LVM support
	optdepends = libblockdev-mdraid: for MDRAID support
	optdepends = libblockdev-mpath: for multipath support
	optdepends = libblockdev-nvdimm: for NVDIMM support
	optdepends = libblockdev-nvme: for NVME support
	optdepends = libblockdev-part: for partitioning support
	optdepends = libblockdev-smart: for S.M.A.R.T. support
	optdepends = libblockdev-swap: for swap support
	optdepends = python-libblockdev: for Python support
	provides = libbd_utils.so
	provides = libblockdev.so
	conflicts = libblockdev-utils
	replaces = libblockdev-utils

pkgname = libblockdev-btrfs
	pkgdesc = A library for manipulating block devices - BTRFS support
	depends = btrfs-progs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	depends = libbytesize
	provides = libbd_btrfs.so

pkgname = libblockdev-crypto
	pkgdesc = A library for manipulating block devices - crypto support
	depends = cryptsetup
	depends = libcryptsetup.so
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = keyutils
	depends = libkeyutils.so
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	depends = nss
	depends = util-linux-libs
	depends = libblkid.so
	depends = volume_key
	provides = libbd_crypto.so

pkgname = libblockdev-dm
	pkgdesc = A library for manipulating block devices - device mapper support
	depends = device-mapper
	depends = libdevmapper.so
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	provides = libbd_dm.so

pkgname = libblockdev-fs
	pkgdesc = A library for manipulating block devices - filesystem support
	depends = e2fsprogs
	depends = libext2fs.so
	depends = libe2p.so
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	depends = libbytesize
	depends = parted
	depends = util-linux-libs
	depends = libblkid.so
	depends = libmount.so
	depends = libuuid.so
	optdepends = btrfs-progs: for BTRFS filesystem support
	optdepends = dosfstools: for VFAT filesystem support
	optdepends = exfatprogs: for exFAT filesystem support
	optdepends = f2fs-tools: for F2FS filesystem support
	optdepends = nilfs-utils: for nilfs filesystem support
	optdepends = ntfs-3g: for NTFS filesystem support
	optdepends = udftools: for UDF filesystem support
	optdepends = xfsprogs: for XFS filesystem support
	provides = libbd_fs.so
	conflicts = libblockdev-tools
	replaces = libblockdev-tools

pkgname = libblockdev-loop
	pkgdesc = A library for manipulating block devices - loop device support
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	provides = libbd_loop.so

pkgname = libblockdev-lvm
	pkgdesc = A library for manipulating block devices - LVM support
	depends = device-mapper
	depends = libdevmapper.so
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	depends = libblockdev.so
	depends = libyaml
	depends = libbytesize
	provides = libbd_lvm.so
	provides = libbd_lvm-dbus.so
	conflicts = libblockdev-lvm-dbus
	conflicts = libblockdev-tools
	replaces = libblockdev-lvm-dbus
	replaces = libblockdev-tools

pkgname = libblockdev-mdraid
	pkgdesc = A library for manipulating block devices - MDRAID support
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	depends = libbytesize
	depends = mdadm
	provides = libbd_mdraid.so

pkgname = libblockdev-mpath
	pkgdesc = A library for manipulating block devices - multipath device support
	depends = device-mapper
	depends = libdevmapper.so
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	provides = libbd_mpath.so

pkgname = libblockdev-nvdimm
	pkgdesc = A library for manipulating block devices - NVDIMM support
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	depends = ndctl
	depends = util-linux-libs
	depends = libuuid.so
	provides = libbd_nvdimm.so

pkgname = libblockdev-nvme
	pkgdesc = A library for manipulating block devices - NVME support
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	depends = libnvme
	provides = libbd_nvme.so

pkgname = libblockdev-part
	pkgdesc = A library for manipulating block devices - partitioning support
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	depends = util-linux-libs
	depends = libfdisk.so
	provides = libbd_part.so

pkgname = libblockdev-smart
	pkgdesc = A library for manipulating block devices - S.M.A.R.T. support
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = json-glib
	depends = libatasmart
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	optdepends = smartmontools: for experimental smartmontools-based plugin
	provides = libbd_smart.so
	provides = libbd_smartmontools.so

pkgname = libblockdev-swap
	pkgdesc = A library for manipulating block devices - swap device support
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.2.1
	depends = libbd_utils.so
	depends = util-linux-libs
	depends = libblkid.so
	provides = libbd_swap.so

pkgname = python-libblockdev
	pkgdesc = A library for manipulating block devices - Python support
	depends = glib2
	depends = libbytesize
	depends = python
	depends = python-gobject
