pkgbase = libblockdev
	pkgdesc = A library for manipulating block devices
	pkgver = 3.3.1
	pkgrel = 1
	url = https://github.com/storaged-project/libblockdev
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL-2.1-or-later
	makedepends = autoconf-archive
	makedepends = btrfs-progs
	makedepends = cryptsetup
	makedepends = device-mapper
	makedepends = dosfstools
	makedepends = e2fsprogs
	makedepends = exfatprogs
	makedepends = gcc-libs
	makedepends = glib2
	makedepends = glibc
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = json-glib
	makedepends = kmod
	makedepends = keyutils
	makedepends = libatasmart
	makedepends = libbytesize
	makedepends = libnvme
	makedepends = libyaml
	makedepends = lvm2
	makedepends = mdadm
	makedepends = ndctl
	makedepends = nss
	makedepends = parted
	makedepends = python
	makedepends = systemd-libs
	makedepends = util-linux
	makedepends = util-linux-libs
	makedepends = volume_key
	source = https://github.com/storaged-project/libblockdev/releases/download/3.3.1/libblockdev-3.3.1.tar.gz
	sha512sums = f9cc15bf19120a8bb77efe82889b15c9435f4c94a1ed677839a1bcfe5bd242719f40221ba2685f4376cc52ec1e8a044f93840cb504fd7574fff1a8dd5e85d477
	b2sums = 4baf4f980df4a71faf085f9e94cd18b0eb64f3f8f0fd68c3bd20b54109709c7cd3aca26cedfa1a8ec9ae4fd44df55a5d4237c3d3fc61a58dbd5288da6f0c0189

pkgname = libblockdev
	depends = glib2
	depends = libglib-2.0.so
	depends = libgio-2.0.so
	depends = libgobject-2.0.so
	depends = glibc
	depends = kmod
	depends = libkmod.so
	depends = systemd-libs
	depends = libudev.so
	optdepends = libblockdev-btrfs: for BTRFS support
	optdepends = libblockdev-crypto: for crypto support
	optdepends = libblockdev-dm: for device-mapper support
	optdepends = libblockdev-fs: for filesystem support
	optdepends = libblockdev-loop: for loop device support
	optdepends = libblockdev-lvm: for LVM support
	optdepends = libblockdev-mdraid: for MDRAID support
	optdepends = libblockdev-mpath: for multipath support
	optdepends = libblockdev-nvdimm: for NVDIMM support
	optdepends = libblockdev-nvme: for NVME support
	optdepends = libblockdev-part: for partitioning support
	optdepends = libblockdev-smart: for S.M.A.R.T. support
	optdepends = libblockdev-swap: for swap support
	optdepends = python-libblockdev: for Python support
	provides = libbd_utils.so
	provides = libblockdev.so
	conflicts = libblockdev-utils
	replaces = libblockdev-utils

pkgname = libblockdev-btrfs
	pkgdesc = A library for manipulating block devices - BTRFS support
	depends = btrfs-progs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	depends = libbytesize
	provides = libbd_btrfs.so

pkgname = libblockdev-crypto
	pkgdesc = A library for manipulating block devices - crypto support
	depends = cryptsetup
	depends = libcryptsetup.so
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = keyutils
	depends = libkeyutils.so
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	depends = nss
	depends = util-linux-libs
	depends = libblkid.so
	depends = volume_key
	provides = libbd_crypto.so

pkgname = libblockdev-dm
	pkgdesc = A library for manipulating block devices - device mapper support
	depends = device-mapper
	depends = libdevmapper.so
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	provides = libbd_dm.so

pkgname = libblockdev-fs
	pkgdesc = A library for manipulating block devices - filesystem support
	depends = e2fsprogs
	depends = libext2fs.so
	depends = libe2p.so
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	depends = libbytesize
	depends = parted
	depends = util-linux-libs
	depends = libblkid.so
	depends = libmount.so
	depends = libuuid.so
	optdepends = btrfs-progs: for BTRFS filesystem support
	optdepends = dosfstools: for VFAT filesystem support
	optdepends = exfatprogs: for exFAT filesystem support
	optdepends = f2fs-tools: for F2FS filesystem support
	optdepends = nilfs-utils: for nilfs filesystem support
	optdepends = ntfs-3g: for NTFS filesystem support
	optdepends = udftools: for UDF filesystem support
	optdepends = xfsprogs: for XFS filesystem support
	provides = libbd_fs.so
	conflicts = libblockdev-tools
	replaces = libblockdev-tools

pkgname = libblockdev-loop
	pkgdesc = A library for manipulating block devices - loop device support
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	provides = libbd_loop.so

pkgname = libblockdev-lvm
	pkgdesc = A library for manipulating block devices - LVM support
	depends = device-mapper
	depends = libdevmapper.so
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	depends = libblockdev.so
	depends = libyaml
	depends = libbytesize
	provides = libbd_lvm.so
	provides = libbd_lvm-dbus.so
	conflicts = libblockdev-lvm-dbus
	conflicts = libblockdev-tools
	replaces = libblockdev-lvm-dbus
	replaces = libblockdev-tools

pkgname = libblockdev-mdraid
	pkgdesc = A library for manipulating block devices - MDRAID support
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	depends = libbytesize
	depends = mdadm
	provides = libbd_mdraid.so

pkgname = libblockdev-mpath
	pkgdesc = A library for manipulating block devices - multipath device support
	depends = device-mapper
	depends = libdevmapper.so
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	provides = libbd_mpath.so

pkgname = libblockdev-nvdimm
	pkgdesc = A library for manipulating block devices - NVDIMM support
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	depends = ndctl
	depends = util-linux-libs
	depends = libuuid.so
	provides = libbd_nvdimm.so

pkgname = libblockdev-nvme
	pkgdesc = A library for manipulating block devices - NVME support
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	depends = libnvme
	provides = libbd_nvme.so

pkgname = libblockdev-part
	pkgdesc = A library for manipulating block devices - partitioning support
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	depends = util-linux-libs
	depends = libfdisk.so
	provides = libbd_part.so

pkgname = libblockdev-smart
	pkgdesc = A library for manipulating block devices - S.M.A.R.T. support
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = json-glib
	depends = libatasmart
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	optdepends = smartmontools: for experimental smartmontools-based plugin
	provides = libbd_smart.so
	provides = libbd_smartmontools.so

pkgname = libblockdev-swap
	pkgdesc = A library for manipulating block devices - swap device support
	depends = gcc-libs
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libblockdev=3.3.1
	depends = libbd_utils.so
	depends = util-linux-libs
	depends = libblkid.so
	provides = libbd_swap.so

pkgname = python-libblockdev
	pkgdesc = A library for manipulating block devices - Python support
	depends = glib2
	depends = libbytesize
	depends = python
	depends = python-gobject
