pkgbase = python-atomicwrites
	pkgdesc = Atomic file writes on POSIX
	pkgver = 1.4.1
	pkgrel = 6
	url = https://github.com/untitaker/python-atomicwrites
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/untitaker/python-atomicwrites.git#tag=1.4.1
	b2sums = f68f329a809720b64a5d86c2faac9898bbedbccd9052f621da75dc32e74ccb8b00985862453f3b10c6e14335eac3c02ba1f7e6500f7d58e4bc226199796c880e

pkgname = python-atomicwrites
