pkgbase = phantomsatellite-gtk2
	pkgdesc = Rebranded but otherwise stock fork of Pale Moon with the intention of being free to distribute .
	pkgver = 33.9.0.1
	pkgrel = 1
	url = https://github.com/DCFUKSURMOM/Phantom-Satellite
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MPL-2.0
	makedepends = python2
	makedepends = unzip
	makedepends = zip
	makedepends = yasm
	makedepends = libpulse
	makedepends = git
	depends = gtk2
	depends = dbus-glib
	depends = desktop-file-utils
	depends = libxt
	depends = mime-types
	depends = alsa-lib
	depends = startup-notification
	optdepends = libpulse: PulseAudio audio driver
	optdepends = ffmpeg: various video and audio support
	conflicts = phantomsatellite-gtk3
	replaces = phantomsatellite-gtk3
	options = !debug
	options = !lto
	source = phantomsatellite-gtk2-33.9.0.1.tar.gz::https://github.com/DCFUKSURMOM/Phantom-Satellite/archive/refs/tags/v33.9.0.1.tar.gz
	source = mozconfig.in
	sha256sums = 3a3e848a8c11e2f18bdc24a4a4913ab9d5da5dc760927c44afb06898bf96d486
	sha256sums = efbfaa642db13d257ffa820196111759bb092715d4729ad30ad843d5edb5085c

pkgname = phantomsatellite-gtk2
