pkgbase = rpm-sequoia
	pkgdesc = An OpenPGP backend for rpm using Sequoia PGP
	pkgver = 1.9.0
	pkgrel = 1
	url = https://github.com/rpm-software-management/rpm-sequoia
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL-2.0-or-later
	makedepends = cargo
	makedepends = rust
	makedepends = clang
	makedepends = pkg-config
	depends = nettle
	source = rpm-sequoia-1.9.0.tar.gz::https://github.com/rpm-software-management/rpm-sequoia/archive/refs/tags/v1.9.0.tar.gz
	sha256sums = fc5acdbdfd4c3a5d296732ccfb2fec1fcfb3e7e5f41bf9a0789f8b54c161f5f7

pkgname = rpm-sequoia
