pkgbase = nftables
	pkgdesc = Netfilter tables userspace tools
	pkgver = 1.1.0
	pkgrel = 2
	epoch = 1
	url = https://netfilter.org/projects/nftables/
	install = nftables.install
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	license = GPL-2.0-only
	makedepends = asciidoc
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = libmnl
	depends = libnftnl
	depends = gmp
	depends = readline
	depends = ncurses
	depends = jansson
	optdepends = python: Python bindings
	backup = etc/nftables.conf
	source = https://netfilter.org/projects/nftables/files/nftables-1.1.0.tar.xz
	source = https://netfilter.org/projects/nftables/files/nftables-1.1.0.tar.xz.sig
	source = 0001-Revert-cache-recycle-existing-cache-with-incremental.patch
	source = nftables.conf
	source = nftables.service
	validpgpkeys = 37D964ACC04981C75500FB9BD55D978A8A1420E4
	sha256sums = ef3373294886c5b607ee7be82c56a25bc04e75f802f8e8adcd55aac91eb0aa24
	sha256sums = SKIP
	sha256sums = 0c49e931a9546f1d6bbf17d1cc1b6799e9f685259530e0bb7a630e6825c904e5
	sha256sums = f83d6f2f99f306866850c60ff0e343bbd9bc0c989d333ebe288563f7be4afe20
	sha256sums = deffeef36fe658867dd9203ec13dec85047a6d224ea63334dcf60db97e1809ea

pkgname = nftables
