pkgbase = python-pyfakefs
	pkgdesc = pyfakefs implements a fake file system that mocks the Python file system modules
	pkgver = 5.6.0
	pkgrel = 2
	url = https://github.com/jmcgeheeiv/pyfakefs/
	arch = any
	license = APACHE
	checkdepends = python-pandas
	checkdepends = python-xlrd
	checkdepends = python-openpyxl
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-pytest
	source = git+https://github.com/jmcgeheeiv/pyfakefs.git#tag=ba30aeb8b86b44c96adc8531571e5b8a6a50cfd2
	b2sums = 42d6b2c8646067e0a1c2f42a1741f476740ad35990bdabe39caaa69c9bc2275c073ad7cb07fb6a3e224b2969f3c6e2ce5976cd9d4218e377047c2a2ec67908b1

pkgname = python-pyfakefs
