pkgbase = python-semantic-version
	pkgdesc = A library implementing the 'SemVer' scheme
	pkgver = 2.10.0
	pkgrel = 9
	url = https://github.com/rbarrois/python-semanticversion
	arch = any
	license = BSD-2-Clause
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = python-semantic-version::git+https://github.com/rbarrois/python-semanticversion#tag=2.10.0
	sha512sums = 25b04cc7432d310abffc639778d0c50386ced826bf85abebbf1616a2080a018d52414f14d4894d9d087615abad7f8219d98b7c226e1cddb333da7d2e87d14450
	b2sums = 8ae1b92bd83e8f6bc9ff0a96a13fc1c48264fdc1c085d60c247d2f4aac1fb34ca11b354cdf945587a8c0b34d463f80045952188283b43b3bb8ee05bad8b43058

pkgname = python-semantic-version
