pkgbase = kitemviews
	pkgdesc = Widget addons for Qt Model/View
	pkgver = 5.249.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf6
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = qt6-doc
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	source = https://download.kde.org/unstable/frameworks/5.249.0/kitemviews-5.249.0.tar.xz
	source = https://download.kde.org/unstable/frameworks/5.249.0/kitemviews-5.249.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	sha256sums = 5317bc6fd37318f8a70209308646952cc934fde67bc7030586498d64fefed6d0
	sha256sums = SKIP

pkgname = kitemviews
