pkgbase = tde-dbus-1-tqt
	pkgdesc = Trinity D-Bus TQtInterface Wrapper - from TDE upstream GIT
	pkgver = 14.1.5
	pkgrel = 1
	url = https://scm.trinitydesktop.org/scm/git/dbus-1-tqt
	install = trinity-dbus-1-tqt.install
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	arch = espresso
	groups = tde-core
	groups = tde-base
	license = GPL
	makedepends = tde-cmake-trinity
	depends = tde-tqtinterface
	depends = dbus
	provides = dbus-1-tqt
	conflicts = trinity-dbus-1-tqt
	replaces = trinity-dbus-1-tqt
	replaces = trinity-dbus-1-qt3
	replaces = dbus-1-qt3
	options = staticlibs
	options = libtool
	options = !emptydirs
	options = !debug
	source = https://mirror.ppa.trinitydesktop.org/trinity/releases/R14.1.5/main/dependencies/dbus-1-tqt-trinity-14.1.5.tar.xz
	md5sums = 0e7df2fe1010054b7a8395f795d569f1

pkgname = tde-dbus-1-tqt
