pkgbase = python-zope-exceptions
	pkgdesc = Generic exceptions and implementations for Zope
	pkgver = 5.1
	pkgrel = 1
	url = https://github.com/zopefoundation/zope.exceptions
	arch = any
	license = ZPL
	checkdepends = python-zope-testrunner
	makedepends = git
	makedepends = python-setuptools
	makedepends = python-zope-interface
	depends = python-setuptools
	depends = python-zope-interface
	source = git+https://github.com/zopefoundation/zope.exceptions.git#tag=5.1
	sha512sums = a4416eb47db0ec1e9d6a921bdf2aaa53b4ea7e764292c495fb3b7ad0cb6181b5ca14a81f7a08a8d47dd29e9c40280805956642bb9b54f4eb33e3c4c5a4c77b1c

pkgname = python-zope-exceptions
