pkgbase = python-zope-exceptions
	pkgdesc = Generic exceptions and implementations for Zope
	pkgver = 5.2
	pkgrel = 3
	url = https://github.com/zopefoundation/zope.exceptions
	arch = any
	license = ZPL-2.1
	checkdepends = python-zope-testrunner
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-zope-interface
	source = git+https://github.com/zopefoundation/zope.exceptions.git#tag=5.2
	sha512sums = dc92f391d8f3b8e21287397722d46df0011399e29e0bcb6dfdcd4c841f1b23b5448846776c6c216f21e05d5ac3f2b6910241e52c9da1cf32b96f739440ee77ec

pkgname = python-zope-exceptions
