pkgbase = xfce4-pulseaudio-plugin
	pkgdesc = Pulseaudio plugin for the Xfce4 panel
	pkgver = 0.4.8
	pkgrel = 2
	url = https://docs.xfce.org/panel-plugins/xfce4-pulseaudio-plugin/start
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = riscv64
	groups = xfce4-goodies
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = intltool
	makedepends = xfce4-dev-tools
	depends = xfce4-panel
	depends = libpulse
	depends = libkeybinder3
	depends = libnotify
	depends = libcanberra
	optdepends = pavucontrol: default pulseaudio mixer
	source = git+https://gitlab.xfce.org/panel-plugins/xfce4-pulseaudio-plugin.git#tag=xfce4-pulseaudio-plugin-0.4.8
	sha256sums = 08a9d32358358ce03ae8e6d3d6496736931e666bda32705fef8ffda17ce09380

pkgname = xfce4-pulseaudio-plugin
